[2014-04-04 21:08] Fetati opened #1 "Check out button"
![screen shot 2014-04-04 at 2 19 07 pm](https://cloud.githubusercontent.com/assets/4335901/2620470/e32a1642-bc3e-11e3-9222-2b2cf8400237.png)
All pages have Check Out button in the middle of page

[2014-04-04 21:16] DeveloperRegistry commented on #1
Test update

[2014-04-04 21:22] Fetati opened #2 "test 1"
blahblahblah

[2014-04-04 21:25] #2 closed, assigned to nobody

[2014-04-05 01:48] RealBerd commented on #1
Таня, в каком это браузере случилось? Спасибо

[2014-04-05 01:53] Fetati commented on #1
÷ èÒÏÍÅ É óÁÆÁÒÉ

Best regards,
Tanya Fedorova

+1 (650) 296-0353
fedorova.tanya@gmail.com
skype: tanyafdrva
http://ru.linkedin.com/in/tatianafedorova
https://www.facebook.com/tatiana.fedorova
@fetati

See also:
SVOD Conference
www.svod.org

AmBAR
www.ambarclub.org

On Fri, Apr 4, 2014 at 6:48 PM, Nikita Berdnikov
notifications@github.comwrote:

[2014-04-05 02:03] RealBerd opened #3 "При заверщении Wishlist не убирается с главной страницы."
А должно :)

http://i.imgur.com/N65hMD5.png

[2014-04-05 02:17] RealBerd opened #4 "Форма ввода кредитной карты неюзабельна."
Очень плохо сделан ввод номеров во всех полях.

После заполнения первых 4-х цифр нужно чтобы фокус переводился на следующее поле. Ограничть эти поля до 4-х символов максимум.

Для остальных полей тоже самое: где две цифры, должны быть только две цифры и желательно перескаивание фокуса тоже сделать.

http://i.imgur.com/yqODRrF.png

Плюс, почему-то не проходит тестовый платёж если ввести месяц Январ

[2014-04-05 02:18] RealBerd commented on #1
Где ты вязала браузер ÷ èÒÏÍÅ É óÁÆÁÒÉ ? :)

[2014-04-05 02:22] RealBerd opened #5 "Тексты для тултипов. Их нет. Они нужны"
http://i.imgur.com/CLxHrdw.jpg

Все тултипы на "вопросики" сейчас не заполнены.

Тултипы есть на формах создания и редактирования Донии, Вишлиста и Поста

[2014-04-05 03:25] Fetati commented on #1
Так, судя по всему гитхаб русский не любит)))
Safari and Chrome

Best regards,
Tanya Fedorova

+1 (650) 296-0353
fedorova.tanya@gmail.com
skype: tanyafdrva
http://ru.linkedin.com/in/tatianafedorova
https://www.facebook.com/tatiana.fedorova
@fetati

See also:
SVOD Conference
www.svod.org

AmBAR
www.ambarclub.org

On Fri, Apr 4, 2014 at 7:18 PM, Nikita Berdnikov
notifications@github.comwrote:

[2014-04-05 18:19] Fetati opened #6 "We need Sign Out button"
We need Sign Out button at the top of each page.
Сейчас она в кнопке "Menu".

[2014-04-05 18:27] Fetati opened #7 "Delete Edit Profile link"
Delete Edit Profile link from the menu. It should be under the user name link ("tatiana" in my case). Put Edit Profile button here http://gooddler.cloudapp.net/Profile/

![screen shot 2014-04-05 at 11 20 47 am](https://cloud.githubusercontent.com/assets/4335901/2623442/18fd833e-bcef-11e3-9d78-098f40f7b7b8.png)

[2014-04-05 18:38] Fetati opened #8 "Wrong Main Page design"
This is our Main Page design:

![04_gooddler_home_new2-2](https://cloud.githubusercontent.com/assets/4335901/2623467/305621f6-bcf1-11e3-8441-452e21f627bd.jpg)

[2014-04-05 19:31] Fetati commented on #5
Текстами занимается Галя.

[2014-04-05 19:35] Fetati opened #9 "Неочевиден процесс добавления Wishlists и Donee"
Неочевиден процесс добавления Wishlists и Donee. Надо обсудить логику, как это лучше сделать

[2014-04-05 19:53] Fetati opened #10 "Непонятны названия полей"
Enter location - что имеется ввиду?

![screen shot 2014-04-05 at 12 39 39 pm](https://cloud.githubusercontent.com/assets/4335901/2623607/83ae0c9c-bcfb-11e3-8028-8ace554f719e.png)

[2014-04-05 20:02] Fetati opened #11 "Невозможно создать Donee"
Непонятно, почему невозможно создать Donee. После заполнения всех полей появляется вот такой экран:

![screen shot 2014-04-05 at 12 49 31 pm](https://cloud.githubusercontent.com/assets/4335901/2623622/23a8607a-bcfd-11e3-86e8-6d7ded36e59b.png)

[2014-04-05 20:54] RealBerd commented on #10
Location - старна и/или город

[2014-04-06 00:42] RealBerd commented on #11
Да, у меня тоже такое случилось. Мы разобирёмся почему это возникает.

[2014-04-06 00:52] RealBerd commented on #8
Финальная инструкция для вёрстки выглядила так:

![04_main_descriptions](https://cloud.githubusercontent.com/assets/2241165/2624146/bd77a4c8-bd24-11e3-8653-2bef40f16a7b.jpg)
![04_main_cleaned](https://cloud.githubusercontent.com/assets/2241165/2624147/bd79a4da-bd24-11e3-80c4-e59c7152c0a6.jpg)

Правки, которые были придуманы позже:
- Подпись "Menu" под иконкой меню добавлена, из-за того, что никто

[2014-04-06 00:56] RealBerd commented on #1
![6ghblnq](https://cloud.githubusercontent.com/assets/2241165/2624160/4127948a-bd26-11e3-9502-9cba8f64b163.png)
Хитрый чекаут спртался под слоями!
FF28

Баг всё ещё жив.

[2014-04-06 01:28] Fetati commented on #8
Все верно.
All wishlists сейчас есть, просто медленно появляется. Он появляется, когда подводишь мышь к значку. Можно сделать, чтобы появлялся быстрее?

Еще голова у значка Gooddler обрезана в названии Donnees. Должен быть полноценный значок.

[2014-04-06 11:13] DmitrysIF commented on #7
Исправлено.

[2014-04-06 11:14] DmitrysIF commented on #11
Исправлено.

[2014-04-06 11:15] DmitrysIF commented on #1
Еще не исправлено. В процессе.

[2014-04-06 11:15] DmitrysIF commented on #3
Исправлено.

[2014-04-06 11:58] DmitrysIF commented on #1
Исправлено. В деплое.

[2014-04-06 19:33] DeveloperRegistry commented on #7
Tanya, please retest once the fix is deployed.

[2014-04-06 19:35] DeveloperRegistry commented on #1
Tanya, please retest once the fix is deployed.

[2014-04-06 19:36] DeveloperRegistry commented on #11
Tanya, please retest once the fix is deployed.

[2014-04-06 19:39] DeveloperRegistry commented on #3
Nikita, please retest and close the defect if the issue is resolved.

[2014-04-06 23:47] ghost opened #12 "Users unable to share FB link (How it works flow)"
Steps:
1. Tap "How it works"
2. and try to share the video

Bug: never comes to FB

[2014-04-06 23:56] ghost opened #13 ""My GOODdler" Drop down menu overlaps the Gooddler icon (Safari, Chrome, Firefox)"
Steps:
1. tap the "My Gooddler" menu and observe the drop down menu
2. Move sign in down so drop down menu does not overlap
![screen shot 2014-04-06 at 4 57 51 pm](https://cloud.githubusercontent.com/assets/7193843/2626802/7d2c0db4-bde7-11e3-8240-26430b10c6be.png)

Bug: overlaps with main icon
![screen shot 2014-04-06 at 4 21 47 pm](https://cloud.githubusercontent.com/assets/7193843/2626797/fbccff

[2014-04-07 00:14] DeveloperRegistry opened #14 "Create Two Configuration Files for the Project: Development/Testing and Production"
The Development/Test Configuration file should contain links to Test Stripe Gateway, Test Stormpath and Test Databases.

The production Configuration should contain links to production instances.

[2014-04-07 02:18] Fetati commented on #1
Спасибо! Все отлично.

[2014-04-07 02:20] Fetati commented on #7
Fixed.
Thank you!

[2014-04-07 02:21] #7 closed, assigned to Fetati

[2014-04-07 02:21] #1 closed, assigned to Fetati

[2014-04-07 03:08] Fetati opened #15 "Texts: Create Donee page - To change fields"
http://gooddler.cloudapp.net/Donee/Create
1. Добавить текст на сером поле: Add a new address (hint: Shipping address);

2 Вместо существующих полей надо следующие поля:
- Address Line1: (hint: Street address, P.O. box, Company Name, c/o
- Address Line2: (hint: Apartment, Suite, Unit, Building, Floor, etc)
- City:
- State/Province/Region:
- ZIP:
- Country:
- Phone Number: (hint: +x(xxx)xxx-xxxx  )

[2014-04-07 03:17] Fetati commented on #11
Не работает!

[2014-04-07 03:41] ghost opened #16 "Overlap of "My Cart" drop down menu"
Steps
1. Put cursor on "My cart" link

Bug: Drop down menu overlaps the pictures and info about the cart
![screen shot 2014-04-06 at 8 32 11 pm](https://cloud.githubusercontent.com/assets/7193843/2627424/83a3f2fa-be06-11e3-8ea6-ec2b0b17558a.png)

[2014-04-07 03:52] ghost opened #17 "User unable to change his profile picture"
Steps:
1. Create an account and download a picture
2. Go to main page and click the username link to bring up User profile
3. Click Edit my Profile and try to update photo

Bug: user unable to see the change and update the picture.
NOTE: picture was changed but it took a while to see the change - will test more and see what is the problem

NOTE: Edit my profile could be changed to something like b

[2014-04-07 04:02] TShket opened #18 "It would be nice to have colored FB, TW and Linked In icons in user profile"
Steps:
go to user's profile
observe the FB,TW and IN icons

Note: would be nice to have it in color and make sure they follow the copyright specs of the copyright holders.
![icons social media](https://cloud.githubusercontent.com/assets/7193843/2627508/5be11146-be09-11e3-9b1b-1c1ac7060c87.png)

[2014-04-07 04:45] Fetati commented on #11
Tanya, please attach error message or screen shot.

[2014-04-07 05:12] ghost opened #19 "The text font and size across the web page should be revised"
Some items on webpage is very small, but i think the size should be more aligned
![font and size](https://cloud.githubusercontent.com/assets/7193843/2627767/3950029a-be13-11e3-8263-661da0df5eb6.png)

[2014-04-07 06:12] DmitrysIF commented on #17
Да, проблема существует и пока непонятно - или это браузер отказывается загружать новую картинку по тому же адресу, показывая закэшированную картинку. Или же проблема в большой задержке обновления ссылки на картинку.

[2014-04-07 06:51] DmitrysIF commented on #11
Мне необходимо знать браузер, в котором это было обнаружено, какие поля были заполнены, были ли загружены картинки в галерею. В общем все, что поможет мне вопроизвести ошибку и отследить ее источник.

[2014-04-07 07:00] DmitrysIF commented on #11
Ошибка локализована. Исправляется.

[2014-04-07 07:36] Fetati commented on #11
Было обнаружено в Хроме. Все поля заполнены. Пыталась и с фото, и без фото. Никак не работает.

[2014-04-07 07:40] Fetati commented on #5
см. Issue - Texts: Create Donee page - To change fields
Там описано создание Donee, поля адреса и пр.

[2014-04-08 05:02] DmitrysIF commented on #11
Попробуйте еще раз - я сделал обновление.

[2014-04-08 05:05] DmitrysIF commented on #18
Добавлена возможность указания ссылок на свои аккаунты в социальных сетях.

[2014-04-08 05:30] Fetati opened #20 "Texts: for Create Donee Page - replace "Enter Donee slug""
Заменить "Enter Donee slug" по этому образцу:
![gooddler create donee issues](https://cloud.githubusercontent.com/assets/4335901/2640169/b9d5bf88-bede-11e3-9638-bdbf3ebe592c.jpg)

[2014-04-08 05:39] Fetati opened #21 "Edit Donee Page: Не тот курсор при наведении на Safe Changes"
http://gooddler.cloudapp.net/Profile/Edit
Edit Donee Page: Не тот курсор при наведении на Safe Changes - сейчас палочка, как для редактирования. Надо ладошку с пальцем, как на кнопке Browse

![goddler issues edit donee](https://cloud.githubusercontent.com/assets/4335901/2640208/24a708fc-bee0-11e3-8a6f-d52cdd706646.jpg)

[2014-04-08 05:43] Fetati opened #22 "Edit Profile page: после редактирования и нажатия кнопки Save Changes должно выкидывать на User Profile"
Edit Profile page: после редактирования и нажатия кнопки Save Changes должно выкидывать на User Profile: http://gooddler.cloudapp.net/Profile/

[2014-04-08 05:47] Fetati opened #23 "Donee Page: Кнопка Donee’s wishlists битая"
При нажатии кнопки Donee’s wishlists выдает:

Server Error in '/' Application.
The resource cannot be found.
Description: HTTP 404. The resource you are looking for (or one of its dependencies) could have been removed, had its name changed, or is temporarily unavailable.  Please review the following URL and make sure that it is spelled correctly.
Requested URL: /blablablablab/

![screen shot 2014-

[2014-04-08 05:50] Fetati opened #24 "Как создавать посты?"

[2014-04-08 05:52] Fetati opened #25 "Post eror"
При нажатии на Read more у поста на странице Donee (например, http://gooddler.cloudapp.net/Donee/11 ) выдает ошибку:
http://gooddler.cloudapp.net/Blog/ViewPost/6

[2014-04-08 07:05] Fetati opened #26 "Update Donee Fails with Status Message: Sorry, Error on a server"
Steps to Re-create:

1) Login into the application
2) Create Donee with description
3) Save Donee
4) Click on Donee to get to update page
5) Enter some additional text in the description text area and click Update Donee. Error message will be displayed next to View Donee:  Status Message: Sorry, Error on a server

[2014-04-08 07:08] DeveloperRegistry commented on #26
Note: this was logged by Anton under Tanya's login. The issue was discovered with Chrome browser in local dev

[2014-04-08 09:02] DmitrysIF commented on #26
Причина найдена - исправления будут в силе после следующего обновления.

[2014-04-08 09:12] DmitrysIF commented on #24
My Donee -> posts -> +posts;
My Wishlists -> +posts;

Есть проблемы с редактором, который позволяет кастомизировать текст дони, вишлиста и так далее. По-этому возможны ошибки при использовании кавычек и еще нескольких символов.
Исправляется.

[2014-04-08 09:29] DmitrysIF commented on #23
Поправлено, будет в следующем обновлении.

[2014-04-08 09:31] DmitrysIF commented on #25
Исправлено. Будет в следующем обновлении.

[2014-04-08 09:54] #3 closed, assigned to RealBerd

[2014-04-08 15:27] TShket opened #27 "UX: It would be nice to have a carousel for images instead of backward and forward option"
Not very important now, but in the future it will be better for user experience

Steps:
1. go to any project that has at least 3 pictures in profile
2. slide the pictures

Improvement: It will be nice to have a carousel flow for showing pictures instead of back and forward

[2014-04-08 15:32] TShket opened #28 "UX: It would be beneficial to have sign in/sign up flow through FB (if possible)"
Ideally if you want to spread the word and be user friendly FB sign up and sing in is must have. But not sure what is the legal aspect of that.

[2014-04-08 15:38] ghost opened #29 "UX: It is critical to have Retrive/Forgot your password flow on Sign in page"
Must have!!!
or any other flow of retrieving password

[2014-04-08 15:49] ghost opened #30 "UX: any drop down text should not overlap graphics or text or any fields across all pages"
![screen shot 2014-04-08 at 8 41 25 am](https://cloud.githubusercontent.com/assets/7193843/2645665/2a350d0a-bf35-11e3-91db-84c0772eb396.png)
![screen shot 2014-04-08 at 8 33 00 am](https://cloud.githubusercontent.com/assets/7193843/2645666/2a36c258-bf35-11e3-89ad-fdbf67075a3d.png)

[2014-04-08 15:58] ghost opened #31 "UX: it would be beneficial to keep one style for Sign in /Sign out buttons on all pages"
![sign in up](https://cloud.githubusercontent.com/assets/7193843/2645805/a7566f94-bf36-11e3-88b3-d41fa3ad55ab.png)
![sign up page](https://cloud.githubusercontent.com/assets/7193843/2645807/ad0a6558-bf36-11e3-821e-d22a68502c35.png)

[2014-04-08 16:07] ghost opened #32 "UX: Sign up flow should be more prompting to user"
Nice to have:
1. When user register (sign up) and e-mail already exist it should prompt user to enter different email right away, instead of going and finishing sign up the flow (saves time)- rare case but...
2. Same with Handle (username) (more common case) if user chose Handle that is already in use it should prompt immediately instead of waiting for user to finish the flow and then go back
3. P

[2014-04-08 16:26] Fetati opened #33 "Курсор прокрутки количества товаров в вишлисте"
http://gooddler.cloudapp.net/Wishlist/1
При подведении мыши к выбору количества товаров в вишлисте, курсор мыши при уменьшении количества товаров, неправильный (веритикальная палочка), и отличается от курсора увеличения товаров (стрелочка)

Сделать курсор мыши стрелкой, как на увеличении количества товаров.

[2014-04-08 16:30] ghost opened #34 "UX: Update your cart option should be added to the flow"
Must have:
Steps:
1. add 3-4 items to your cart
2. go to cart and delete 1 item
3. observe the cart and total amount $ on the screen and amount of items

Bug/Improvement: have update your cart btn to refresh the page with all necessary updates associated with it ( number of items, amount, cart, order of items and etc)
![items amount](https://cloud.githubusercontent.com/assets/7193843/2646216/241dd

[2014-04-08 16:37] ghost opened #35 "UX: Check out btn should be consistent across all pages"
![check out](https://cloud.githubusercontent.com/assets/7193843/2646292/1238ab2e-bf3c-11e3-93eb-861ceba16a40.png)

![cehck ou t2](https://cloud.githubusercontent.com/assets/7193843/2646333/bc36fbc6-bf3c-11e3-9aba-2b5a7f7a32a7.png)

it would be more appealing and easy to user to navigate the site

[2014-04-08 16:51] ghost opened #36 "UX: Icon for adding/reducing amount of items should be a lit bit bigger for easy usage"
go to project and tap to see what can be donated to project and try to increase the amount of items

Improvements: it would be nice to enlarge the icon for better user experience
![enhance slider](https://cloud.githubusercontent.com/assets/7193843/2646417/f6002430-bf3d-11e3-9ab8-a5b1cd220bfc.png)

[2014-04-09 03:40] Fetati commented on #11
Не работает в Chrome and Safari

[2014-04-09 03:44] Fetati commented on #24
Не могу проверить, так как никак не могу завести Donee

[2014-04-09 03:46] DeveloperRegistry commented on #11
Tanya, do you have any special characters such as apostrophes? I wonder if you could attach a screen shot with all fields populated?

[2014-04-09 03:48] Fetati commented on #11
![screen shot 2014-04-08 at 8 47 17 pm](https://cloud.githubusercontent.com/assets/4335901/2651841/bbd511b0-bf99-11e3-991d-54d404d135a1.png)

[2014-04-09 04:09] DeveloperRegistry commented on #11
Did you cut and paste the Description from HSTT website? I typed it in and it worked for me. However, when I cut and paste I got the following exception:

[Dima, this is for you. We may need to start stripping content from special characters, styles and fonts]
A potentially dangerous Request.Form value was detected from the client (contentdonee="...t-family: &#39;trebuchet MS&#3...").

Description

[2014-04-09 04:12] DeveloperRegistry opened #37 "Create a Delete Button for Donees for Admin Users Only"
How can we delete donees?

[2014-04-09 04:24] Fetati commented on #11
Да, я copy/paste текст в описание.
Тогда это баг - люди не будут вручную вбивать длинные описания.

[2014-04-09 05:13] ghost opened #38 "UX: Wording on some sections should be corrected"
Just go over every page and see where we used 2 words and make sure its capitalized
![capial let](https://cloud.githubusercontent.com/assets/7193843/2652208/4d19cc00-bfa5-11e3-8e98-aa636363d2b5.png)
![spel](https://cloud.githubusercontent.com/assets/7193843/2652227/bc29f9e4-bfa5-11e3-8726-019bf6796da6.png)

[2014-04-09 05:14] ghost opened #39 "Sign in field should say ; username or e-mail, but not log in"
![log in vs username email](https://cloud.githubusercontent.com/assets/7193843/2652234/e1bee76e-bfa5-11e3-9bf4-25a70f1f85ab.png)

[2014-04-09 05:22] ghost opened #40 "Is it possible to get rid of outline on each btn"
![outline no no](https://cloud.githubusercontent.com/assets/7193843/2652261/e92c5792-bfa6-11e3-99ea-090a129babc4.png)
 on each page!

[2014-04-09 05:31] ghost opened #41 "If user pasted text into the field "About" (Edit Profile Flow) form Linked in, FB or any other sources, it gives an error"
Steps:
1. goto profile
2. tap edit
3. in "About" add some copied text form lets say your Linked in profile

BUG: it gives you an error and does not save. if you type (not copy paste) it saves the changes

![error putting more info](https://cloud.githubusercontent.com/assets/7193843/2652303/203a9e14-bfa8-11e3-8d0e-90d85ef7e7b5.png)

[2014-04-09 05:36] ghost opened #42 "UX: If we have FB,Tw,Linked In links in "Edit Profile Flow" then we should have them visible on profile as well"
![links to profiles](https://cloud.githubusercontent.com/assets/7193843/2652324/e5991a00-bfa8-11e3-904e-f4953029749e.png)

[2014-04-09 08:49] DmitrysIF commented on #11
Да, я знаю на счет проблемы с "'trebuchet MS&#3...")." Проблема состоит в том, что визивиг-редактор преобразует некоторые символы в численное выражение типа #3...(somenumbers), что воспринимается детектором атак как потенциально опасное выражение, которое может нанести вред.
Проблема с редактором решается.

[2014-04-09 15:32] DmitrysIF commented on #26
Проверьте и закройте этот issue, если все нормально.

[2014-04-09 15:33] DmitrysIF commented on #11
Проверьте и закройте этот issue, если все нормально.

[2014-04-09 15:34] DmitrysIF commented on #24
Попробуйте сейчас завести дони.

[2014-04-09 16:36] Fetati opened #43 "После создания чего-то нового должна открываться страница этого нового"
После создания чего-то нового должна открываться страница этого нового, а не оставаться режим редактирования. А то кажется, что тебя не пускают дальше, так как есть какие-то ошибки.

Например, Create Donee или Create Post, etc

[2014-04-09 16:42] Fetati commented on #24
C Дони все в порядке, заводится. А вот пост выглядит криво: http://gooddler.cloudapp.net/Donee/10017

![screen shot 2014-04-09 at 9 40 36 am](https://cloud.githubusercontent.com/assets/4335901/2658237/f014bb62-c005-11e3-92c2-5daa23b3fe65.png)

[2014-04-09 16:46] Fetati opened #44 "Post: Из поста не понятно, как вернуться обратно. Ошибка в заголовке."
Из поста не понятно, как вернуться обратно, и не понятно где ты. Хорошо бы указать, к чему этот пост имеет отношения на странице поста

![screen shot 2014-04-09 at 9 45 05 am](https://cloud.githubusercontent.com/assets/4335901/2658270/724ffccc-c006-11e3-9db0-6872f46c1347.png)

[2014-04-09 17:02] #25 closed, assigned to nobody

[2014-04-09 17:04] Fetati opened #45 "Post: На главной странице новый пост криво выглядит"
На главной странице мой новый пост (самый первый слева) криво выглядит - не видно текст поста и заголовок, а также не возможно кликнуть на read more

![screen shot 2014-04-09 at 10 02 21 am](https://cloud.githubusercontent.com/assets/4335901/2658477/ffd00b9e-c008-11e3-9ed6-1c2a9d8e7d21.png)

[2014-04-09 17:05] #11 closed, assigned to RealBerd

[2014-04-09 17:06] #10 closed, assigned to galinafed

[2014-04-09 20:55] Fetati commented on #44
Серый текст с серым логотипом Goddler - это формат Donee name, а не заголовок поста. Надо сюда вставить линк имя дони. А заголовок должен быть просто текстом ниже.

[2014-04-09 21:01] Fetati opened #46 "Post: Битая ссылка заголовка поста."
Битая ссылка заголовка поста. При нажатии на название поста, выдается ошибка: http://gooddler.cloudapp.net/Admin/Posts?doneeid=10017
![screen shot 2014-04-09 at 1 54 21 pm](https://cloud.githubusercontent.com/assets/4335901/2661199/f20ce114-c029-11e3-95b0-bcb99665040c.png)

[2014-04-09 21:08] Fetati opened #47 "Post: Как добавить пост к юзеру?"
![profile_-_gooddler](https://cloud.githubusercontent.com/assets/4335901/2661273/058a1e9a-c02b-11e3-93ae-16abc290f65b.png)

[2014-04-10 02:57] ghost commented on #17
Please keep me posted when it can be tested again.
Thank you

[2014-04-10 03:03] ghost opened #48 "Icon is cut and it will be good to make it bigger"
![cut 2](https://cloud.githubusercontent.com/assets/7193843/2663545/b740ffec-c05c-11e3-929a-1930e339e2ed.png)
![cut 1](https://cloud.githubusercontent.com/assets/7193843/2663546/b7433294-c05c-11e3-9103-b6f740991f3d.png)

[2014-04-10 03:20] ghost opened #49 ""read more" should be aligned no matter how much text is inserted (one link is not linked text)"
![read it alligned](https://cloud.githubusercontent.com/assets/7193843/2663600/0b176f32-c05f-11e3-8054-d130cfc99b26.png)

[2014-04-10 03:49] ghost opened #50 ""Do" icon is cut on the last item on the list"
Steps:
tap an arrow that allows you to slide projects and observe the last "Do" icon

Bug: Cut (but tappable:)
![do cut](https://cloud.githubusercontent.com/assets/7193843/2663750/1ae6f078-c063-11e3-8f48-d088001f03cd.png)

[2014-04-10 04:13] ghost opened #51 "Wording on "privacy notice" and "conditions of use" needs to be corrected"
Steps
Do not sign in
tap any project and add items and check out
tap the links at the very bottom  "privacy notice" and "conditions of use"

Improvement
separate words
move word a lit bit right so its not all the way to the border of the screen
could we add some text (a lot:) so i can tst scroll option
![wording](https://cloud.githubusercontent.com/assets/7193843/2663833/65dc77da-c066-11e3-8124-db

[2014-04-10 04:43] ghost opened #52 "password msg should be revised and put under the password field"
try to Sign up at check out and regular Sign up flow and observe the wording and location of info
Improvement:
1. Words should be like : password doesn't match
2. Check out flow: place the "password doesn't match" right under the password field and if possible highlight the area that is wrong with red outline or something
![pass](https://cloud.githubusercontent.com/assets/7193843/2663978/933550cc-

[2014-04-10 04:53] ghost opened #53 "Check out flow: revise the payment info ; use icons instead of words"
![credit](https://cloud.githubusercontent.com/assets/7193843/2664020/0c8661c2-c06c-11e3-81d3-c644d9968983.png)
![credit cards](https://cloud.githubusercontent.com/assets/7193843/2664019/0c690ad2-c06c-11e3-8817-c8e3320c7581.png)

[2014-04-10 04:58] ghost opened #54 ""Review your order" will have more user friendly look if all info will be more stretched across the page instead of column"
Tanusha its up to you , but the reason it will be better to have it stretched, because user can see more of the info without scrolling   ![review your order](https://cloud.githubusercontent.com/assets/7193843/2664032/8334e820-c06c-11e3-9cda-2434a3fef200.png)

[2014-04-10 10:05] DmitrysIF commented on #41
Если вы находите ошибки, которые связаны со вводимыми данными - не забывайте так же приводить данные, которые вы вводили для вызова ошибки!
Проблемой может быть что угодно - от ошибки передачи данных до запрещенных символов в строке запроса, которое генерируется из введенных данных.

[2014-04-10 12:32] #23 closed, assigned to nobody

[2014-04-10 12:34] #22 closed, assigned to nobody

[2014-04-10 16:49] DmitrysIF commented on #24
Ага, хорошо - теперь тексты в превью будут чиститься от тегов и выводиться голым текстом. В следующем обновлении.

[2014-04-10 16:51] #26 closed, assigned to DmitrysIF

[2014-04-10 17:02] ghost commented on #41
Good point. Will do.
In this particular case it was copied text from my Linked In Account.

[2014-04-10 17:38] DmitrysIF commented on #41
Ошибка сейчас еще существует? Я недавно делал обновление, которое устраняло серьезную ошибку в визивиг-редакторе. Возможно - она и была причиной найденного вами бага.

[2014-04-10 18:54] DmitrysIF commented on #15
Будет, через одно-два обновления.

[2014-04-10 18:55] DmitrysIF commented on #4
Сделал.

[2014-04-10 18:55] #4 closed, assigned to DmitrysIF

[2014-04-10 18:57] DmitrysIF commented on #24
Проблема решена.

[2014-04-10 18:57] #24 closed, assigned to RealBerd

[2014-04-10 18:57] DmitrysIF commented on #29
Added.

[2014-04-10 18:57] #29 closed, assigned to nobody

[2014-04-10 18:58] DmitrysIF commented on #34
Fixed.

[2014-04-10 18:58] #34 closed, assigned to nobody

[2014-04-10 19:00] DmitrysIF commented on #37
На данный момент подобной функции в дизайнах нет.

[2014-04-10 19:01] DmitrysIF commented on #39
Fixed.

[2014-04-10 19:01] #39 closed, assigned to nobody

[2014-04-10 19:03] DmitrysIF commented on #44
Так, я сделал обновления - мне бы очень хотелось получить набросок того, что мы ожидаем увидеть в итоге на странице поста.

[2014-04-10 19:05] DmitrysIF commented on #43
Вопрос - как это нужно реализовать? Просто перекидывать на страницу дони/поста/вишлиста/etc, как она есть и дальше пользователь должен будет принудительно кликнуть "редактировать", если что-то не понравится?

[2014-04-10 19:06] DmitrysIF commented on #45
Fixed.

[2014-04-10 19:07] DmitrysIF commented on #45
Вопрос следующий - обязателен ли показ заголовка поста? Как быть, если длина заголовка поста очень большая?

[2014-04-10 19:12] DmitrysIF commented on #47
Найти список донейшенов в своей админке, нажать кнопку "+пост" возле нужного пожертвования. Созданный пост будет адресован пользователю, который сделал выбранное нами пожертвование.
Я решил, что так будет целесообразнее - пост о пользователе можно сделать только тогда, когда он сделал что-то для дони. Так же можно создать посты, которые адресуются вишлисту или дони.

[2014-04-10 19:15] DmitrysIF commented on #50
Разрешение экрана какое?

[2014-04-10 19:16] DmitrysIF commented on #51
Как будет готов текст для этой страницы - приведем в порядок. Сейчас тут стоит заглушка - пустой шаблон.

[2014-04-10 21:37] ghost opened #55 "UX: "Done" btn is never at the top (sign up flow)"
![done is never at the top](https://cloud.githubusercontent.com/assets/7193843/2673848/50e415ee-c0f8-11e3-9d68-565856c08191.png)
steps:
Sing up for new account
after user is done s/he redirected to a profile page

Improvement: "Done" btn is never at the top of the page (just UX recommendation)

[2014-04-11 01:18] Fetati commented on #54
Согласна

[2014-04-11 01:19] Fetati commented on #47
Пока не понимаю, как это будет работать. Чуть позже вернемся к этому вопросу.

[2014-04-11 01:48] Fetati opened #56 "Wishlist: Переворачивается фотка"
При создании вишлиста добавляю фотографию. Она автоматически поворачивается горизонтально, хотя картинка вертикальная. Можно исправить?

![screen shot 2014-04-10 at 6 46 54 pm](https://cloud.githubusercontent.com/assets/4335901/2675523/63917c18-c11b-11e3-80f3-bad3583c17bb.png)

[2014-04-11 02:04] Fetati opened #57 "Design: Поля внесения товара в вишлист не соответствуют тексту под ними"
![screen shot 2014-04-10 at 6 53 50 pm](https://cloud.githubusercontent.com/assets/4335901/2675548/4e0e35ec-c11c-11e3-90b6-9b1889495e6d.png)

Галина напишет тексты как должно быть.

[2014-04-11 02:09] Fetati opened #58 "Create wishlist: Все пользователи видят Shipping cost поле?"
Все пользователи видят Shipping cost поле при создании вишлистов и их редактировании? Или только администратор?
Должен видеть только администратор.

[2014-04-11 02:18] Fetati opened #59 "Check out: При оплате не понятно, прошла оплата или нет."
При оплате товаров нет никаких уведомлений, что проплата прошла. Надо перекидывать на другую страницу "Thank you for your payment" или что-то в этом духе.

[2014-04-11 02:31] DeveloperRegistry commented on #59
Tanya, we need to come up with design for a Payment Success page. Ideally, it should be print-able  (receipt style)  since some donations are tax deductible.

We can consider providing Charity Name, Address, Dollar Amount and agency type (e.g. 501 (c) (3) ).

What do you think?

[2014-04-11 03:55] DmitrysIF commented on #58
Не понимаю проблемы. Можно подробнее об этом рассказать?

[2014-04-11 03:56] DmitrysIF commented on #57
"Поля внесения товара в вишлист не соответствуют тексту" - текст принадлежит таблице.

[2014-04-11 03:57] DmitrysIF commented on #56
Прошу переслать мне файл, который вы загружали, по почте.

[2014-04-11 03:59] DmitrysIF commented on #55
По началу там кнопки не было вообще - были требования установить ее для впервые зарегистрившихся, чтобы не вынуждать их крутить страницу вниз за кнопкой, если они не планируют сейчас заполнять профиль.

[2014-04-11 04:01] DmitrysIF commented on #54
Вы имеете в виду растянуть список "Total order" до состояния таблицы?

[2014-04-11 04:02] DmitrysIF commented on #53
Иконки платежных систем должны быть статичными и находиться неким списком над формой ввода данных кредитной карты?

[2014-04-11 04:08] DmitrysIF commented on #46
Поправлено - ожидать в следующем обновлении.

[2014-04-11 04:21] DmitrysIF commented on #41
?????????????.

2014-04-11 2:02 GMT+09:00 TShket notifications@github.com:

[2014-04-11 04:34] ghost opened #60 "UX: reset password page should be revised"
go to sign in flow and click forgot password/username
UX recommendations
![reset password](https://cloud.githubusercontent.com/assets/7193843/2676225/80d55cf6-c132-11e3-885f-1300f427678a.png)

[2014-04-11 04:36] DmitrysIF commented on #56
Мои тесты проходят без ошибок - картинки загружаются перевернутыми, если они на компьютере были уже перевернутыми. Если вы переворачивали картинку до нормального положения - вы ее могли не сохранить перед загрузкой.

Попробуйте еще раз загрузить картинку, предварительно ее развернув на компьютере и сохранить изменения, чтобы если открыть картинку на компьютере - она не разворачивалась в старое пол

[2014-04-11 04:44] ghost opened #61 "Forgot username/password link should be revised"
click sign in and click forgot username/password

issue: after user click that link there is only option to reset password BUT not the username - confusing
![flow of username](https://cloud.githubusercontent.com/assets/7193843/2676269/f331ccc0-c133-11e3-8d0b-4154a3319201.png)

[2014-04-11 04:52] ghost opened #62 "UX: Having two ways to Sign Up is not necessary (Sign Up icon is good enough)"
1. I would remove the 'I want to sign up" link ( we have icon)
2. If we do "forgot username flow then the link should be under username field,if we don't "forgot password" should be moved under the  password field
   ![location of password retrive](https://cloud.githubusercontent.com/assets/7193843/2676313/190a876a-c135-11e3-94eb-b2eeccc88b13.png)

[2014-04-11 05:09] ghost opened #63 "Need spinner instead of lengthy words in sign in flow"
![spinner 2](https://cloud.githubusercontent.com/assets/7193843/2676394/7ed060d6-c137-11e3-9671-6c2be350840a.png)

[2014-04-11 05:40] DeveloperRegistry commented on #37
Dima and Nikita, we discussed this with Tanya. We believe we need this functionality. I wonder if you could add it for Admin Users only? Another option, I can could code the change and ask Dima to Peer Review the change. Please let me know the best way to proceed. Thank you.

[2014-04-11 06:50] Fetati commented on #57
Тем более. Сейчас эти надписи просто болтаются, не понятно к чему. Должна быть или видна таблица, и что это к ней заголовки.  Или вообще не должно быть этих надписей, когда товаров нет.

[2014-04-11 06:53] Fetati commented on #59
Да, согласна, it should be printable (receipt style).

Я уточню у Гали какие нужны поля в этой бумаге для налогов.

[2014-04-11 07:02] Fetati commented on #58
Когда заносишь линк амазона, добавляя товар в вишлист, я вижу поля: 1) для линка, 2) количество товара, 3) shipping cost. Поле shipping cost может видеть и редактировать ТОЛЬКО администратор, не представитель Donee. Это поле редактируется вручную администратором gooddler, в зависимости от стоимости шипинга на амазоне, и вручную раскидывает цену шипинга на каждый товар. Никита, все верно?

![edit_w

[2014-04-11 16:39] Fetati commented on #56
Комп (в моем случае Мак) автоматически при просмотре поворачивает фотку так, как надо. Я ее вижу в обычном виде, не перевернутую. И при загрузке на Фейсбук или в другие соцсети фотка автоматически переворачивается в нормальный вид. Люди привыкли к этому. Я уже очень давно не сталкивалась с таким при загрузке фотографий. Можно сделать так, как везде? Чтобы не ломать голову как и в чем  фотку поверн

[2014-04-11 16:57] Fetati commented on #51
Дима, Никита, тексты были высланы на почту дней пять назад. Могу продублировть, если не получили.

[2014-04-11 17:01] Fetati commented on #53
Да, мне кажется, что именно так.

Тамара, что думаешь?

[2014-04-11 17:03] #49 closed, assigned to nobody

[2014-04-11 17:37] ghost commented on #53
Totally agree. icons are static, but we have to make sure that we recognize the payment type once it is entered into a field, e.g Visa will have only 3 digit security code, where AmEx is 4 and we plan PayPall can be different flow.
Do we give the option to have multiple cards?

[2014-04-11 17:41] Fetati commented on #45
Сейчас в заголовок поста на главную страницу попадает не заголовок реально, а кусок текста. А заголовка поста нет вообще.
Вот к примеру пост:
![screen shot 2014-04-11 at 10 08 01 am](https://cloud.githubusercontent.com/assets/4335901/2682499/ed033006-c19b-11e3-994e-fd5a226eb121.png)

Вот, что видно на главной странице (это кусок текста, а не заголовок)
![screen shot 2014-04-11 at 10 08 12 am](http

[2014-04-11 17:55] ghost commented on #55
Dima, need your input on that. Can we remove DONE at the top? Move First and Last name in one row? Bring About higher? put Location. FB.TW and IN fields in two rows and two column? Place Photo fields under the Profile Picture square ( or kind like FB does having a photo icon (camera icon)  inside the area and once user clicks it has the option to choose the photo.) I would also reconsider the "?"

[2014-04-11 17:59] ghost commented on #54
I want to say everything should be placed in wider range
Row one: Total, description of item, price, total
Row two; payments details with all credit card icons
row three: payments details and its ok to make it in row, like First name last name and etc.

its just 50% of page is unused

[2014-04-11 18:00] ghost commented on #41
checking

[2014-04-11 18:14] ghost commented on #41
Works fine:)) Thank you so much Dima
But have a couple questions, let me know if you want me to log in those issues  separately
1. can we make FB, TW , IN icons in color ( UX more recognizable among users) i think i had a ticket for that
2. can we use that empty space for ABOUT info? it will reduce the amount of space an scrolling- even though user will not put a lot of info but who knows:)
   ![u

[2014-04-11 18:39] galinafed commented on #57
Add Items (?): Find your desired item online (we only use Amazon.com at the moment). Copy the link and paste it into the slot below. Adjust the quantity. Click ADD to add it to the list.

[2014-04-12 04:55] RealBerd commented on #58
Впервые об этом слышу (или впервые обратил на это внимание)
Мы сделали так, что любой имеющий доступ к редактированию вищлиста может править shipping cost.
Можешь объяснить больше? Зачем это нужно и как оно должно себя вести? Дело в том, что представитель донии имеет право опубликовать вищлист без вмешательства администратора.
В какой момент администратор вообще сможет отредактировать эти shipping

[2014-04-12 06:22] Fetati commented on #58
Никита, позвони мне, я тебе напомню, что мы обсуждали и что решили. Это была твоя идея :))

Sent from my iPhone

[2014-04-12 06:30] RealBerd commented on #58
Напиши здесь. Письменно.
То что сейчас в релизе и была моей идеей. Это "правки на лету", которые не обсуждались чательно.
А цикл проверки администратором созданных вищлистов никогда не оговаривался.

[2014-04-12 07:53] Fetati commented on #58
Проблема в том, что люди могут оплачивать одну вещь из списка. Весь товар по одной позиции листа будет отправлен один раз, когда все количество оплачено (по одной позиции). Это значит, что каждый, оплативший одну штуку товара не должен платить полную стоимость доставки.
Я предлагала автоматически брать стоимость доставки данного товара с Амазона, делить его на количество выбранных дони товаров, и

[2014-04-13 11:02] DmitrysIF commented on #56
Думаю - вам стоит это обсудить с Никитой.

[2014-04-13 11:40] DmitrysIF commented on #55
Сделать можно все  - вопрос только в том, сколько на это уйдет времени и труда.

[2014-04-13 11:57] DmitrysIF commented on #51
Тексты получил (12-го числа). Верстка будет через несколько обновлений.

[2014-04-13 17:09] Fetati commented on #43
Да. Это куда более логично и привычно, чем оставлять людей на странице редактирования.

[2014-04-13 23:24] DmitrysIF commented on #45
Fixed

[2014-04-13 23:24] #45 closed, assigned to nobody

[2014-04-13 23:25] DmitrysIF commented on #62
Fixed

[2014-04-13 23:25] #62 closed, assigned to nobody

[2014-04-13 23:25] DmitrysIF commented on #61
Fixed

[2014-04-13 23:25] #61 closed, assigned to nobody

[2014-04-13 23:25] DmitrysIF commented on #60
Fixed

[2014-04-13 23:25] #60 closed, assigned to nobody

[2014-04-13 23:27] DmitrysIF commented on #59
Предварительная версия странички "спасибо, все прошло здорово" готова, пока только 2 сообщения "оплата совершена" и "вернуться на главную".

[2014-04-13 23:27] DmitrysIF commented on #15
Fixed

[2014-04-13 23:32] DmitrysIF commented on #43
Для дони, вишлиста перенаправление на созданную страницу реализовано.

[2014-04-13 23:33] DmitrysIF commented on #43
Нужно еще сделать для поста?

[2014-04-13 23:33] DmitrysIF commented on #44
Повторюсь :)
Что хотим получить в итоге? Текущий вариант устраивает?

[2014-04-13 23:35] DmitrysIF commented on #59
Хотелось бы знать - что хотим получить в итоге.

[2014-04-14 02:03] Fetati opened #64 "How can I see donors?"
Как я могу видеть кто дал денег? И вообще, где можно найти доноров на сайте?

[2014-04-14 02:26] Fetati opened #65 "Из вишлистов битые линки на посты"
Например:
http://gooddler.cloudapp.net/Wishlist/10005

В принципе, проверила другие вишлисты, тоже битые линки у постов.

[2014-04-14 02:57] Fetati opened #66 "Покупка товаров из вишлиста: Сумма в корзине и надпись Added должны пояляться одновременно."
При нажатии кнопки Donate сумма в корзине должна появляться одновременно с надписью Added в строке вишлиста, а не после обновления.

![screen shot 2014-04-13 at 7 51 06 pm](https://cloud.githubusercontent.com/assets/4335901/2691424/c9bd30a2-c37f-11e3-8d0a-88b31a6d5b66.png)

[2014-04-14 03:00] Fetati commented on #43
Да, для поста тоже надо.

[2014-04-14 04:18] ghost commented on #55
Sure. :))

[2014-04-14 04:26] TShket opened #67 "Check the email ( support@stormpath.com.) - period has to be removed from HTML tag- user unable to send email"
forgot your password flow
email body

[2014-04-14 04:36] ghost commented on #60
:) happy QA:)
Thank you Dima

[2014-04-14 04:42] DeveloperRegistry commented on #67
Dima, did you replace the latest API key for stormpath? If not, I can resend you. Tanya now has a new account. I may need some help with configuring email options.

[2014-04-14 05:16] ghost opened #68 "UX: if possible land user on the same sign in page for Linked In (for Safari and Firefox)"
Have Linked in link in your profile and open it SAFARI, CHROME, FIREFOX

Chrome lands you to better sign in flow
Safari and Firefox is not that good, but not sure if we can control it
But nice to have the same flow
![linked in firefox](https://cloud.githubusercontent.com/assets/7193843/2691965/edd41d3e-c393-11e3-8424-2336137c6e89.png)
![linked in safari](https://cloud.githubusercontent.com/assets/

[2014-04-14 05:31] ghost opened #69 "User looses all upload when creating donees and filling the info incorrect"
Steps:
1. click create Donee
2. fill out info but leave address line 2 blank (what if people have home address as their business and have no suite # to indicate in Address Field #2 ?) Maybe we should allow to leave it blank?
3. Upload pictures for Donees
4. Click Done

Bug: user will lose all the uploads (photos) if he made a mistake in one of those fields
UX recommendations: we should be able to

[2014-04-14 05:34] ghost opened #70 "Donee creation flow: user unable to delete uploaded photo"
create Donee and add photo (file) and click Upload and then try to delete it

No luck (at least in Chrome for now:)

[2014-04-14 05:36] ghost opened #71 "UX: can we change SLUG to something different?"
create Donee
and observe the first field
UX: sounds very strange

![slug](https://cloud.githubusercontent.com/assets/7193843/2692044/b29fab86-c396-11e3-8a41-c63272e0b266.png)

[2014-04-14 05:50] ghost opened #72 "UX: can we have Upload File or Upload Photo and have a preview right away and edit option?"
try to create Donee and upload file
Select file and Upload file sounds fine, but logic can be more user friendly, e.g.
#1

Upload file-> immediate preview-> and edit btn next to it
#2

I would call it Create Photo Gallery instead of Edit Photo Gallery
under that i would have
Upload file ( and have small thumbnails) and edit btn or delete btn (Delete better bcs we don't offer Editing tools for user

[2014-04-14 06:17] DeveloperRegistry commented on #64
Dima, we talked with Tanya about this today. I think Admins need to be able Donors. Do we have any page like this?

[2014-04-14 07:22] DmitrysIF commented on #66
Такова механика сейчас. Все данные корзины хранятся в браузере у пользователя, Поэтому добавить товар в корзину быстро и легко. Далее, скрипты делают обновление данных корзины обращаясь к серверу - что соответственно занимает время.

[2014-04-14 07:23] DmitrysIF commented on #66
По этому я склоняюсь к мнению, что это не баг - а издержки архитектуры. Или вы хотите усложнить процесс добавления товара в корзину, ну там поставить clockwise-spinner вместо сообщения и потом заменять его надписью Added в момент, когда придут новые данные о корзине?

[2014-04-14 07:24] DmitrysIF commented on #71
Запись об этом пункте уже есть. Есть и пример в какую сторону исправлять. Работы идут.

[2014-04-14 07:29] DmitrysIF commented on #65
найдена такая же ошибка и на странице профиля - досадная опечатка :)

[2014-04-14 07:40] DmitrysIF commented on #67
Вы действительно хотите это сделать сейчас? Всех пользователей, которые есть на этой базе - придется удалить. Они завязаны на аккаунты стормпатча.

[2014-04-14 13:24] DmitrysIF commented on #64
_Как я могу видеть кто дал денег? И вообще, где можно найти доноров на сайте?_
Донейшены можно посмотреть в своей админке, там же и подписано - кто сколько дал.

[2014-04-14 18:37] #46 closed, assigned to nobody

[2014-04-14 18:51] DmitrysIF commented on #41
Чем заполнить пустое пространство - идей нету :)
Цветные иконки? Любые иконки можно поставить - исходники бы получить.
Сделать активными ссылки в тексте? Подумаем над этим вопросом.

[2014-04-14 18:53] DmitrysIF commented on #43
Сделано :)

[2014-04-14 18:53] #43 closed, assigned to nobody

[2014-04-14 19:00] DmitrysIF commented on #65
Исправлено

[2014-04-14 19:00] #65 closed, assigned to nobody

[2014-04-14 19:06] DmitrysIF commented on #70
Не совсем понимаю - все прекрасно удаляется после загрузки. В последних исправлениях я поставил автоматическую загрузку файла после выбора файлов в диалоге.

[2014-04-14 19:09] DmitrysIF commented on #69
Попробуйте повторить эту ошибку. Непонятна ваша проблема с показом загруженных картинок после неудачной попытки создания дони (я ее не обнаружил).
По поводу обязательности поля AddrLine2 - я убрал ее из required

[2014-04-14 19:12] DmitrysIF commented on #57
Теперь таблица скрывается, если в ней нет записей.
Добавлен hint

[2014-04-14 19:12] #57 closed, assigned to galinafed

[2014-04-14 19:18] RealBerd commented on #66
Это решается.
Таня, мы сделаем.

[2014-04-14 19:20] RealBerd commented on #64
Есть списки доноров по Донии.
Эти списки доступны для администраторов и для менеджеров Донии.
Общего списка Донейшнов нет.

[2014-04-14 19:21] DmitrysIF commented on #38
Буквы поправил, будет в следующем обновлении.

[2014-04-14 19:29] RealBerd opened #73 "Платёж завершён. Тексты и содержание страницы."
Былили ли где-нибудь материалы для страницы "Оплата прошла, вы молодец" ?

Можно добавить туда ссылку на автосгенерированный пост, "спасибу" или ещё что-то?

http://i.imgur.com/nMDpwTa.png

[2014-04-14 23:08] Fetati commented on #73
Текст пришлем сегодня в течение дня.

[2014-04-15 04:01] #71 closed, assigned to nobody

[2014-04-15 04:01] ghost commented on #71
i will close it since its  a duplicate

[2014-04-15 04:29] ghost commented on #41
Can we make a text space wider under the profile picture? Basically when text is posted we can display it in column first and then once the space gets bigger we allow text to go all the way to the left side.

[2014-04-15 04:40] ghost commented on #38
Thank you. Don't see it now. will check later

[2014-04-15 04:55] ghost commented on #70
Dima i can't upload photos now. Select File does not work:(((

[2014-04-15 04:57] ghost commented on #69
will retest it once Select File will work
Thank you Dima for a quick fix for Line #2

[2014-04-15 04:59] ghost commented on #69
Select File also does not work on Create Post page:) Dimochka mojesh glianut?

[2014-04-15 05:06] ghost opened #74 "Edit Donee: when user try to edit donee on the list it gives some fields that do not make sense"
Create Donee ad try to edit the Donee
could someone explain what this field is for?
:) thank you
![edit donee](https://cloud.githubusercontent.com/assets/7193843/2703772/a3bee170-c45b-11e3-8bd7-bc2b96e99c48.png)

[2014-04-15 05:19] TShket opened #75 "logic of this page (especially the use of Posts)"
Just a quick question regarding this page
creation of Donees? Posts, for whom it is intended?
The logic of View and Highlighted Handle (Donne name) ? because for me it would be the same and should lead to a profile of Donee
![hmmm](https://cloud.githubusercontent.com/assets/7193843/2703845/8e6812b8-c45d-11e3-95b0-ca17aed09ffc.png)

[2014-04-15 05:21] ghost opened #76 "Donee should be Capitalized throughout the web pages"
![donee](https://cloud.githubusercontent.com/assets/7193843/2703849/a6c547cc-c45d-11e3-9d58-1d63efe3eb62.png)

Is this the only option for words? can we consider Comments instead of Posts?

[2014-04-15 06:29] RealBerd opened #77 "Форма ввода кредитной карты. Баги"
При попытке ввести месяц меньше чем 04 оно зачем-то автоматически правит на 04. Явно баг.
http://i.imgur.com/EyCVh4d.png

Так же, оно автоматически меняет фокус на соседнее поле если я пытаюсь отредактировать уже заполненное поле (месяц или год)

[2014-04-15 06:30] RealBerd opened #78 "Галлерея при создании и редактировании Donee\Wishlist умерла. Надо починить"
Вот.

[2014-04-15 06:58] Fetati commented on #15
Create Donee page:
- В поле Enter description убрать знак вопроса. И так понятно.
- Enter Name исправить на Enter Donee Name и убрать знак вопроса
- После слов Need help? в тексте Accuracy, добавьте info@gooddler.com
- исправить текст Enter Donee Slug на вот так:
  ![screen_shot_2014-04-07_at_10_19_17_pm_png_and_new_issue__goodler_code](https://cloud.githubusercontent.com/assets/4335901/2704355/3a

[2014-04-15 07:32] Fetati commented on #70
Да, что-то сломалось. Я тоже не могу

[2014-04-15 07:38] Fetati commented on #20
Изменить слово Slug на Subdomain
Вот это, к примеру:
 status message: Sorry, this "Donee slug" is exist. Please - enter unique slug-name

Заменить на
Sorry, this Subdomain Name aready exists. Please enter the unique Subdomain Name.

[2014-04-15 07:51] Fetati opened #79 "При создании вишлиста поехала страница"
Chrome
Видимо, надо сделать, чтобы заголовки товаров переносились на вторую строчку, чтобы страница не убегала:

![screen shot 2014-04-15 at 12 49 42 am](https://cloud.githubusercontent.com/assets/4335901/2704737/98477200-c472-11e3-8ccb-5c32a2e5b3ab.png)

[2014-04-15 10:02] DmitrysIF commented on #78
Починено.

[2014-04-15 10:03] DmitrysIF commented on #77
хорошо, поправлю. Удалю автоподстановку валидной даты и уберу автоматический переход на  соседние поля при редактирования месяцы - года.

[2014-04-15 10:05] DmitrysIF commented on #69
Починил :)

[2014-04-15 10:08] DmitrysIF commented on #75
В списках Дони этот параметр отвечает за количество постов, которые были написаны для для данного дони. В счет входит так же количество постов для вишлистов этого дони, количество постов донейшенов для этих вишлистов и тд. В общем считаются все посты, у которых заполнено поле "DoneeID"

[2014-04-15 10:09] DmitrysIF commented on #75
Посты имеют идентификаторы, которые содержат в себе код дони, код вишлиста, код донейшена, код автора, код донора. Некоторые из этих полей могут быть пустыми.

[2014-04-15 10:12] DmitrysIF commented on #74
Это поле для того, чтобы раздавать права доступа к редактированию этого дони, созданию вишлистов от имени этого дони, в общем - это участники (не суперадмины), которые будут сопровождать и поддерживать дони. Нужно вводить имя пользователя, которому хотим дать возможность редактировать это.

[2014-04-15 10:15] DmitrysIF commented on #76
Комментарии? В нашей текущей модели нет возможности сейчас делать комментарии.

[2014-04-15 10:16] DmitrysIF commented on #70
Починил.

[2014-04-15 10:23] DmitrysIF commented on #15
Исправляется.

[2014-04-15 17:28] Fetati commented on #73
Текст для страницы Оплата прошла:

Thank you for your generosity! Your transaction was successful. You will be receiving a confirmation email shortly. Save it as a receipt for your donation.

[2014-04-15 17:31] Fetati opened #80 "На странице My Donees что-то сломалось - cъехали значки."
Chrome - http://gooddler.cloudapp.net/Admin/Donees

![screen shot 2014-04-15 at 10 29 24 am](https://cloud.githubusercontent.com/assets/4335901/2710612/8d974550-c4c3-11e3-81ef-23623cd6db62.png)

[2014-04-15 17:35] RealBerd commented on #77
лучше распознавай, что поле уже было заполненно полность и сейчас пользователь пытается отредактировать его. А автосмену фокуса оставь.

[2014-04-15 17:36] RealBerd commented on #73
Тогда нужен ещё текст емейла.

[2014-04-15 17:46] DmitrysIF commented on #37
Антон занимается этим. Оказываю всяческую поддержку.

[2014-04-15 17:48] galinafed commented on #73
Shared doc with you.

[2014-04-15 17:49] DmitrysIF commented on #80
Они съехали по причине большого количества кнопок и слишком большого количества полей.
Нужно думать - все ли поля и кнопки нужны? Если нужны  - я могу попробовать увеличить максимальное ограничение ширины таблицы, это должно вернуть кнопки на родину.

[2014-04-15 17:49] DmitrysIF commented on #79
Может просто обрезать названия? А полное название показывать во всплывающей подсказке, которая появится при наведении на название. Такое реализовано в вишлисте и всплывающем окне корзины.

[2014-04-15 17:51] DmitrysIF commented on #79
Если сделать просто перенос - может таблица сделаться некрасивой.

[2014-04-15 18:28] RealBerd commented on #80
Можно просто сделать таблицу чуть-чуть шире.

[2014-04-15 19:04] Fetati opened #81 "Post error: Broken Donee link"
Broken Donee links (both) http://gooddler.cloudapp.net/Blog/Post/20011
![screen shot 2014-04-15 at 12 00 19 pm](https://cloud.githubusercontent.com/assets/4335901/2711671/504d6794-c4d0-11e3-957f-ccd748a7a9eb.png)

![screen shot 2014-04-15 at 12 02 47 pm](https://cloud.githubusercontent.com/assets/4335901/2711707/ad74237c-c4d0-11e3-8811-56e5662eed91.png)

[2014-04-15 19:06] Fetati commented on #44
отлично. Закрываю.

[2014-04-15 19:06] #44 closed, assigned to DmitrysIF

[2014-04-15 19:20] Fetati opened #82 "Edit Profile: При редактировании юзера нет поля Username"
Невозможно отредактировать username. - При редактировании юзера нет поля Username. Надо добавить.

[2014-04-15 19:23] DmitrysIF commented on #82
Это важно? Хорошо.

[2014-04-15 19:23] Fetati opened #83 "Edit Profile: I can't change a password"
Нет возможности сменить пароль. Надо сделать.

[2014-04-15 19:44] galinafed opened #84 "Edit Profile"
Add Username and give it an ability to be changed. Add (?): username will be displayed for everyone to see

First name: Remove ?
Last name: Remove ?

Has to have auto correct/edit option in About section, like if you are writing in Word Document, or Google chat. It should show misspellings and give options to correct.

About (?) can say: Tell Gooddler community about yourself. It will help you to

[2014-04-15 20:16] #70 closed, assigned to nobody

[2014-04-15 20:21] Fetati opened #85 "Edit Donee: Не могу добавить юзера к Donee"
В режиме администратора пытаюсь передать права на мною созданного Donee другому пользователю. И не могу  - просит username. При вводе имейла, ругается, что "is't exist". Надо сделать возможность добавлять юзера по имейлу. Это куда надежнее, чем по username.
Где искать как человек себя назвал в качестве username не понятно. А имейл есть в любом случае.

![screen shot 2014-04-15 at 1 16 53 pm](https

[2014-04-15 20:28] Fetati commented on #79
Можно и обрезать. Только чтобы не нарушать логический смысл названия.

[2014-04-15 21:03] Fetati opened #86 "Add new user to Donee: Notifications"
Как юзер будет знать, что он получил права на управление Donee? Я попробовала дать права Гале, она не получила никаких уведомлений.

[2014-04-16 04:20] Fetati opened #87 "My Cart: Подписать поля таблицы"
![screen shot 2014-04-15 at 9 19 15 pm](https://cloud.githubusercontent.com/assets/4335901/2716056/5c4ca62e-c51e-11e3-9c8d-b0034256461f.png)

[2014-04-16 04:25] RealBerd commented on #86
Пришли текст уведомления, пожалуйста.

[2014-04-16 13:24] DmitrysIF commented on #81
Поимка бага свершена - баг наказан :)
(В следующем обновлении)

[2014-04-16 16:42] Fetati commented on #81
Ура! Спасибо! Жду обновлений и закрываю.

[2014-04-16 18:53] #78 closed, assigned to nobody

[2014-04-16 20:07] DmitrysIF commented on #84
Картинка меняется - но существует некоторая задержка обновления, поэтому картинка меняется некоторое время спустя и начинает показываться в правильном варианте (новая). Решаю этот вопрос с Никитой.

[2014-04-16 20:13] DmitrysIF commented on #20
Косметические правки применены.

[2014-04-16 20:13] #20 closed, assigned to RealBerd

[2014-04-16 20:13] #81 closed, assigned to nobody

[2014-04-16 20:14] #77 closed, assigned to nobody

[2014-04-16 20:14] DmitrysIF commented on #80
Сделал табличку чуть шире

[2014-04-16 20:15] DmitrysIF commented on #83
Вставил ссылку Change My Password в Edit Profile. Ссылку прилепил как пришлось - для передислокации ссылки лучше создать новый issue

[2014-04-16 20:15] #83 closed, assigned to nobody

[2014-04-16 22:35] DmitrysIF commented on #15
Полные исправления будут в следующем обновлении.

[2014-04-17 02:08] galinafed commented on #86
Email should say: "Tatiana Fedorova invited you to become a manager of Friends For Youth, Inc on Gooddler. As a manager you will be able to create, edit, delete wish lists, and more."

We can also add a button "Become manager" in the email to accept that role. Or we can just have a person added without their authorization. What do you think?

If we add it. Email should also say:
"To accept your ro

[2014-04-17 02:18] galinafed commented on #84
Also, here is what i see in comments about me:

<p>Encouraging generosity</p>

It should just say: Encouraging generosity

[2014-04-17 06:40] DmitrysIF commented on #59
Дублирование

[2014-04-17 06:40] #59 closed, assigned to galinafed

[2014-04-17 17:14] Fetati opened #88 "Wishlist: Линк item в вишлисте должен открываться в отдельном окне (вкладке)"
Линк item в вишлисте должен открываться в отдельном окне (вкладке), не уводить людей с нашего сайта!

[2014-04-17 21:36] Fetati opened #89 "Wishlist: Done 3 of 2"
В вишлисте done 3 of 2. Как это возможно?

![screen shot 2014-04-17 at 2 33 54 pm](https://cloud.githubusercontent.com/assets/4335901/2737220/40203654-c678-11e3-87f3-e37633617698.png)

[2014-04-17 21:42] Fetati opened #90 "(UX) Wishlist: при вводе нового товара поменять местами поля"
При вводе нового товара 1) поменять местами поля Shipping Cost and Quantity. Должно быть также, как и во всей таблице, а не наоборот.
2) подписать эти поля

![edit_wishlist_-_gooddler](https://cloud.githubusercontent.com/assets/4335901/2737294/230ce2e6-c679-11e3-8b12-6a6b82df71de.png)

[2014-04-17 21:46] Fetati commented on #86
Вот пример, о чем пишет Галя:

![screen shot 2014-04-17 at 2 45 21 pm](https://cloud.githubusercontent.com/assets/4335901/2737325/a95370d6-c679-11e3-94e5-15c413dd55ee.png)

[2014-04-17 21:50] Fetati opened #91 "(UX) Wishlist: вываливающаяся подсказка с багом, и перекрывает текст"
1) Не должно быть пробелов в начале текста подсказок.
2) Прокрутка количества просвечивается на подсказке
3) Подвинуть подсказку выше, чтобы она была над знаком вопроса, и не перекрывала поля, которые планируется заполнять.

![screen shot 2014-04-17 at 2 36 54 pm](https://cloud.githubusercontent.com/assets/4335901/2737360/4d8165a0-c67a-11e3-8089-c7e922162338.png)

[2014-04-17 21:53] Fetati commented on #80
У меня все по-прежнему. Жду обновлений.

[2014-04-17 21:59] Fetati opened #92 "Wishlist: нет названия вишлиста"
Этот называется Summer Camp. Не вижу, где это написано. Должен быть заголовок вишлиста над листом:

![screen shot 2014-04-17 at 2 54 35 pm](https://cloud.githubusercontent.com/assets/4335901/2737412/fe60fc6e-c67a-11e3-9b82-b1856373fd57.png)

[2014-04-17 22:01] Fetati opened #93 "Внесла изменения в Donee, а они не появляются"
Внесла изменения в Donee, а они не появляются - сделала copy/paste инфо о Donee с сайта http://www.sfspca.org/about-us.
Вот сюда:
http://gooddler.cloudapp.net/Donee/10017

[2014-04-17 22:11] Fetati opened #94 "Edit Donee: Почему 2 раза кнопка Update Donee?"
![screen shot 2014-04-17 at 3 09 58 pm](https://cloud.githubusercontent.com/assets/4335901/2737559/30c60b8e-c67d-11e3-9ae9-309226a53e75.png)

[2014-04-17 22:20] Fetati opened #95 "(UX) Donee: Пропущено краткое описание вишлистов на странице Donee"
http://gooddler.cloudapp.net/Donee/10017

![donee_-_gooddler](https://cloud.githubusercontent.com/assets/4335901/2737636/7394385e-c67e-11e3-849e-1ff09684df26.png)

[2014-04-17 22:28] galinafed opened #96 "Create Donee Page"
http://gooddler.cloudapp.net/Donee/Create
1. Stay consistent and use capital letters in every word:
   Enter Designation; Phone Number; Edit Photo Gallery; ect.
2. Spelling: Address Line 1 and Address Line 2
3. Remove Enter from ZIP line (to stay consistent)
4. Replace Add a new address with Add Shipping Address (i think add a new address would have been appropriate if we had an ability to enter m

[2014-04-17 22:37] Fetati commented on #93
Появились.

[2014-04-17 22:38] #93 closed, assigned to nobody

[2014-04-18 06:15] DmitrysIF commented on #94
Вопрос к Никите.

[2014-04-18 07:46] DeveloperRegistry commented on #37
Coded new functionality: Delete Donee, Delete Wishlist and Delete Post. The delete buttons can be found on Edit Pages. Also, posts have Delete icon in the list view. Deleting Donee also deletes Wishlists and Posts.

Critical Note: we used Logical Delete approach. Data is marked in the database as Deleted but retained for records and potential restoration. Deleted records are hidden from users.

[2014-04-18 07:46] #37 closed, assigned to RealBerd

[2014-04-18 10:08] #6 closed, assigned to nobody

[2014-04-18 10:09] #15 closed, assigned to RealBerd

[2014-04-18 10:12] DmitrysIF commented on #86
Инвайты не поддерживаются. Если админ назначил пользователю доступ - он получает этот доступ сразу.
Сообщение для емейла, которое должно информировать пользователя о получении доступа - пишется. Скоро будет.

[2014-04-18 13:24] #87 closed, assigned to nobody

[2014-04-18 16:44] DmitrysIF commented on #96
1. Cделано;
2. Сделано;
3. Сделано;
4. Сделано;

1.Сделано;
Следующее обновление :)

[2014-04-18 16:46] DmitrysIF commented on #86
Сделано - в следующем обновлении.

[2014-04-18 16:55] galinafed commented on #96
i don't see changes

[2014-04-18 17:12] DmitrysIF commented on #96
Следующее обновление - значит применю сделанные исправлении в следующем обновлении, которое будет через час максимум :)

[2014-04-18 17:15] DmitrysIF commented on #80
Сообщите о разрешении вашего экрана.

[2014-04-18 17:24] Fetati commented on #80
1280x800, MacBook Pro 13'

[2014-04-18 18:03] DmitrysIF commented on #80
??????? ?????? ????? ??????, ????? 15-20 ????? ????? ????? ????????????.
?????? ???? ???? ????????? ??????, ????? ?? ???????????? ???.

2014-04-19 2:24 GMT+09:00 Tatiana Fedorova notifications@github.com:

[2014-04-18 18:13] DmitrysIF commented on #80
???????? ? ?????????????? - ????? ?????? ??????????.

19 ?????? 2014 ?., 3:03 ???????????? Dmitry Shestialtynov <
dmitrys@ifface.com> ???????:

[2014-04-18 18:16] Fetati commented on #80
Дим, пришли зюки какие-то. Что это было?

[2014-04-18 18:38] DmitrysIF commented on #80
ïÂÎÏ×ÌÅÎÉÅ ÚÁËÏÎÞÉÌÏÓØ. ðÒÉÍÅÎÉÌÉÓØ ÎÏ×ÙÅ ÐÒÁ×ËÉ.

2014-04-19 3:16 GMT+09:00 Tatiana Fedorova notifications@github.com:

[2014-04-18 18:43] #90 closed, assigned to nobody

[2014-04-18 18:43] #86 closed, assigned to nobody

[2014-04-18 18:43] #52 closed, assigned to nobody

[2014-04-18 18:44] #92 closed, assigned to nobody

[2014-04-18 18:45] DmitrysIF commented on #80
Ну и гугл - исковеркал весь шрифт. Закончено обновление!

[2014-04-18 18:45] #80 closed, assigned to nobody

[2014-04-18 18:48] DmitrysIF commented on #89
такое возможно - если отредактировать число гуддсов в айтеме вишлиста.

[2014-04-18 18:51] #79 closed, assigned to nobody

[2014-04-18 18:52] #88 closed, assigned to nobody

[2014-04-18 18:53] DmitrysIF commented on #82
Отложено в связи с зависимостью Аватарок от юзернейма.

[2014-04-18 18:56] DmitrysIF commented on #69
Все нормально? Ну тогда я закрываю.

[2014-04-18 18:56] #69 closed, assigned to nobody

[2014-04-18 18:57] DmitrysIF commented on #12
Не понятно, в чем проблема.

[2014-04-18 18:58] #38 closed, assigned to nobody

[2014-04-18 18:59] DmitrysIF commented on #66
Общим консилиумом с Никитой было признано, что это не является багом.

[2014-04-18 18:59] #66 closed, assigned to nobody

[2014-04-18 19:01] DmitrysIF commented on #53
Do we give the option to have multiple cards?
Сейчас нет.

[2014-04-18 19:02] DmitrysIF commented on #53
Картинки card-services вставлены.

[2014-04-18 19:02] #53 closed, assigned to nobody

[2014-04-18 19:03] DmitrysIF commented on #67
Check the email ( support@stormpath.com.) - period has to be removed from HTML tag- user unable to send email

Не могу понять эту фразу - в чем проблема?

[2014-04-18 19:03] DmitrysIF commented on #91
Исправлено.

[2014-04-18 19:04] #91 closed, assigned to nobody

[2014-04-18 19:39] galinafed commented on #96
i still don't see all changes. Address (has to have two "s")

[2014-04-18 19:52] DmitrysIF commented on #85
Деплоится новая версия с реализованной поддержкой емейлов.

[2014-04-18 19:52] #85 closed, assigned to nobody

[2014-04-18 19:53] DmitrysIF commented on #84
*Encouraging generosity

It should just say: Encouraging generosity*

Не совсем понимаю - куда это нужно разместить.

[2014-04-18 20:01] galinafed commented on #84
Description shows:

<p>Encouraging generosity</p>

with < and p on both sides.

[2014-04-18 20:02] galinafed commented on #84
when posting here it's not showing, but that's how i see my profile.
<p>

[2014-04-18 20:11] DmitrysIF commented on #58
Реализовано - теперь только админ имеет доступ к этим полям.

[2014-04-18 20:11] #58 closed, assigned to RealBerd

[2014-04-18 20:14] DmitrysIF commented on #96
Oh, sorry!
Не заметил опечатку :)

[2014-04-18 20:18] DmitrysIF commented on #84
то есть, где-то отображаются html теги? Ссылку на пост. Или на профиль.

[2014-04-18 20:21] #73 closed, assigned to galinafed

[2014-04-18 20:26] galinafed commented on #84
Yes

[2014-04-18 20:47] DmitrysIF commented on #84
Мне нужна ссылка на пост или профиль. Я не экстрасенс :)
Или еще лучше вместе со скриншотом.

[2014-04-18 20:53] DmitrysIF commented on #96
Сейчас должно быть все в порядке - проверьте

[2014-04-18 20:54] DmitrysIF commented on #76
Сделал правки. Правки текста кнопки будут применены позже.

[2014-04-18 20:54] #76 closed, assigned to nobody

[2014-04-18 21:16] DmitrysIF commented on #95
В шаблонах описание вишлистов на страницах дони не указано. Вы действительно считаете кусочек описания из 30-70 символов необходимым?

[2014-04-18 21:17] galinafed commented on #84
![screenshot 10](https://cloud.githubusercontent.com/assets/7177944/2746011/c691bc3c-c73e-11e3-8351-c4547e621a61.png)

on the right side, description that i wrote

[2014-04-18 21:25] DmitrysIF commented on #84
по поводу  <p> тегов - вы должны зайти в режим редактирования профиля и удалить эти символы в редакторе. Они появились, когда еще были проблемы с визивиг-редактором.
Если удалить их вручную - они больше не должны появиться.

[2014-04-18 21:28] #50 closed, assigned to nobody

[2014-04-18 21:32] galinafed commented on #84
fixed

[2014-04-18 21:33] galinafed commented on #84
![screenshot 11](https://cloud.githubusercontent.com/assets/7177944/2746139/060bf358-c741-11e3-86ea-15051906b02c.png)

word "password" is misspelled

[2014-04-18 21:35] galinafed commented on #84
![screenshot 12](https://cloud.githubusercontent.com/assets/7177944/2746154/4db3efd0-c741-11e3-9240-18bc2604d6cc.png)

Should say: "Your password has been changed successfully"

[2014-04-18 21:44] DmitrysIF commented on #84
Опечатки убраны и исправлен текст сообщения. Через 20 минут изменения можно будет проверить.

[2014-04-18 22:05] DmitrysIF commented on #84
Можно проверять.

[2014-04-18 22:05] DmitrysIF commented on #21
В следующем обновлении.

[2014-04-18 22:11] galinafed commented on #84
now is ok. I notice one more thing. Under my profile, it says post's not found, should say:
Posts not found. remove ' pls.

[2014-04-18 22:14] DmitrysIF commented on #84
Хорошо, в следующем обновлении это исправление можно будет увидеть.

[2014-04-18 22:18] #89 closed, assigned to nobody

[2014-04-19 17:40] DmitrysIF commented on #84
Сделано - через 20 минут будет доступно.

[2014-04-19 17:53] DmitrysIF commented on #84
Так, проблемы с фотографией я исправил. Добавил возможность менять юзернейм. Правки текста сделал.
Закрываю.

[2014-04-19 17:53] #84 closed, assigned to DmitrysIF

[2014-04-19 17:54] DmitrysIF commented on #17
Проблемы с фотографией исправил.

[2014-04-19 17:54] #17 closed, assigned to RealBerd

[2014-04-19 17:55] DmitrysIF commented on #96
Исправлено.

[2014-04-19 17:55] #96 closed, assigned to nobody

[2014-04-19 17:56] DmitrysIF commented on #94
Если конкретные разъяснения - то это сделано для удобства, что после проверки картин галереи пользователю не приходилось отматывать страницу наверх обратно, картин можно добавить очень много. И, соответственно, приходилось бы очень прокручивать страницу.

[2014-04-19 17:57] DmitrysIF commented on #82
Исправлено досрочно.

[2014-04-19 17:57] #82 closed, assigned to nobody

[2014-04-19 18:02] DmitrysIF commented on #55
Хочу ознакомиться с "хотелками" последней версии по этой странице.

[2014-04-19 18:47] DmitrysIF commented on #67
Если вы о содержимом письма со ссылкой для смены пароля - то используется сервис stormpath.
_This message was sent by Stormpath. Visit www.stormpath.com to learn more.
 If you received this email by mistake or believe it is spam, please forward it to support@stormpath.com._
Это футер письма, который дописывается сервисом автоматически - изменить никак нельзя.

[2014-04-19 21:58] ghost opened #97 "Change password link should be moved lower (creating user flow)"
create user
once transferred to a page to finish profile observe the "Change password" link

Bug: too close to a
![change my password](https://cloud.githubusercontent.com/assets/7193843/2749567/b4279c40-c80d-11e3-862c-303bebc6b44b.png)
field

[2014-04-19 21:58] ghost opened #98 "What does "p" mean:)))"
![what p does](https://cloud.githubusercontent.com/assets/7193843/2749568/c4e2175e-c80d-11e3-85fd-f563fad0dbd5.png)

[2014-04-19 22:05] ghost opened #99 ""edit profile" flow - should we have change password link?"
![forgot pass](https://cloud.githubusercontent.com/assets/7193843/2749579/bd9b9870-c80e-11e3-95cc-524eb0600392.png)
I know the flow is when user is logged in ( and we assume that he knows password),
But lets say i use Safari and it remembers my password, but i want to switch to Chrome, and being logged, doesn't necessary means i remember my password. "Change password " password link can have forgo

[2014-04-19 22:16] ghost opened #100 "UX: Do we allow user to save, edit, create user name that has capital letters in it?"
I am able to change the handle/user name, but not create/change by using capital letters!
Are we allowing user to do so?

[2014-04-19 22:19] ghost opened #101 "No image for project (was tested in Safari and Chrome at the same time)"
not sure what is the problem, maybe network and issue is temp, bcs it work before
Time: 3:15 - 3:20 Sat. April 19

[2014-04-19 22:19] ghost commented on #101
![no profile for project](https://cloud.githubusercontent.com/assets/7193843/2749601/aa08c2b8-c810-11e3-9bcd-3bebd3699bf0.png)
![no project photo](https://cloud.githubusercontent.com/assets/7193843/2749602/aa09acf0-c810-11e3-8239-3c635e5a3837.png)

[2014-04-19 22:30] ghost opened #102 "The last item is not deleted in cart and Cart info is not updated"
add 2-3 items to your cart
delete all of them
the last will stay , even though msg says deleted and car t is empty
Cart info is not updated too

[2014-04-19 22:44] DeveloperRegistry commented on #98
I believe, since it is HTML (XHTML) editor, "P" refers to HTML Paragraph.  Dima, please correct me if I am wrong.

[2014-04-19 22:50] DmitrysIF commented on #101
Проблемы с сервисом. Изучаем.

[2014-04-19 22:51] DmitrysIF commented on #97
Куда его подвинуть? Лучше укажите на скриншоте - в какое место и что вообще в итоге должно быть.

[2014-04-19 23:05] TShket opened #103 "When user creates Donee and uploads picture, it shown in landscape mode, not a portrait"
I
![rotate option](https://cloud.githubusercontent.com/assets/7193843/2749666/271f40be-c817-11e3-96ea-5d98ebe87076.png)
s it possible to have the option to rotate or load in portrait mode?

[2014-04-19 23:12] DmitrysIF commented on #103
Нет. С этим вопросом обращайтесь к Никите лично.

[2014-04-19 23:12] ghost commented on #69
All issues where address, separate bug for UX were filed. thank you Dima:)

[2014-04-19 23:13] DmitrysIF commented on #98
это хтмл тег для форматирования текста.

[2014-04-19 23:15] ghost commented on #103
@RealBerd this issues is seen in Chrome. Safari, Firefox seems to work fine

[2014-04-19 23:17] ghost commented on #97
if all fields stay in the same lay out and order then at least move it a little bit lower so it looks better. Spasibo Dimochka:)

[2014-04-19 23:20] ghost commented on #98
Does user need to see it? or use?
if not needs to be removed in time.
Thank you

[2014-04-19 23:22] ghost commented on #101
![image](https://cloud.githubusercontent.com/assets/7193843/2749684/86a84042-c819-11e3-9a12-58276aced123.png)

[2014-04-19 23:23] ghost commented on #101
hehe

[2014-04-19 23:26] DmitrysIF commented on #101
Похоже, что все же проблемы именно с сервисом :(
Не понимаю пока - по какой причине он не дает доступа к нашим старым картинкам.
Новые картинки грузятся без проблем.

[2014-04-19 23:29] DmitrysIF commented on #98
Не думаю, что это можно удалить - редактор использует html теги для форматирования текста. В частности, тег p нужен для выделения абзацев.
Если про удаление визирования этого тега- тоже сомневаюсь.

[2014-04-19 23:30] DmitrysIF commented on #103
Кстати - это уже дубль, вопрос такой был. Но там " и только мертвые с косами стоят"

[2014-04-19 23:38] ghost commented on #98
Ok this is for Highlighting the text
We might know it, but users will not
Can we put icon, can we do anything about it?

[2014-04-19 23:43] ghost commented on #103
hehe, got it, close if dupe, but we need to make sure we keep original and do not put in backlog, it uploads fine, but user will be confused if he sees this.

[2014-04-19 23:45] DmitrysIF commented on #98
Я не думаю, что пользователи вообще будут заморачиваться по этой иконке. Они просто будут писать.
К тому же, насколько я помню - это подпись снизу показывает вложенность тегов в позиции курсора набора текста.
Так что рекомендую не заморачиваться этим :)

[2014-04-19 23:45] ghost commented on #67
once user click the email it does nothing , it does not work. if we cant change it now, but later it sfine. I would keep ticket open till we change it and then test
Let me know if you have more questions

[2014-04-19 23:46] DmitrysIF commented on #101
В общем - пока лечение состоит в следующем:
Удалять нерабочие картинки и загружать новые.

[2014-04-19 23:49] DmitrysIF commented on #103
Закрывать пока не надо.

[2014-04-19 23:53] DmitrysIF commented on #101
Отставить...
Картинки снова пропали. Очень грустно.
Ничего не делайте со старыми картинками, пока не решу вопрос с Никитой.

[2014-04-19 23:53] ghost commented on #98
sure:)

[2014-04-20 00:00] ghost commented on #55
1. Remove DOne at the top
2. Move First and Last name in one row - No ? marks needed - simple flow
3. About - bring it higher
4. The field Above can be much smaller and once user there expand- if not possible leave it
5. Put Location. FB.TW and IN fields in two rows and two column - Do not user the "?" for those fields- maybe have some text on side with sample or explanation. Let me know if you ne

[2014-04-20 00:01] ghost commented on #55
But i would ask Tania as well, i am just trying to make it user friendly with min scrolls, clicks, overlaps @Fetati you call

[2014-04-20 00:02] ghost commented on #50
Thank you

[2014-04-20 00:08] ghost commented on #12
Link works, before did not, closing.

[2014-04-20 00:12] #12 closed, assigned to RealBerd

[2014-04-20 00:21] ghost opened #104 "If user signs out cart still has items- should be 0"
sing in, add items to your card, sign out

Bug: cart still has items listed
![sing in cart](https://cloud.githubusercontent.com/assets/7193843/2749761/a779e3ea-c821-11e3-947a-a39af77c6b5f.png)

[2014-04-20 00:23] ghost commented on #53
@Fetati are those the only payments types you will use?

[2014-04-20 00:25] DmitrysIF commented on #104
Это не баг - такова задумка, которая позволит навыбирать позиций себе в корзину и когда он попытается купит это - пользователю предложат зарегистрироваться одновременно с оплатой. За дополнительными разъяснениями обращаться к Никите.

[2014-04-20 00:41] DmitrysIF commented on #100
Заглавные буквы в юзернейме можно использовать при создании аккаунта? Я просто не помню.

[2014-04-20 00:44] TShket opened #105 "user is still logged after signing out and tapping Check out"
Steps:
1. sign in ( u can add items to a cart if you want)
2. sign out
3. tap Check out btn

Bug: user redirected to to profile and logged in again
Expected: user should be redirected to sign in page for security purposes

Note : all web browsers have this issues. And password was not remembered by web as well . In all web browsers it was specified not to remember the p/w

[2014-04-20 00:50] DmitrysIF commented on #105
Прошу ко всем дополнительным вопросам вызывать Никиту :)
Он сейчас не часто сюда смотрит.

[2014-04-20 00:55] ghost commented on #104
@Fetati can you resend me payment info so i can test with exp date and CVC code and card number

[2014-04-20 00:59] DmitrysIF commented on #104
тестовые данные для тестовых платежей:
 4242 4242 4242 4242
любая валидная дата и любой CVV из трех цифр

[2014-04-20 01:07] DmitrysIF commented on #99
Можно удалить подтверждение смены пароля с помощью ввода старого пароля. Но тогда может пострадать безопасность.

[2014-04-20 02:14] DmitrysIF commented on #100
Хорошо, я задеплою вариант, в котором можно использовать capital letters в username. Его нужно будет хорошо протестировать, протестировать все, что может быть связано с username

[2014-04-20 02:21] DmitrysIF commented on #101
Так, я хочу попросить вас продолжать работать с картинками в обычном режиме. Неработающие картинки прошу заменить на работающие. Если это повторится, будем думать дальше.

[2014-04-20 14:06] #21 closed, assigned to nobody

[2014-04-20 17:41] #33 closed, assigned to nobody

[2014-04-20 17:42] #102 closed, assigned to nobody

[2014-04-20 17:43] #98 closed, assigned to nobody

[2014-04-20 18:26] DmitrysIF commented on #101
Все, проблема решена! Старые картинки, к сожалению, уже не вернуть - но новые картинки больше не пропадут! :)

[2014-04-20 18:26] #101 closed, assigned to nobody

[2014-04-20 18:26] #97 closed, assigned to nobody

[2014-04-20 18:28] DmitrysIF commented on #16
А разве всплывающие картинки не должны перекрывать? Какой тогда в них смысл, если они ничего перекрывать не смогут?

[2014-04-21 16:53] DmitrysIF commented on #40
Убрано

[2014-04-21 16:53] #40 closed, assigned to nobody

[2014-04-21 16:56] DmitrysIF commented on #55
@TShket мне необходим текст примера для полей социальных сетей и приблизительное расположение на странице. Желательно скриншотом.

[2014-04-21 18:32] Fetati opened #106 "Очепятка"
http://gooddler.cloudapp.net/Admin/Donees
Текст кнопки - Createa a New Donee - должно быть Create, убрать A в конце
![screen shot 2014-04-21 at 11 30 10 am](https://cloud.githubusercontent.com/assets/4335901/2757290/16a7d292-c983-11e3-8522-9155ad266552.png)

[2014-04-21 18:43] Fetati opened #107 "Create Donee: Eror - should be red color"
Надо сделать заметным сообщение об ошибке - к примеру красным цветом и крупнее шрифт.
И исправить текста на: Status Message: Error. Please fill in all fields required.

![screen shot 2014-04-21 at 11 39 59 am](https://cloud.githubusercontent.com/assets/4335901/2757445/97bd0784-c984-11e3-9d77-3387f1c9ec58.png)

И еще, там http:\ - должны быть палочки в другую сторону - http://

[2014-04-21 18:54] DmitrysIF commented on #106
Хорошо! Через несколько часов можно будет проверять правки.

[2014-04-21 19:07] Fetati opened #108 "Create Donee: Add Create Wishlist Button"
Примерно так (только без ошибки в тексте кнопки: Create a Wishlist)
![desktop5](https://cloud.githubusercontent.com/assets/4335901/2757777/094b218a-c988-11e3-9fdc-26437e046a17.jpg)

[2014-04-21 19:25] DmitrysIF commented on #108
Сделать доступным только для участников дони и суперадминов?

[2014-04-21 19:46] Fetati commented on #108
Äëÿ âñåõ àäìèíèñòðàòîðîâ/âëàäåëüöåâ donee.

Sent from my iPhone

[2014-04-21 19:47] DmitrysIF commented on #108
Извиняюсь - вижу кракозяблы :)

[2014-04-21 20:04] Fetati commented on #108
Sorry. :)

Any donee administrator (super-  and lyuboy drugoy) should see this button.

Sent from my iPhone

[2014-04-21 20:16] DmitrysIF commented on #108
Хорошо. Это можно будет "потрогать" сегодня.

[2014-04-21 22:46] DmitrysIF commented on #108
Выполнено

[2014-04-21 22:47] #106 closed, assigned to nobody

[2014-04-21 22:47] DmitrysIF commented on #107
Исправлено.

[2014-04-21 22:47] #107 closed, assigned to nobody

[2014-04-21 22:49] DmitrysIF commented on #51
Выполнено.

[2014-04-21 22:49] DmitrysIF commented on #51
Нет текстов для Privace Notice

[2014-04-21 22:50] DmitrysIF commented on #94
Вопрос еще актуален?

[2014-04-21 22:50] DmitrysIF commented on #95
Вопрос еще актуален?

[2014-04-21 23:01] DmitrysIF commented on #99
Если вы имеете в виду автоподстановку пароля в поле - я не думаю, что это важно для первого этапа.

[2014-04-21 23:02] DmitrysIF commented on #64
Доноров на сайте теперь можно посмотреть.
Есть список, доступный только для админов - показывает весь список донейшенов, которые когда либо были сделаны на этом сайте.

[2014-04-21 23:03] #64 closed, assigned to DmitrysIF

[2014-04-21 23:06] DmitrysIF commented on #72
Думаю, этот вопрос больше не актуален - загрузка стартует автоматически, показывает превью загруженной картинки, которую можно удалить при необходимости из галереи.

[2014-04-21 23:06] #72 closed, assigned to nobody

[2014-04-21 23:10] DmitrysIF commented on #47
Добавил в профиль ссылку "написать пост об этом человеке"

[2014-04-21 23:10] #47 closed, assigned to nobody

[2014-04-21 23:20] DmitrysIF commented on #48
Браузер какой используется?

[2014-04-21 23:40] Fetati commented on #48
Dimochka, this is wrong version of the main page. We need to change it.

Sent from my iPhone

[2014-04-22 01:27] DmitrysIF commented on #48
Какие конкретно положения по главной странице считаются неверные?
Вроде как Никита объяснял, почему мы были вынуждены изменить некоторые моменты? :)

[2014-04-22 01:29] Fetati opened #109 "Create Wishlist: не добавляется товар"
Товары не добавляются в вишлист (в Chrome). Попробовала два: http://www.amazon.com/dp/B00000IWDP/ref=wl_it_dp_v_nS_ttl?_encoding=UTF8&colid=1GD60SU1ZOIHM&coliid=I3IAAOB0NGH0JM

и http://www.amazon.com/dp/B004X0WBHS/ref=wl_it_dp_v_nS_ttl?_encoding=UTF8&colid=1GD60SU1ZOIHM&coliid=I2BAQ1RE3QH67R

[2014-04-22 01:33] Fetati commented on #109
Эти товары были из амазоновского вишлиста. Когда просто скопировала название, и вставила в поиск на амазоне, а потом найденный линк вставила в Gooddler, то все заработало.

[2014-04-22 01:44] Fetati opened #110 "Wishlist: странный значок на фотке"
![wishlist_-_gooddler](https://cloud.githubusercontent.com/assets/4335901/2760759/9eacbdf6-c9bf-11e3-81f6-c87c73a338e4.png)

[2014-04-22 01:47] Fetati commented on #94
Должно быть один раз. Две одинаковых кнопки на одной странице путают.

[2014-04-22 01:54] DmitrysIF commented on #94
Удалить верхнюю или нижнюю?

[2014-04-22 02:11] Fetati opened #111 "Create Wishlist: Очепятка 2 и корректировка"
http://gooddler.cloudapp.net/Wishlist/Create/30042
Сейчас: Enter descriptiopn
Надо: Enter Description

Сейчас: Enter Name
Надо: Enter Name of a Wishlist

Убрать знаки вопроса.

![screen shot 2014-04-21 at 6 22 37 pm](https://cloud.githubusercontent.com/assets/4335901/2760787/6427019a-c9c0-11e3-9f40-baa9f005eb13.png)

[2014-04-22 02:19] Fetati opened #112 ""Delete Wishlist" Button: "Are you sure you want to delete this wishlist?""
Обязательно надо сделать, чтобы ДО окончательного удаления вишлиста сайт переспрашивал, действительно ли я хочу это сделать. А то 2 кнопки Update Wishlist и Delete Wishlist рядом, очень просто промахнуться, и не возможно вернуть ошибку обратно.

Текст:
"Are you sure you want to delete this wishlist? You will not be able to retrieve it."

[2014-04-22 02:21] Fetati opened #113 "Search Donee"
Сделать общий список Donees, и возможность поиска дони по алфавиту, а также поиск вишлистов по causes (children, pets, etc).

[2014-04-22 02:30] DeveloperRegistry commented on #113
Dima, this is for me :)

[2014-04-22 02:36] Fetati opened #114 "Create Wishlist: Field for Amazon link"
При начале заполнения вишлиста нет поля для линка с амазона. А надо бы. Нелогично возвращаться в Edit Wishlist и не давать людям сразу заполнить список товаров. Давайте сделаем это поле сразу.
http://gooddler.cloudapp.net/Wishlist/Create/30042
![screen shot 2014-04-21 at 7 34 50 pm](https://cloud.githubusercontent.com/assets/4335901/2760993/ee3839d4-c9c6-11e3-9e20-a0d31fb1ed26.png)

[2014-04-22 02:43] Fetati commented on #95
Да, актуален вопрос. Добавь, пожалуйста.

Димочка, кнопка Create New Wishlist смотрится отлично. СПАСИБО!

[2014-04-22 02:46] Fetati commented on #94
Удали верхнюю.

[2014-04-22 02:54] Fetati commented on #51
Сделаем. Пришлю в почту.

[2014-04-22 02:56] Fetati commented on #8
Не забыли по поводу правильной версии дизайна?
И надо оставлять How It Works на всех страницах. Мы туда просто еще текста добавим. Типа Q&A

[2014-04-22 03:42] Fetati opened #115 "Post: автоматически?"
Вот такие посты делаются автоматически? Надо тексты для автоматических постов?
![screen shot 2014-04-21 at 8 41 30 pm](https://cloud.githubusercontent.com/assets/4335901/2761270/2a218078-c9d0-11e3-99fb-9f5ced4cdd90.png)

[2014-04-22 10:54] DmitrysIF commented on #115
Да, они делаются автоматически. Было бы очень хорошо получить тексты для автоматического поста и, я так думаю - будет очень здорово получить текст письма, который будет будет извещать пользователя, что о нем написали новый отличный пост.

[2014-04-22 10:58] DmitrysIF commented on #114
Тут возникает проблема курицы и яйца:
Список товаров зависит от вишлиста (это отдельная таблица), но этот список должен иметь в своем составе айдишник вишлиста - но его еще нет, так как пользователь не создал вишлист.
Пришлось решить проблему таким образом.

[2014-04-22 10:59] DmitrysIF commented on #113
Хорошо, Антон :)

[2014-04-22 10:59] DmitrysIF commented on #110
Да, я тоже его увидел - собирался исправлять :)

[2014-04-22 11:02] DmitrysIF commented on #109
Есть проблема, которая заключается в том, что логика построения амазоновской ссылки различается и парсер не может выловить айдишник товара типа "B00000IWDP". Вопрос будет решен.

[2014-04-22 11:04] DmitrysIF commented on #95
Не за что :)
Сделаю.

[2014-04-22 15:40] DmitrysIF commented on #114
В данный момент я предлагаю перенести эту доработку на будущий Release 2.

[2014-04-22 16:45] Fetati commented on #114
согласна

[2014-04-22 17:48] Fetati commented on #74
Это хорошая мысль для следующего релиза.
1) Надо сделать эту возможность доступной всем, кто заносит Donee (не только супер-администраторам). Потому что может занести Donee айтишник, а листы заносить и управлять потом другой человек.
2) Сделать hint для этой функции

[2014-04-22 18:44] DmitrysIF commented on #74
Если вы о возможности управлять доступом другими участниками дони - то это и так возможно. Это не является личной привилегией супер админа.
Нужен текст для hint

[2014-04-22 20:18] DmitrysIF commented on #110
Исправил - проверьте, пожалуйста, стали ли нормально показываться серые иконки гуддлера?

[2014-04-22 20:20] DmitrysIF commented on #111
Fixed

[2014-04-22 20:20] #111 closed, assigned to nobody

[2014-04-22 20:21] DmitrysIF commented on #94
Сделано.

[2014-04-22 20:21] #94 closed, assigned to nobody

[2014-04-22 21:39] #110 closed, assigned to nobody

[2014-04-22 21:40] DmitrysIF commented on #41
Я заполнил пустое пространство. По поводу ссылок в тексте - это будет точно не сейчас.

[2014-04-22 21:40] #41 closed, assigned to nobody

[2014-04-22 21:41] DmitrysIF commented on #56
Я предлагаю эту доработку оставить на  Release 2.

[2014-04-22 21:42] DmitrysIF commented on #103
Предложено перенести это на следующий этап разработки - Release 2

[2014-04-23 00:12] DmitrysIF commented on #109
Исправил ошибку с amazon-urls (возможно, есть еще какой-нибудь амазон-адрес, который не обработается по текущим шаблонам - о таких прошу сообщать), проапрейдил показ ожидания обработки данных для добавления товара.

[2014-04-23 00:12] #109 closed, assigned to nobody

[2014-04-23 00:14] DmitrysIF commented on #104
Еще актуально?

[2014-04-23 00:14] #100 closed, assigned to nobody

[2014-04-23 00:16] DmitrysIF commented on #8
_И надо оставлять How It Works на всех страницах_
В целях совместимости дизайнов - How It Works не показывается для залогиненного пользователя.

[2014-04-23 00:18] DmitrysIF commented on #8
_All wishlists сейчас есть, просто медленно появляется. Он появляется, когда подводишь мышь к значку. Можно сделать, чтобы появлялся быстрее?_
Хорошо, сделаем.

[2014-04-23 03:07] ghost commented on #16
i agree Dima, if we want to show pop-up window can we make sure it does not overlap the the "?" mark or the link. It is kind of under and overlaps something else but not initial link, see new screen shot. It either should be next to the link or under

[2014-04-23 03:07] ghost commented on #16
![about you 2](https://cloud.githubusercontent.com/assets/7193843/2773242/5e2e63ee-ca94-11e3-94dc-48cb86dd587f.png)
![drop down](https://cloud.githubusercontent.com/assets/7193843/2773241/5e2dbff2-ca94-11e3-876b-d8f4b7400d94.png)

[2014-04-23 03:07] ghost commented on #16
@DmitrysIF Can we add About You not About.

[2014-04-23 03:10] ghost opened #116 "How do we user Location information with Users, do we display it somewhere, why do we have it?"

[2014-04-23 03:10] ghost commented on #116
edit profile flow

[2014-04-23 03:12] ghost commented on #16
those changes should be made across all pages if possible to spread drop down menu/ pop up window we need to stretch it, not put all info in small square, if we have space to put it in wider screen it looks better

[2014-04-23 03:38] ghost commented on #40
Thank you Dima:) Love it

[2014-04-23 03:52] ghost commented on #55
@DmitrysIF @Fetati  I would skip  info for Social fields for now. it is very obvious what needs to be added and very hard to explain in short sentence where to find link to FB, TW and etc.
if we would like to add info about how to get link for FB then it should be a new screen with steps and  pictures.
@Fetati  you call Tanusha

[2014-04-23 03:57] ghost commented on #55
the only thing that comes to my mind is to make a very light gray text inside the FB, TW, IN field with words
e.g. https://www.facebook.com/Vasia.Pugovkin
e.g. https://www.linkedin.com/profile/view?id=54524169&trk=spm_pic  (for linked In)
e.g. https://twitter.com/Smulean

as an hint for users

[2014-04-23 04:03] ghost commented on #99
@DmitrysIF  agree
will close for now

[2014-04-23 04:03] #99 closed, assigned to nobody

[2014-04-23 04:16] ghost opened #117 "user unable to sign up- gives error"
![cant create user](https://cloud.githubusercontent.com/assets/7193843/2773540/0ea023da-ca9e-11e3-9b7d-155937f277aa.png)

[2014-04-23 04:20] ghost opened #118 "after deleting a picture (Create Donee Flow) it does not fully delete pics info and it looks like it still there, till you refresh page"
tap create Donee
upload picture
click Delete

Bug: info is still there
![still there](https://cloud.githubusercontent.com/assets/7193843/2773554/98665f30-ca9e-11e3-954b-67aec9509451.png)

[2014-04-23 04:25] ghost commented on #48
@RealBerd can we make it bigger?
Browser was Chrome, but see in Safari and Firefox

[2014-04-23 04:30] ghost commented on #41
well done. love it. thank you @DmitrysIF

[2014-04-23 04:37] ghost commented on #104
@Fetati @DmitrysIF I understand the flow if user is a guest and adds items to a cart and then click Check out and prompt to sign up and pay, but in this case user signed up, adds items, sign out, and cart still has items
Expected flow would be: sign up, add items, sign out -> cart goes to 0, and once that user sign in again -> cart should be updated (cart shoube remember the user) to whatever user

[2014-04-23 04:42] Fetati opened #119 "Text: Correction"
http://gooddler.cloudapp.net/Profile/tester1123/Donations
Should be just "Donations of Tester Testerovich" - убери Donator.
Тем более это Donor :)

![screen shot 2014-04-22 at 9 36 57 pm](https://cloud.githubusercontent.com/assets/4335901/2773648/67448c80-caa1-11e3-903d-1ddb03eae2ca.png)

[2014-04-23 04:52] Fetati opened #120 "Text: Correction 2"
http://gooddler.cloudapp.net/Profile/dmitrys
Donations about Dmitry Shestialtynov исправить на Donations of Dmitry Shestialtynov

![screen shot 2014-04-22 at 9 43 11 pm](https://cloud.githubusercontent.com/assets/4335901/2773663/d40bf93e-caa1-11e3-9163-43b941129f26.png)

[2014-04-23 04:55] Fetati opened #121 "Text: Correction 3"
Убрать слово Donator.
И убрать все знаки вопроса. И так понятно, что это.

![screen shot 2014-04-22 at 9 53 23 pm](https://cloud.githubusercontent.com/assets/4335901/2773695/453db380-caa3-11e3-981a-51bbc5dc6fb1.png)

[2014-04-23 05:02] Fetati commented on #104
Я согласна с Тамарой. Надо это исправить. Не должно быть так. Задумка была в том, что человек ДО регистрации может уже начать что-то бросать в корзину. Но ничего не должно оставаться видным, если человек sign out.

[2014-04-23 05:09] DmitrysIF commented on #118
Это так важно? Это простой лог загрузок.

[2014-04-23 05:15] Fetati commented on #48
Я уже где-то описывала, что не так, и выкладывала нужный дизайн.
Делаю еще раз (см. ниже картинку):
1) значок Menu не такой. И надо убрать слово Menu. Достаточно подсказки при наведении мыши
2) у названий Donee логотип Гудлера с обрезанной головой - то, о чем говорит Тамара
3) сейчас стрелки прокрутки постов съехали вниз, должны быть посередине постов
4) дата поста и название donee должны быть на

[2014-04-23 06:04] DmitrysIF commented on #104
А вот тут зовите Никиту и обсуждайте это.
Если сделать так - как вы считаете нужным сейчас, то придется очень много переделывать.

[2014-04-23 06:08] DmitrysIF commented on #121
Почему убрать? Я считаю - это очень полезным, не дает забыть - в чей адрес пишется сообщение! Плюс, можно понять - кому пишешь (рядом с Донатором надписи еще могут быть):
Просто пользователю, пользователю в ответ на конкретный донейшен, просто вишлисту, просто дони.
Сменить Donator на Donor - я согласен :)

[2014-04-23 06:10] DmitrysIF commented on #117
как воспроизвести ошибку?

[2014-04-23 06:14] DmitrysIF commented on #116
Я считаю это заделом на будущее.
Не нужно стараться прямо сейчас сделать все на свете - для этого придумали разделение разработки на этапы :)
Возможно, мы в Release 2 решим, как это использовать.

[2014-04-23 06:18] DmitrysIF commented on #116
В принципе - мы можем скрыть это поле до лучших времен.

[2014-04-23 07:17] Fetati commented on #121
ладно, согласна.
Смени на Donor. Какие тексты еще могут быть тут? Напиши по-русски, я пришлю тексты на английском.
Пользователь = donor?

[2014-04-23 07:48] RealBerd commented on #104
Дима, можешь просто отчистить куку при SingOut?

[2014-04-23 20:16] DmitrysIF commented on #121
Хм, может сделать так - если пишется просто пользователю, то просто вместо Donor писать "for User"?
Какие надписи еще могут быть В добавок к Donor:
Donee: ...;
Wishlist: ...;
Donation: ...;
Про donation пишется количество перечисленных денег, дата платежа.

[2014-04-24 01:16] DmitrysIF commented on #48
_2) у названий Donee логотип Гудлера с обрезанной головой - то, о чем говорит Тамара_
Я хочу попросить назвать браузер и их версии, в которых наблюдаются обрезанные логотипы. В тех некоторых браузерах, что я проверял - логотипы не обрезаны.

[2014-04-24 01:30] Fetati commented on #48
chrome

Sent from my iPhone

[2014-04-24 04:17] DmitrysIF commented on #48
А версия? Посмотрите в опции "О программе"

[2014-04-24 04:23] DmitrysIF commented on #48
![image](https://cloud.githubusercontent.com/assets/7186861/2786042/14565734-cb68-11e3-87ca-c77c6ee50cd7.png)
Вот что у меня в хроме (все значки нормальные), версия хрома - 34.0.1847.116 m

[2014-04-24 07:42] Fetati commented on #48
Chrome Version 34.0.1847.116.
Смотрю с MacBook Pro

И с айфона тоже резаные головы у логотипов

[2014-04-24 07:45] Fetati commented on #116
Надо не Location, а скорее адрес для подтверждения кредитной карты. @DeveloperRegistry, можешь помочь с этим вопросом, плиз.

[2014-04-24 13:35] #63 closed, assigned to nobody

[2014-04-24 13:35] #120 closed, assigned to nobody

[2014-04-24 13:35] #119 closed, assigned to nobody

[2014-04-24 13:35] #95 closed, assigned to nobody

[2014-04-24 13:36] #55 closed, assigned to nobody

[2014-04-24 13:37] DmitrysIF commented on #48
Проверьте значки - я загрузил новую версию.

[2014-04-24 13:37] #104 closed, assigned to nobody

[2014-04-24 14:57] DeveloperRegistry commented on #116
Yes, I am going to add Name and Address to the credit card processing form. However, we probably do not want to store user data in Gooddler's database  to minimize impact from hacker attacks. Should we hide this field?

[2014-04-24 16:01] DmitrysIF commented on #121
Если все правки по этому таску завершены - закрываем :)

[2014-04-24 19:43] Fetati commented on #48
Хм... так странно.
Вижу, что стрелочки прокрутки постов встали на место, и меню то, что надо. А головы у логотипов по-прежнему срезаны.

[2014-04-24 20:03] Fetati commented on #116
Yes, let's hide it.

[2014-04-24 20:05] Fetati commented on #121
Нет, не завершены еще, подожди, я протестирую

[2014-04-24 20:08] Fetati opened #122 "Donee Page: change a place for Wishlist description"
Дим, текст должен быть не под картинкой, а под заголовком. Должно не выпадать дальше картинки. Цель - заполнить пустое пространство у картинки.
http://gooddler.cloudapp.net/Donee/10017

![screen shot 2014-04-24 at 1 05 16 pm](https://cloud.githubusercontent.com/assets/4335901/2794380/f851a76c-cbeb-11e3-9915-3737a1017901.png)

[2014-04-24 20:33] galinafed opened #123 "Sign In: no need for "?" next to "sign in""
![screenshot 13](https://cloud.githubusercontent.com/assets/7177944/2794664/90d581cc-cbef-11e3-8348-91be14afa4cc.png)

No need for ? next to sign in

[2014-04-24 20:46] Fetati commented on #112
Давайте изменим кнопку Delete Wishlist на бледный линк, типа как [sign out] линк.
А то уже вот в который раз чуть не нажала на нее, вместо Update Wishlist при изменении вишлиста.

[2014-04-24 20:48] Fetati commented on #56
Хорошо, давайте оставим.

[2014-04-24 21:20] Fetati commented on #108
Куда-то пропала кнопка Create Wishlist. Точнее она есть, если подвести мышь в то место, где она была. Но ее не видно, если мышь не подводить. (Chrome) http://gooddler.cloudapp.net/Donee/30042

![screen shot 2014-04-24 at 2 17 49 pm](https://cloud.githubusercontent.com/assets/4335901/2795150/1bea2b0e-cbf6-11e3-998b-0f2cac4a78c9.png)

вот что видно, если мышь подвести:

![screen shot 2014-04-24 at 2

[2014-04-24 21:37] DeveloperRegistry commented on #112
Dima, you can re-assign it to me if you do not have time.

[2014-04-25 02:03] Fetati opened #124 "Стрелки прокрутки маленькие"
Дим, мы уже как-то это меняли, а опять выглядит так, что стрелки прокрутки из старого дизайна - они маленькие, и полоса прокрутки вверх-вниз браузера перекрывает правые стрелки так, что не возможно на них нажать. Таня Раш как-то уже меняла это. Проверь, пожалуйста:

![screen shot 2014-04-24 at 6 59 48 pm](https://cloud.githubusercontent.com/assets/4335901/2796960/bc20aebe-cc1d-11e3-837e-0bafb22975

[2014-04-25 02:34] Fetati opened #125 "Donee Page: выглядит по-разному если sign-in и если нет"
Donee Page выглядит по-разному если sign-in и если нет. Оба варианта надо править - я писала об этом уже. Но в любом случае, должно быть одинаково. Дизайн не должен ехать в зависимости от того залогинен человек или нет.

Я залогинена (см. на вишлисты):

![screen shot 2014-04-24 at 7 30 48 pm](https://cloud.githubusercontent.com/assets/4335901/2797130/dcc78a12-cc21-11e3-83ef-509235fee71d.png)

Вот

[2014-04-25 04:01] Fetati opened #126 "Text: change "Posts" to "Gooddlers are saying...""
Заменить "Posts" на "Gooddlers are saying..."
![screen shot 2014-04-24 at 8 59 58 pm](https://cloud.githubusercontent.com/assets/4335901/2797465/37815cb0-cc2e-11e3-9d54-d820c011a517.png)

[2014-04-25 04:15] Fetati opened #127 "List of Posts: bad design - need to format text"
http://gooddler.cloudapp.net/Blog/Posts
1) уменьшить картинки
2) текст каждого поста при просмотре всех постов теряет свое первоначальное форматирование. Не должно быть так
3) убрать логотип Gooddler с заголовка поста - серым цветом с серым логотипом Gooddler мы обозначаем Donnee. Не должно быть одинаково, а то путаница
4) место позволяет сделать на этой странице вот этот блок тоже:
Donor: Tester

[2014-04-25 04:20] Fetati opened #128 "Posts about particular Donee: change a title"
http://gooddler.cloudapp.net/Blog/Posts?doneeid=30042
В списке постов по конкретному Donee надо поменять название "Posts" на "Gooddlers are saying about ____(Donee Name):" (с линком на данного Donee)

![screen shot 2014-04-24 at 9 19 28 pm](https://cloud.githubusercontent.com/assets/4335901/2797527/e16c3144-cc30-11e3-9667-97a1aecac3f7.png)

[2014-04-25 04:29] Fetati opened #129 "Create New Post - wrong button, no sense"
http://gooddler.cloudapp.net/Admin/Posts

Menu/My Posts/Create New Post
В списке постов есть кнопка Create New Post, которая ни к чему не привязана (ни к донору, ни к donee, ни к вишлисту), возможно, что поэтому невозможно создать этот пост.

![screen shot 2014-04-24 at 9 26 28 pm](https://cloud.githubusercontent.com/assets/4335901/2797559/11200f72-cc32-11e3-8674-38523fa4ab2a.png)

[2014-04-25 12:39] DmitrysIF commented on #125
Я проверю.

[2014-04-25 15:24] DmitrysIF commented on #129
Нам нужна эта кнопка? Или ее можно убрать, если нет фильтрации по конкретному дони, вишлисту?

[2014-04-25 16:57] Fetati commented on #129
Я не вижу смысла в этой кнопке, тем более если она не работает. Убираем.

[2014-04-25 17:06] Fetati commented on #48
Давайте срезанные логотипы оставим во второй релиз. Не тратим время на это сейчас.

[2014-04-25 17:32] DmitrysIF commented on #48
Тут какая-то проблема с совместимостью браузеров. Будет время - спрошу
нашего специалиста по верстке.

26 апреля 2014 г., 2:06 пользователь Tatiana Fedorova <
notifications@github.com> написал:

[2014-04-25 18:58] DmitrysIF commented on #128
Сделано.

[2014-04-25 18:58] #128 closed, assigned to nobody

[2014-04-25 18:58] DmitrysIF commented on #129
Работоспособность кнопки восстановлена.

[2014-04-25 18:58] #129 closed, assigned to nobody

[2014-04-25 18:58] DmitrysIF commented on #126
Сделано.

[2014-04-25 18:58] #126 closed, assigned to nobody

[2014-04-25 18:59] DmitrysIF commented on #125
Сделано.

[2014-04-25 18:59] #125 closed, assigned to nobody

[2014-04-25 18:59] DmitrysIF commented on #108
Исправлено.

[2014-04-25 18:59] #108 closed, assigned to nobody

[2014-04-25 20:10] DmitrysIF commented on #124
Очень странно - насколько я помню, я с ними вообще ничего не делал с момента установки шаблона этой страницы. Я посмотрю.

[2014-04-25 20:31] Fetati commented on #124
В том то и дело, что шаблон изначально вставили не тот. Поэтому и есть список корректировок, которые ты уже частично поправил.

Мы утверждали вот этот. Тут и стрелки, и меню, и посты, и все так, как нам надо:

![04_main](https://cloud.githubusercontent.com/assets/4335901/2805409/5be97f9e-ccb8-11e3-8e89-e03c3b7cb27f.jpg)

[2014-04-25 20:53] DmitrysIF commented on #123
Сделано.

[2014-04-25 20:53] #123 closed, assigned to nobody

[2014-04-25 20:53] DmitrysIF commented on #51
Таск завершен.

[2014-04-25 20:53] #51 closed, assigned to nobody

[2014-04-25 20:54] DmitrysIF commented on #122
Завершено.

[2014-04-25 20:54] #122 closed, assigned to nobody

[2014-04-26 01:31] DmitrysIF commented on #16
в таком случае предоставьте мне пример куда сдвинуть какое всплывающее окошко. У меня с такой фантазией сложности :)

[2014-04-26 01:56] DmitrysIF commented on #54
Я бы предложил это перенести на Release 2.
То что есть - вполне можно использовать.

[2014-04-26 01:58] DmitrysIF commented on #112
*Давайте изменим кнопку Delete Wishlist на бледный линк, типа как [sign out] линк. *
Это будет быстро. Будет в следующем обновлении. Антон - я справлюсь.

[2014-04-26 03:33] DmitrysIF commented on #116
В следующем обновлении.

[2014-04-26 04:37] DeveloperRegistry commented on #112
Spasibo, Dima!

[2014-04-26 17:36] Elenarussian opened #130 "user gets an error when singing up through Check out flow ( as a guest)"
steps:
1. Do not Sing in or Sing up
2. Add one item to your Cart
3. Tap Check out button
4. When Sign up page opens enter user name and email

Bug: user gets an error
![screen shot 2014-04-26 at 10 26 15 am](https://cloud.githubusercontent.com/assets/7408823/2809348/1d1b5376-cd69-11e3-8d7a-54bb19442ae7.png)

[2014-04-26 17:52] Elenarussian opened #131 "" Good " , " Ok " should be aligned with password field"
![screen shot 2014-04-26 at 10 43 17 am](https://cloud.githubusercontent.com/assets/7408823/2809382/71fdf32e-cd6b-11e3-9154-13256867d10e.png)

check out as a guest flow

[2014-04-26 18:11] Elenarussian opened #132 "It would be nice to have a preview of the picture before submitting it"
1.Go to profile
2.Uploud picture

![screen shot 2014-04-26 at 11 10 55 am](https://cloud.githubusercontent.com/assets/7408823/2809419/2061805a-cd6e-11e3-9808-f530a1338512.png)

[2014-04-26 18:19] Elenarussian opened #133 "When user taps FB,TW,G+, icon it gives error"
![screen shot 2014-04-26 at 11 14 56 am](https://cloud.githubusercontent.com/assets/7408823/2809433/fe37fe86-cd6e-11e3-97ca-af71af0e65a2.png)

![screen shot 2014-04-26 at 11 18 05 am](https://cloud.githubusercontent.com/assets/7408823/2809439/27c533ae-cd6f-11e3-8f01-aa2635c2632f.png)

If link is not ready let QA know when it's ready for testing.Thank you.

[2014-04-26 18:59] Elenarussian opened #134 "Help info for FB,IN, TW link is misplaced"
Go to profile try to enter info in to FB,TW field and observe help info
1. FB link should be placed lower under the cell
2. IN and TW is misplaced

![screen shot 2014-04-26 at 11 31 47 am](https://cloud.githubusercontent.com/assets/7408823/2809539/bafc418a-cd74-11e3-8bc4-1f45ff9e5ca2.png)

![screen shot 2014-04-26 at 11 31 43 am](https://cloud.githubusercontent.com/assets/7408823/2809540/c19e776a-

[2014-04-26 19:32] Elenarussian opened #135 "User unable to delete a post"
![screen shot 2014-04-26 at 12 29 53 pm](https://cloud.githubusercontent.com/assets/7408823/2809619/470bccaa-cd79-11e3-9cb6-d1dc2c4b0312.png)
1. Create donee
2. Make a posts
3. Try to delete

[2014-04-26 19:42] TShket opened #136 "user unable to add picture to wishlist"
create Donee
create new wish list
upload picture for wishlist
picture uploads only till 98 or 96%
Maybe network issues or picture size
will re test later, but file anyway
![wishlist pics](https://cloud.githubusercontent.com/assets/7193843/2809658/ed9f3e20-cd7a-11e3-91e8-c944165510a8.png)

[2014-04-26 19:54] Elenarussian opened #137 "is the Term, Help page ready?"
![screen shot 2014-04-26 at 12 53 15 pm](https://cloud.githubusercontent.com/assets/7408823/2809672/6f40b688-cd7c-11e3-8193-7ec49fe79b69.png)

![screen shot 2014-04-26 at 12 56 23 pm](https://cloud.githubusercontent.com/assets/7408823/2809683/119f4f0c-cd7d-11e3-9461-fd18f8ab13b7.png)

[2014-04-26 20:16] ghost opened #138 "When user adds items "Count" area should be updated to "count" , currently it has number of previous item"
create Donee
Add items to wish list
observe the field where user enters the amount of items after  you added one item

Bug: number from previous
![count updated](https://cloud.githubusercontent.com/assets/7193843/2809722/b0584782-cd7f-11e3-80f1-d50fea40b847.png)
![count](https://cloud.githubusercontent.com/assets/7193843/2809723/b06bf5de-cd7f-11e3-9cfc-013465928a7d.png)

 item is shown
Expected: i

[2014-04-26 20:17] Elenarussian opened #139 "Scroll down bar blocks user from scrolling projects"
![scroll bar](https://cloud.githubusercontent.com/assets/7408823/2809724/c6a20a96-cd7f-11e3-946d-ecb8ccc132df.png)

[2014-04-26 20:33] Elenarussian opened #140 "Video "How it works" is pixelated (used Safari)"
![screen shot 2014-04-26 at 1 22 43 pm](https://cloud.githubusercontent.com/assets/7408823/2809739/bc98e5b4-cd80-11e3-8c1d-8040f2028bdb.png)

[2014-04-26 20:38] TShket opened #141 "Price reflected incorrect (Amazon vs Gooddle)"
add items to wishlist from Amazon
notice
![price 31](https://cloud.githubusercontent.com/assets/7193843/2809762/b0f1a91a-cd82-11e3-9ede-35c5502fca47.png)
![price](https://cloud.githubusercontent.com/assets/7193843/2809763/b0f2a7e8-cd82-11e3-8408-fb6be5564ae4.png)

 the price on Amazon and then on Gooddler

[2014-04-26 21:03] TShket opened #142 "icon is too close to the border of field"
![close to edge](https://cloud.githubusercontent.com/assets/7193843/2809818/244842fe-cd86-11e3-98e8-30cdef5bfc45.png)

[2014-04-26 21:15] ghost opened #143 "User gets server error"
was trying to upload list
worked for some time but then stopped (~ 2:10 PT, SAt)
![error server](https://cloud.githubusercontent.com/assets/7193843/2809848/c475f05e-cd87-11e3-9827-82ef37626654.png)

[2014-04-26 21:28] Elenarussian opened #144 "User shouldn't be able to insert their own number into the cell"
![aaaaaaa](https://cloud.githubusercontent.com/assets/7408823/2809865/0c620172-cd89-11e3-88eb-9e33664fd264.png)

![screen shot 2014-04-26 at 2 23 05 pm](https://cloud.githubusercontent.com/assets/7408823/2809866/0f7cf362-cd89-11e3-8d53-9a8dd02c3b04.png)

[2014-04-26 21:45] ghost opened #145 "Project should say "100% Complete" not "Finished""
since we use the term " Complete" when user donate items we should use the term Complete
![finished](https://cloud.githubusercontent.com/assets/7193843/2809912/2371e85c-cd8c-11e3-9684-e62a014291a1.png)

[2014-04-26 21:47] ghost opened #146 "Complete project still has one item for donation"
![finished](https://cloud.githubusercontent.com/assets/7193843/2809913/45c346c6-cd8c-11e3-9d1e-9f30ef0ed074.png)

[2014-04-26 22:15] ghost opened #147 "Wording should be changed on Create Donee page"
" use a subdomain of goodler.com" is a very confusing phrase for regular users

i would change it to " Personalise your GOODdler webpage"
or something more simple.

@Fetati you call
![subdomane](https://cloud.githubusercontent.com/assets/7193843/2809969/38d37eaa-cd90-11e3-9cea-1e93a198d71b.png)

[2014-04-26 22:17] Elenarussian opened #148 "" List Wishlist " and " View Wishlist " shouldn't be opened in new window"
1. click  " My Wishlist "
2. click  Wishlist name
3. click " List Wishlist " or " View Wishlist "

Bug: opens new window (user ends up with lots of open windows)
Expected: It should be opened in the same window

[2014-04-26 22:21] ghost opened #149 "UI: IS there a way for users to delete their DOnees?"

[2014-04-26 22:28] DeveloperRegistry commented on #149
Yes, you just need to have an admin role. I granted admin role to user 'hellot'. Log out and log back in. Let me know if Admin role needs to be granted to a different user. You should be able to Delete Donees, Wishlist and Posts.

[2014-04-26 22:37] DeveloperRegistry commented on #135
Can you confirm that you tried to delete a post for the Donee that you own? The functionality definitely works if you have an Admin role (just tested). However, it can be different for regular users. Do you get any error messages?

[2014-04-26 22:45] Elenarussian commented on #135
I don't get any error messages. When you click  a delete button it doesn't do anything at all.
What would be the other way to confirm?

[2014-04-26 22:57] DeveloperRegistry commented on #135
I just created a new User Account (no Admin rights). Created a new Donee and Post. I was able to Delete it. The only check that code executes: your User Id need to be a Donee owner or you need to be an Admin. I used Chrome. What browser do you use?

Try to create a New Donee, new post and delete one more time.

[2014-04-26 22:58] ghost opened #150 "UI: When creating Donee user should be prompt to correct fields immediately"
try to create Donee and use "slug" ( can we change that to something more appealing?:)
that already exist

Expected: If username exist already , it should automatically notify
Bug: user has to fill out all the fields and only after tapping done he gets an error msg that user name already exist

[2014-04-26 23:16] ghost opened #151 "UI: why we have subdomain name and Donee name"
how is that used
can we ask users to create one Donee name and generate subdomain name based on that?
unless there is a reason why we have it, i see a confusion for us in the future, because one user will have at least 2 type of identification

the wording should be changed for Error msg as well
Should be "Username or Donee name already exist." NOT
Sorry, this "Donee slug" is exist. Please - enter

[2014-04-26 23:23] Elenarussian opened #152 "progress bar is misplaced on some projects"
![screen shot 2014-04-26 at 4 19 44 pm](https://cloud.githubusercontent.com/assets/7408823/2810081/74e4a852-cd99-11e3-9afd-ce5033eb38a0.png)

![screen shot 2014-04-26 at 4 19 35 pm](https://cloud.githubusercontent.com/assets/7408823/2810082/79c1d5d4-cd99-11e3-8e48-5604b38f444b.png)

![progress bar](https://cloud.githubusercontent.com/assets/7408823/2810084/b75f49e4-cd99-11e3-905d-caf72357ef89.png)

[2014-04-26 23:31] DeveloperRegistry opened #153 "Implement Digital Certificate for the for the Checkout Page and Force to Switch to HTTPS"
Dima and Nikita, we need to make sure that gooddler.cloudapp.net/CheckOut/  page is always served from HTTPS. We need some kind of forced re-direct on the page. Presently, we do not have a digital certificate. We can buy them and configure Azure to use them. Please assist with the task. We cannot go live with users keying in credit card data on unprotected page.

Thank you!

[2014-04-27 01:13] Elenarussian commented on #135
Ok i will try.
I use Safari .

[2014-04-27 02:26] Fetati commented on #151
Sometimes donees already have domain names, that differ from our User Name. For example Humane Society Truckee Tahoe has their own domain hstt.com. They can use it for Gooddler - hstt.gooddler.com. It is easier to remember and give to their donors.

Sent from my iPhone

[2014-04-27 02:30] Fetati commented on #147
It was taken from Wordpress or Weebly or something like this. If you think it is confusing, let's change it for something more appropriate.

Sent from my iPhone

[2014-04-27 04:03] DmitrysIF commented on #141
Выбирается средняя амазоновская цена данного лота.
Нет возможности выбрать цену конкретного лота.

[2014-04-27 04:06] DmitrysIF commented on #133
Ссылочки, на которые должны вести эти кнопки - в студию! И они будут подключены :)

[2014-04-27 04:07] DmitrysIF commented on #134
Да, замечено - решается.

[2014-04-27 04:08] DmitrysIF commented on #136
А что сделать-то нужно? Непонятна проблема.

[2014-04-27 06:25] Fetati commented on #133
Facebook: https://www.facebook.com/gooddler
Twitter: https://twitter.com/GOODDler
G+: https://plus.google.com/+Gooddler/

[2014-04-27 10:07] RealBerd commented on #153
Купите сертификат. Настроим.

[2014-04-27 11:15] DmitrysIF commented on #148
@Elenarussian  Так и должно быть, мы не должны уводить человека со страницы редактирования - он в этот момент может делать какие-то правки и кликнуть данные ссылки не применив изменения. Что обернется потерей измененных данных.

[2014-04-27 11:21] DmitrysIF commented on #144
Это сделано в целях совместимости с браузерами, которые не поддерживают Html5, в таком случае будет просто поле для ввода числа без кнопок больше-меньше.
Стоит защита от записи в корзину больше, чем доступно для пожертвования - просто выставится максимально доступное количество.

[2014-04-27 11:23] DmitrysIF commented on #143
@TShket опубликуйте ссылку, которую использовали - нужно попытаться повторить ошибку.

[2014-04-27 11:25] DmitrysIF commented on #117
Ошибка еще есть?

[2014-04-27 13:53] DmitrysIF commented on #133
Нет ссылки на ютуб

[2014-04-27 13:56] DmitrysIF commented on #133
Так же нету страницы "Help" - нужен текст

[2014-04-27 16:52] Fetati commented on #133
We don't have YouTube.

Sent from my iPhone

[2014-04-27 17:28] DmitrysIF commented on #138
Понял - сейчас сделаю обнуление.

[2014-04-27 17:50] DmitrysIF commented on #133
Тогда я закомментирую эту иконку - когда будет ютуб у нас, то вернем на место.

[2014-04-27 18:33] DmitrysIF commented on #138
Переделал :)

[2014-04-27 18:33] #138 closed, assigned to nobody

[2014-04-27 18:34] DmitrysIF commented on #112
Переделано - надеюсь, вам понравится мое решение :)

[2014-04-27 18:34] DmitrysIF commented on #134
Исправлено.

[2014-04-27 18:35] DmitrysIF commented on #116
Убрано.

[2014-04-27 18:35] #116 closed, assigned to DeveloperRegistry

[2014-04-27 18:36] #133 closed, assigned to nobody

[2014-04-27 18:47] DmitrysIF commented on #16
По поводу My Cart - подвижки будут только после того, как предложите вариант расположения всплывающего окошка.

[2014-04-27 18:48] DmitrysIF commented on #13
Подвинул.

[2014-04-27 18:48] #13 closed, assigned to RealBerd

[2014-04-27 18:49] DmitrysIF commented on #18
Note: would be nice to have it in color and make sure they follow the copyright specs of the copyright holders.

Предоставите исходники для цветных иконок - поставим.

[2014-04-27 18:51] DmitrysIF commented on #74
Мне нужен хинт для этой функции!

[2014-04-27 18:53] DmitrysIF commented on #117
Прошу хотя бы отвечать на мои реплики, а то складывается впечатление, что тут хоть шаром прокати)

[2014-04-27 18:54] DmitrysIF commented on #147
Нужен утвержденный Title этой функции для замены.

[2014-04-27 20:19] DmitrysIF opened #154 "Проблема с отображением списка wishlists on a donee page"
![image](https://cloud.githubusercontent.com/assets/7186861/2812233/2d5ce5e8-ce49-11e3-8901-218b281baa41.png)
Найдена проблема, исправляется.

[2014-04-28 01:14] Fetati commented on #149
Мне не нравится, как реализовано Delete Donee сейчас
1) Текст должен быть серым, как у "How It Works" или "Sign Out"
2) Расположить этот линк надо под Update Donee. Примерно так:
![screen shot 2014-04-27 at 5 59 27 pm png](https://cloud.githubusercontent.com/assets/4335901/2812828/cdf47fe4-ce70-11e3-8e5b-6ec3732438f4.jpg)

3) Hint тут не нужен. Надо после нажатия на линк Delete Donee сделать pop-u

[2014-04-28 01:31] Fetati commented on #147
Предлагаю сделать так, как на Weebly:
![screen shot 2014-04-27 at 6 18 45 pm](https://cloud.githubusercontent.com/assets/4335901/2812861/1e71b32c-ce73-11e3-9620-45367177946e.png)

Title:
1 строка: Choose Your Website Domain - крупный шрифт, как заголовок у страницы

2 строка: Use a Subdomain of Gooddler.com - жирным
Hint: This is the address where people will find your website online

3 строка:
ht

[2014-04-28 01:38] Fetati commented on #137
Terms - сделано.
Help - not ready yet. I'll send a text soon.

[2014-04-28 01:45] Fetati commented on #136
У меня все закачивается. @TShket Тамара, уточни проблему

[2014-04-28 01:49] #121 closed, assigned to galinafed

[2014-04-28 01:50] Fetati commented on #117
@TShket протестируй еще раз, плиз. Работает сейчас?

[2014-04-28 01:52] Fetati commented on #117
В Safari работает.
Димочка, только убери знаки вопросов, плиз.

![screen shot 2014-04-27 at 6 51 13 pm](https://cloud.githubusercontent.com/assets/4335901/2812966/b2071664-ce77-11e3-8b89-9c99d6e98a1c.png)

[2014-04-28 01:56] Fetati commented on #115
@DmitrysIF: Дим, какие типы постов у нас есть?
1) From Donor to Donee
2) From Donor to Wishlist
3) From Donee to Donor
4) From Wishlist to Donor
5) Абстрактный текс от любого юзера

Что еще?

[2014-04-28 02:00] Fetati opened #155 "Wishlist: при добавлении товара появляется "Added", а в Cart в шапке страницы ничего не появляется."
Мы вроде это правили? - при добавлении товара в корзину, в списке появляется Added, а в Cart в шапке страницы ничего не появляется.

![screen shot 2014-04-27 at 6 57 27 pm](https://cloud.githubusercontent.com/assets/4335901/2812987/92619ba8-ce78-11e3-9018-b9ea40bd003a.png)

[2014-04-28 02:07] Fetati opened #156 "Hint "My Cart" перекрывает кнопку Check Out и кнопку My Cart"
Надо сделать примерно так:

![picasa_3](https://cloud.githubusercontent.com/assets/4335901/2813036/d32842a8-ce79-11e3-8317-f393e7e3cc11.png)

[2014-04-28 02:10] Fetati commented on #105
@DeveloperRegistry Антон, что думаешь по этому поводу?

[2014-04-28 02:24] galinafed commented on #74
Hint to Access list. "Enter a name of the person who will receive all rights to manage, support and edit a page of this Donee"

[2014-04-28 04:18] DeveloperRegistry commented on #105
Dima and Nikita, it is definitely a Security Defect. If I am signed out, I should not be automatically logged back in. We need to researched what variables are cached and why this happens. We need to reset all variables after signing out. Lets discuss when you have time.

[2014-04-28 04:20] DeveloperRegistry commented on #115
What about General Announcements from Admin users?

[2014-04-28 06:39] Fetati commented on #16
![picasa_3](https://cloud.githubusercontent.com/assets/4335901/2814017/da91e5c8-ce9f-11e3-85cb-daa3347599c9.png)

[2014-04-28 06:44] Fetati commented on #112
Не понравилось, сори, Дима.
Надо сделать точно также, как и Delete Donee. Смотри issue #149
![screen shot 2014-04-27 at 5 59 27 pm png](https://cloud.githubusercontent.com/assets/4335901/2814046/54cdbfec-cea0-11e3-977f-a1d110b37bd8.jpg)

[2014-04-28 06:50] Fetati opened #157 "My Cart: нестыковка в количестве items"
Я купила 2 штуки, а в подписи показано, что 1 штука.

![my_cart_-_gooddler](https://cloud.githubusercontent.com/assets/4335901/2814088/475800d8-cea1-11e3-9042-521423304395.png)

[2014-04-28 06:56] Fetati opened #158 "Странная кнопка Check Out в конце вишлиста"
При выборе товара есть кнопка Donate, которая добавляет товар в корзину. И в конце вишлиста есть большая кнопка Check Out, которая сразу отправляет юзера на страницу ввода кредитной карты. При этом, не добавляя в корзину товар из вишлиста, на котором я эту кнопку нажала.
Не вижу смысла в этой кнопке вообще. Вполне достаточно кнопки Check Out в шапке. @DeveloperRegistry Антон, что думаешь?

![scree

[2014-04-28 07:01] Fetati commented on #139
Проблема описана в #124

[2014-04-28 07:15] DeveloperRegistry commented on #158
Amazon has Check Out on Top (v shapke). We can try to Hide this button and only rely on Check Out on top. We can always change it later.

PS: it is probably a good idea to ask several users not familiar with the site to go through Donation Flow and ask for feedback: what was easy, what was hard to find etc.

[2014-04-28 07:24] DeveloperRegistry opened #159 "Address Performance Issues Prior to Production Release"
The website appears to be slow. Some links take a long time to respond. We need to make sure that all pages on the website are loaded within 3 seconds (or less), which is the industry standard.

We are testing in the (future) Production Environment. Lets discuss what we need to resolve performance issues prior to Go Live:

1)  Add more instances on Azure
2) Figure out how to serve Static content b

[2014-04-28 08:38] DmitrysIF commented on #155
Добавляется, но не сразу- это отдельный механизм, который обновляется после добавления.

[2014-04-28 08:40] DmitrysIF commented on #149
Понятно, переделаем.

[2014-04-28 16:11] Fetati commented on #155
Хм.. сейчас добавилось быстро. Был какой-то глюк. Закрываю issue, но еще попробую потестировать.

[2014-04-28 16:11] #155 closed, assigned to nobody

[2014-04-28 16:46] DmitrysIF commented on #155
в этом-то и дело - время обновления будет варьироваться, так как после того, как добавляешь товары в корзину (это происходит очень быстро, поэтому так скоро выскакивает Added) - браузер обращается на сервер по сети (а это занимает некоторое время), чтобы отправить ему информацию о том, что находится в корзине и в ответ получить свежие данные о товарах в твоей корзине. В этих данных есть цена, коли

[2014-04-29 01:00] DmitrysIF commented on #131
Так в чем проблема? Мне непонятно. Что значат Good/Ok?
В каких случаях они должны выводиться?

[2014-04-29 01:30] Fetati commented on #131
Там съехало все, посмотри на картинку.

[2014-04-29 03:43] DmitrysIF commented on #144
Убрал возможность редактирования с клавиатуры

[2014-04-29 03:43] DmitrysIF commented on #74
Хинт добавлен.

[2014-04-29 03:43] #74 closed, assigned to galinafed

[2014-04-29 03:43] DmitrysIF commented on #158
Кнопка скрыта.

[2014-04-29 03:43] #158 closed, assigned to nobody

[2014-04-29 03:44] DmitrysIF commented on #156
Передвинул хинт

[2014-04-29 03:44] #156 closed, assigned to nobody

[2014-04-29 03:44] DmitrysIF commented on #154
Исправлено

[2014-04-29 03:44] #154 closed, assigned to nobody

[2014-04-29 03:44] DmitrysIF commented on #152
Чуть-чуть расширил границы, должно хватить.

[2014-04-29 03:45] DmitrysIF commented on #147
Исправлено.

[2014-04-29 03:45] #147 closed, assigned to nobody

[2014-04-29 04:55] RealBerd commented on #124
Дима, подключи, пожалуйста Колю для этого таска.

Нужно чтобы стрелочки были ровно посередине панели. И чтобы они были большие.

Спасибо!

[2014-04-29 04:56] DmitrysIF commented on #157
Не баг. Это значит, что всего покупается Один лот.

[2014-04-29 04:57] RealBerd commented on #131
Дима, обратись к Коле по этому багу.

[2014-04-29 04:58] RealBerd commented on #146
"Вот тут надо будет запретить уменьшать количество товара меньше закупленного уже"

Всё верно?

[2014-04-29 04:59] #16 closed, assigned to RealBerd

[2014-04-29 05:03] RealBerd commented on #105
Checkout достуен без сайнина.
Как воспроизвести баг?

[2014-04-29 08:23] DmitrysIF commented on #115
1) From Donor to Donee
2) From Donor to Wishlist
Донор не может писать ни в чей адрес.
В адрес дони и вишлиста может писать только администратор и менеджеры дони.
А так же суперадмины.

[2014-04-29 17:59] galinafed commented on #115
Dima, I didn't understand it:

You say Donor to Donee, but say that Donor can't write to anyone?

[2014-04-29 22:57] Fetati commented on #115
По идее должно быть:
от Donee к Donor - donee пишет благодарность донору за помощь, отчет о доставке товаров, и пр
от Admin к Wishlist - администратор пишет спасибо всем донорам, что помогли собрать нужные товары, отчет о доставке (фотографии и пр).
Что еще?

Насколько я понимаю, эти посты будут видны всем? Тогда главная цель постов - фидбек на сделанные пожертвования. Те, кто читают посты, должны

[2014-04-29 23:21] DmitrysIF commented on #115
В принципе так и есть, вы перечислили все текущие возможности адресации сообщения.
Эти сообщения видны всем.

[2014-04-30 03:51] DmitrysIF commented on #157
Может пересмотрите варианты подписей? Кое-где было бы логичнее подписывать lot, вместо item

[2014-04-30 08:29] DmitrysIF commented on #131
Съезжание поправлено.

[2014-04-30 08:29] #131 closed, assigned to nobody

[2014-04-30 08:30] DmitrysIF commented on #124
Стрелки прокрутки заменены.

[2014-04-30 08:30] #124 closed, assigned to nobody

[2014-04-30 08:32] DmitrysIF commented on #139
Ввиду особенности операционной системы MacOS, которая накладывает скроллбары поверх страницы (а не рядом, как в других системах)- было принято решение чуть-чуть подвинуть кнопки, чтобы они не закрывались скроллбаром.
Если результат не устроит - открывать новый issue

[2014-04-30 08:32] DmitrysIF commented on #149
Заменил на полноценный pop-up

[2014-04-30 08:32] #149 closed, assigned to nobody

[2014-04-30 08:34] DmitrysIF commented on #146
Исправлено - теперь нельзя задать количество необходимого "товара" при редактировании меньше, чем уже было "куплено". Чтобы не мозолило глаза то, что есть уже (я про неправильные показания куплено/необходимо) измените их вручную в режиме администратора при редактировании вишлиста.

[2014-04-30 08:34] #146 closed, assigned to nobody

[2014-04-30 08:34] DmitrysIF commented on #145
Тексты поправлены. Будут минут через 20.

[2014-04-30 08:34] #145 closed, assigned to nobody

[2014-04-30 08:38] DmitrysIF commented on #117
Хорошо, сделаю.
Но я все же попытаюсь улучшить функцию, которая отвечает за sign up пользователей.
Раз выстрелила ошибка - значит где-то что-то не так работает или может не так работать.

[2014-04-30 08:39] DmitrysIF commented on #112
Исправлено.

[2014-04-30 08:39] #112 closed, assigned to DmitrysIF

[2014-04-30 19:02] Fetati opened #160 "Scrollbars bug"
@RealBerd: Никита, а не проще ли сделать дизайн, который мы утвердили изначально, чем переделывать элементы дизайна, который вы вставили по собственной инициативе? В первоначально утвержденном дизайне проблема с кнопками была решена куда более изящно.

![screen shot 2014-04-30 at 11 58 33 am](https://cloud.githubusercontent.com/assets/4335901/2845729/bf0b83b2-d099-11e3-8a86-cc85fadd4840.png)

[2014-04-30 20:53] RealBerd commented on #160
![04_main_cleaned](https://cloud.githubusercontent.com/assets/2241165/2846999/4dc435c2-d0a9-11e3-8936-1c20c5e5712a.jpg)
@DmitrysIF
Дима, Коля, обратите внимание на стрелочки.

[2014-04-30 23:10] galinafed opened #161 "Credit Card page"
![image](https://cloud.githubusercontent.com/assets/7177944/2848323/b968736c-d0bb-11e3-9259-aba039564828.png)
1. I thought due to the large fees we will not be accepting AmEx. ( i would go with not accepting it at the moment)
2. AmEx is the only card (as far as i know) has 4Digit CVC code. If we will not accept it, then we are ok. If we decide to accept it then we would need to allow 4 digit numbe

[2014-04-30 23:14] DeveloperRegistry commented on #161
Galya, there is a separate version of the project for integration with Authorize.net. I am working on all credit card processing changes. I will see if I can remove Amex emblem from the page. The page will also look different since we added name and address. It will be added to the main project with 3-4 days.

[2014-04-30 23:37] galinafed commented on #161
got it

[2014-05-01 00:01] DmitrysIF commented on #160
А что со стрелочками? Стрелочки я давно заменил с помощью Коли - если они остались старыми, то вам необходимо почистить кэш, чтобы не заменяло картинки ранее загруженными.
Если не нравится, что я их подвинул на 10 пиксель к центру - то так и скажите, здесь я мало что понял.

[2014-05-01 00:07] Fetati commented on #160
Посмотри на картинке, как я вижу - рядом со стрелками куски кружочков не понятно откуда.

Sent from my iPhone

[2014-05-01 00:07] DmitrysIF commented on #160
Понял - странно, у меня все было нормально (стояли новые картинки).
По всей видимости, он использует старую картинку (хоть я ее и менял)- сейчас проверю.

[2014-05-01 00:13] DmitrysIF commented on #160
Все правильно - вам нужно в истории браузера удалить все, что относится к gooddler.cloudapp.net, если их удалить - браузер загрузит актуальные данные сервера и будет видно новые стрелки.
Вот что видно у меня, после того как я почистил историю в своем браузере:
![image](https://cloud.githubusercontent.com/assets/7186861/2848791/b684a2e2-d0c5-11e3-8761-a4c62c2bb6c7.png)

[2014-05-01 00:16] Fetati commented on #160
Ок, сейчас проверю

Sent from my iPhone

[2014-05-01 00:49] DmitrysIF commented on #160
gooddler.cloudapp.net - в предыдущем ответе сделал опечатку.

[2014-05-01 01:41] Fetati commented on #160
Все в порядке сейчас.

[2014-05-01 01:41] #160 closed, assigned to nobody

[2014-05-01 01:50] galinafed commented on #115
Donee to Donor makes total sense.

[2014-05-01 02:33] Elenarussian opened #162 ""password doesn't match" hint appears to soon"
1. inter the password into the  first field
2. go to the second field ,BUT don't type PSW
   bug : hint appears too early
   expected : hint should appear only after user enters incorrect password

![screen shot 2014-04-30 at 7 26 01 pm](https://cloud.githubusercontent.com/assets/7408823/2849427/32c14ede-d0d8-11e3-9622-1fa86b9f674f.png)

[2014-05-01 02:37] Elenarussian commented on #152
All projects are fine ,except this one

![screen shot 2014-04-30 at 7 35 54 pm](https://cloud.githubusercontent.com/assets/7408823/2849447/59456d8c-d0d9-11e3-9f9d-a10f839cdc62.png)

![screen shot 2014-04-30 at 7 36 04 pm](https://cloud.githubusercontent.com/assets/7408823/2849448/5cb4f366-d0d9-11e3-8a23-728990396dd6.png)

[2014-05-01 02:40] Elenarussian commented on #152
seen in Safari , Chrome

[2014-05-01 02:51] Elenarussian commented on #144
@DmitrysIF , Dima , can we keep the number in the cell and allow user to use only arrows ?
e.g. min would be 0 and max is whatever is set up by Donee. keeping the cell empty looks weird. Maybe we should not allow user to delete number, just keep it static with min 0. if possible, if its to much we can stick with whatever we have now.

[2014-05-01 02:56] DmitrysIF commented on #160
Отлично :)

[2014-05-01 02:58] DmitrysIF commented on #162
То есть это сообщение должно выпадать после того, как пользователь уберет фокус с этого поля?

[2014-05-01 03:00] DmitrysIF commented on #144
Не понимаю - пользователь и так сейчас не может вручную вводить данные в эти ячейки!
Если вы по прежнему можете вводить данные с клавиатуры и вообще всячески редактировать их - сообщите название и версию вашего браузера.

[2014-05-01 03:01] Elenarussian opened #163 "blog info should be corrected"
Go to Blog
Observe the title
"News alert" looks off
It would be nice to align text

![screen shot 2014-04-30 at 7 55 37 pm](https://cloud.githubusercontent.com/assets/7408823/2849507/407841dc-d0dc-11e3-86af-9db30bc30883.png)

[2014-05-01 03:06] Elenarussian commented on #162
yes and no:) hehe
1. when user types - s/he does not see anything
2. if pass does not match - user will see the hint
3. if user skip the field it would be nice to show hint immediately
if its too complicated - just choose the easiest way
thank you so much

[2014-05-01 03:08] DmitrysIF commented on #152
Конкретнее пожалуйста :)
Что конкретно не так на скриншоте с главной страницы?

[2014-05-01 03:11] Elenarussian commented on #144
i can't enter - it works fine
but i can delete the number and the cell look empty - which is fine, but not the best
i was hoping we can keep the at least 0 and not allow user to delete it at all.
if its too much, we fine with what we have now
Thank you

[2014-05-01 03:12] Elenarussian commented on #152
For some reason , only this project with girls still has bar that is not aligned properly , only that one, the rest is fine

[2014-05-01 03:27] Elenarussian commented on #134
@DmitrysIF do we plan to change info under links?
because right now we see IN info under TW
TW under Linked in cell.
FB is correct

[2014-05-01 03:40] Elenarussian opened #164 "picture link disappear"
1. create a New user
2. go to Edit profile and add a pic link
3. Type all info till " Change my password "
4. go to " Change my password "
5. change password
6. go back to My profile

BUG: picture profile dissaper

[2014-05-01 03:50] ghost opened #165 "User cant upload picture when he is trying to create Donne"
Steps:
 Log in
go to menu
tap Create Donee
enter all info and attach picture
tap create

Bug: no picture in Donee, even though it says loaded 100%
Bug: can we create a preview for picture?

[2014-05-01 04:08] Elenarussian opened #166 "Can we add " Amazon URL " section to the " Create a new Wishlist " flow ?"
1. create " My donee "
2. create " My wish list "

Nice to have:  it would be nice to have " Amazon URL " section during  " Create a new Wishlist " flow.

right now: user have to make extra steps to add URL

![screen shot 2014-04-30 at 9 01 10 pm](https://cloud.githubusercontent.com/assets/7408823/2849719/410a6446-d0e5-11e3-9fa2-8af0df005a7e.png)

![screen shot 2014-04-30 at 8 56 03 pm](https://cl

[2014-05-01 04:28] DmitrysIF commented on #166
Нет. Технически этого вишлиста еще не существует, поэтому добавлять товары не к чему.

[2014-05-01 04:30] DmitrysIF commented on #163
Это не относится к моей компетенции и к сайту.

[2014-05-01 04:30] Elenarussian opened #167 "after user edit "Wish list" he should be taken to "My wish list " page"
1. edit  Wishlist
2. update Wishlist

right now after user click " Update Wishlist " he stays on the same page
 it would be good to redirect him to the list ( The list of XYZ)

![screen shot 2014-04-30 at 9 24 38 pm](https://cloud.githubusercontent.com/assets/7408823/2849804/8d6cf60c-d0e8-11e3-80bd-17a56d277bdc.png)

[2014-05-01 04:32] DmitrysIF commented on #165
А вы дождались загрузки картинок до 100%?

[2014-05-01 04:34] Elenarussian commented on #166
@Fetati , Tatiana is that the flow we want? or we want to give users the option to add Amazon URL from the start , even though the list does not  exist yet?

[2014-05-01 04:38] DmitrysIF commented on #152
Если вы о том, что они чуть-чуть смещены относительно иконки "All Wishlists" (не по центру), то тут ничего не исправишь - таков скрипт галереи. Менять скрипт не будем - нет смысла ради 2-х пикселей смещения возиться несколько часов. Большинство посетителей даже внимания не обратят на это.
Но если сильно уж досаждает, то смену галереи переносите на Release 2.

[2014-05-01 04:39] Elenarussian commented on #152
thank you

[2014-05-01 04:39] #152 closed, assigned to DmitrysIF

[2014-05-01 04:39] DmitrysIF commented on #166
Если уж и добавлять эту возможность - то в Release 2.

[2014-05-01 04:46] DmitrysIF commented on #167
@Fetati Нужно ли нам перенаправлять на список после успешного update?

[2014-05-01 04:47] ghost opened #168 "Do we plan to have only one type of 501(c) organizations?"
if we have just one type - everything looks fine, but if several we need a drop down menu with types of  501 (c) so users will be accurate and make 0 mistakes in typing it.

[2014-05-01 05:19] Fetati commented on #168
Типов non-profit организаций куча, drop down menu не думаю, что подойдет. Из этого поля надо убрать текст "501(с)3".
И это поле (Enter designation) переименовать в Type of Organization.
В следующих полях (Federal Tax ID и Edit Galery) убрать знаки вопроса

[2014-05-01 05:23] Fetati commented on #167
Да, нужно. Я уже где-то об этом писала.
Мне не нравится, что после успешного update, Edit или Create пользователь остается в том же месте. Ощущение, что что-то не сработало. Куда логичнее отправить на ту страницу, которая подходит по логике. Например, после Create Wishlist или Create Donee надо переводить на страницу Wishlist или Donee.

[2014-05-01 07:18] Fetati commented on #163
Это не имеет никакого отношения к сайту - это сторонний вордпрессовский шаблон. Блоги можно не проверять. Спасибо!

[2014-05-01 07:18] #163 closed, assigned to nobody

[2014-05-01 07:24] DmitrysIF commented on #168
Отлично! Это уберем :)

[2014-05-01 17:28] Elenarussian opened #169 "After user delete selected file,he can see deleted files link"
1. Sing IN
2. MY account
   3.Creat New post
   4.Tipe info, Select file
3. Delete Selected file

After user delete file ,still can see files link in this flow
Would be nice to see " Select new file "

![screen shot 2014-05-01 at 10 08 41 am](https://cloud.githubusercontent.com/assets/7408823/2854639/5b5113fe-d153-11e3-8cf5-8d290f450714.png)

[2014-05-01 17:54] ghost commented on #165
yeap. i saw 100%
Let me try again

[2014-05-01 18:02] ghost commented on #168
do we need a hint here for Type of Organizations? Do all users will understand what it means basically.

[2014-05-01 18:04] ghost commented on #165
@DmitrysIF this is what i see
File size 4MB load only till 87 % ( its been like that for 20 min)
Smaller sizes are better
DO we have any restrictions on size?
![photo](https://cloud.githubusercontent.com/assets/7193843/2855299/0caece0a-d15b-11e3-8c4d-d9be86a08eef.png)

[2014-05-01 18:04] Fetati commented on #168
Надо оставить тот hint, который есть сейчас

[2014-05-01 18:18] Elenarussian opened #170 "User gets an error when go to "My post""
1. Sing Up ,Create new profile
2. Go to " My Post "

Bug : user gets an error in " My Post "

![screen shot 2014-05-01 at 11 14 21 am](https://cloud.githubusercontent.com/assets/7408823/2855437/72507988-d15c-11e3-8760-2353648c058f.png)

[2014-05-01 18:39] ghost opened #171 "UI: after editing Donee i want to be taken to Donee list or Donee"
go to donee and edit
click save

User stays on the same page
its better if we take user to the list (see attached) or to Donee directly (better choice )( see attached)
![better take me here](https://cloud.githubusercontent.com/assets/7193843/2855728/331a98ee-d160-11e3-9bff-9244b349958c.png)
 so they can see changes, right now user do extra steps to see updates
![take me there](https://cloud.github

[2014-05-01 18:45] ghost opened #172 "If wishlist is empty - say empty (delete "wishlist not found)"
![empty](https://cloud.githubusercontent.com/assets/7193843/2855749/86062794-d160-11e3-9e7d-5a1d11291aef.png)

thank you

Samples
Wishlist is empty
Empty
 Please align it under words not under icon, icon should stand out by itself

[2014-05-02 02:11] DmitrysIF commented on #170
По скриншоту вы незалогинены. Что за ошибка? Она стабильно повторяется?

[2014-05-02 02:26] DmitrysIF commented on #139
Почему он снова открыт? В чем причина?

[2014-05-02 02:38] DmitrysIF commented on #164
go to Edit profile and add a pic link
После добавления картинки изменения применялись? На кнопку "save changes" не нажимали?

[2014-05-02 02:48] Elenarussian commented on #170
Да постоянно и с разных акаунтов ,
Делала логин , как заходишь на мой пост выдает ошибку и выкидывает с акаунта

[2014-05-02 02:57] Elenarussian commented on #164
after step 6 I have  clicked " Save changes" and picture was not uploaded

[2014-05-02 02:57] DmitrysIF commented on #170
Проблема проявляется только на новых аккаунтах? На которых ни разу не создавали Donee?

[2014-05-02 02:59] DmitrysIF commented on #170
Одну я ошибку нашел и исправил - теперь если у пользователя нет ни одного дони, то все обрабатывается нормально. Можно будет попробовать в следующем обновлении.

[2014-05-02 03:00] Elenarussian commented on #170
most of the accounts were new

[2014-05-02 03:02] Elenarussian commented on #170
следующем обновлении - is that new release or next code push?  Thank you

[2014-05-02 03:04] DmitrysIF commented on #164
Тогда почему линк должен сохраняться? Он и не должен сохраняться, так как вы используете страницу из кеша браузера, по всей видимости, скорее всего нажимали кнопку назад.
Не признаю это багом:).

[2014-05-02 03:06] Elenarussian commented on #164
the reason we want link to be there so user does not go and search for  a picture again. UI wise it would be nice to have link still there. is it possible?

[2014-05-02 03:08] DmitrysIF commented on #164
Нет. Оставьте это для Release 2/

[2014-05-02 03:08] Elenarussian commented on #164
ok thank you

[2014-05-02 03:09] DmitrysIF commented on #170
Это значит, что в течении нескольких часов я разверну версию сайта, в которой данные ошибки будут исправлены.

[2014-05-02 03:10] DmitrysIF commented on #170
Есть Релиз, а есть применение мелких исправлений :)
До первого релиза мы еще не добрались - сейчас идет User testing

[2014-05-02 03:37] DmitrysIF commented on #171
Сделал перенаправление на страницу дони. Так же сделал подобные исправления для постов и для вишлистов.

[2014-05-02 03:37] #171 closed, assigned to nobody

[2014-05-02 03:37] DmitrysIF commented on #172
Изменил текст и подвинул вправо.

[2014-05-02 03:37] #172 closed, assigned to nobody

[2014-05-02 03:37] DmitrysIF commented on #170
В деплое.

[2014-05-02 03:37] #170 closed, assigned to nobody

[2014-05-02 03:38] DmitrysIF commented on #168
Исправлено.

[2014-05-02 03:38] #168 closed, assigned to Fetati

[2014-05-02 03:38] DmitrysIF commented on #134
Исправлено

[2014-05-02 03:38] #134 closed, assigned to nobody

[2014-05-02 03:42] Elenarussian opened #173 "got this server error"
i was creating a post and got into that after
to whom i should assign those issues in the future?
thank you

![screen shot 2014-05-01 at 8 31 54 pm](https://cloud.githubusercontent.com/assets/7408823/2859587/4d08a80e-d1ab-11e3-9245-50c099784479.png)

[2014-05-02 03:42] DmitrysIF commented on #8
_All wishlists сейчас есть, просто медленно появляется. Он появляется, когда подводишь мышь к значку. Можно сделать, чтобы появлялся быстрее?_
Я думаю, что скорость появления достаточна высока. Закрою этот issue

[2014-05-02 03:42] #8 closed, assigned to RealBerd

[2014-05-02 03:47] DmitrysIF commented on #173
Прошу сообщить о шагах, которые позволят воспроизвести ошибку.

[2014-05-02 04:01] DmitrysIF commented on #165
Я проверю.

[2014-05-02 07:33] #139 closed, assigned to nobody

[2014-05-02 08:13] DmitrysIF commented on #167
Сделано перенаправление на страницу вишлиста.

[2014-05-02 08:13] #167 closed, assigned to nobody

[2014-05-02 17:36] Elenarussian commented on #173
![screen shot 2014-05-01 at 8 29 01 pm](https://cloud.githubusercontent.com/assets/7408823/2865708/06f73644-d220-11e3-9fe9-7944786f1b11.png)

![screen shot 2014-05-01 at 8 30 59 pm](https://cloud.githubusercontent.com/assets/7408823/2865711/0ac97534-d220-11e3-9423-bae01898d270.png)

![screen shot 2014-05-01 at 8 31 09 pm](https://cloud.githubusercontent.com/assets/7408823/2865712/10c5b1a0-d220-11e

[2014-05-02 17:49] Fetati opened #174 "Dollars amount wrong format"
![screen shot 2014-05-02 at 10 48 48 am](https://cloud.githubusercontent.com/assets/4335901/2865876/22ef89ee-d222-11e3-9cb2-bc7f9cd59b81.png)

[2014-05-02 17:54] DeveloperRegistry commented on #174
Thank you. I will fix it ASAP. We changed how money were stored and handled. So, we may see some adverse effects.

[2014-05-02 17:57] Fetati opened #175 "Text: "Write new post about Tatiana Fedorova" - убрать "about Tatiana Fedorova""
Text: "Write new post about Tatiana Fedorova" - убрать "about Tatiana Fedorova" - пусть пишут, что хотят.
http://gooddler.cloudapp.net/Profile/

![screen shot 2014-05-02 at 10 48 48 am](https://cloud.githubusercontent.com/assets/4335901/2865940/0c3e13e0-d223-11e3-8125-28b0c2edeb74.png)

[2014-05-02 17:59] Elenarussian commented on #135
i still can't delete posts

[2014-05-02 18:02] DeveloperRegistry opened #176 "Missing Credit Card Images on the Checkout Page"
The image: /images/visa_mastercard_discover_logo.gif  is not found.

[2014-05-02 18:04] DeveloperRegistry opened #177 "Payment Confirmation Email does not show Credit Card Type"
The email presently shows:

Method of Payment:  AUTH_CAPTURE

The type needs to be obtained from Authorize.net response. If not available, change field.

[2014-05-02 18:06] Fetati opened #178 "Main Page Posts: I can't see "read more" link"
http://gooddler.cloudapp.net/
Первый слева пост - я не вижу read more, и не могу зайти посомотреть что за пост

![screen shot 2014-05-02 at 11 04 56 am](https://cloud.githubusercontent.com/assets/4335901/2866092/6b4b776e-d224-11e3-8320-f8aa745b894c.png)

[2014-05-02 19:05] Fetati opened #179 "User profile: Eror - Donations of User"
http://gooddler.cloudapp.net/Profile/trina/Donations

1) жму Donations of Trina O
![screen shot 2014-05-02 at 12 03 16 pm](https://cloud.githubusercontent.com/assets/4335901/2866775/a165b582-d22c-11e3-8cfd-ac06c1e914ec.png)

Вижу вот такой экран (Chrome):
![screen shot 2014-05-02 at 12 03 21 pm](https://cloud.githubusercontent.com/assets/4335901/2866783/b12e6040-d22c-11e3-9bc2-e304f6c6d5fe.png)

[2014-05-02 19:20] Fetati opened #180 "Wishlist: Add new item Eror"
![screen shot 2014-05-02 at 12 19 26 pm](https://cloud.githubusercontent.com/assets/4335901/2866943/ce2e2b9c-d22e-11e3-8b5b-a84574b18582.png)

[2014-05-02 19:23] Fetati opened #181 "Create Wishlist: delete "?" sign"
http://gooddler.cloudapp.net/Wishlist/Edit/30023
Убрать знак вопроса рядом с Published

![screen shot 2014-05-02 at 12 22 18 pm](https://cloud.githubusercontent.com/assets/4335901/2866965/232293ae-d22f-11e3-9a9c-d032cb8e4c05.png)

[2014-05-02 20:15] Fetati opened #182 "My Cart: Wrong amount of $$"
http://gooddler.cloudapp.net/MyCart :

![screen shot 2014-05-02 at 1 14 26 pm](https://cloud.githubusercontent.com/assets/4335901/2867435/69a9aed2-d236-11e3-9b35-0651b5fc0b1e.png)

[2014-05-02 20:16] Fetati commented on #182
Баг в итоговой сумме (Total) - Должно быть с шипингом 513, в надписи снизу (Your Total) правильная сумма, а в строке товара - почему-то на 3 доллара меньше.

И еще, меня смущает цифра за шипинг. Довольно confusing... По идее, тут не должна быть показана сумма шипинга за единицу товара. А должна быть итоговая за выбранное количество.
Ну и поля тогда должны быть наоборот - после выбора количества то

[2014-05-02 20:22] DeveloperRegistry commented on #182
This could be my latest changes. I will take a look.

[2014-05-02 20:23] Fetati commented on #182
@DeveloperRegistry Антон, посмотри мой предыдущий комент про сумму шипинга. Можно это поправить как-то?

[2014-05-02 20:23] DeveloperRegistry commented on #180
Please provide full amazon link that crashed the server.

[2014-05-02 20:25] DeveloperRegistry commented on #182
I think so. I will take a look.

[2014-05-02 20:45] Fetati commented on #182
При смене количества товара едут итоговые суммы. Неправильно считается Total в строке товара.
![screen shot 2014-05-02 at 1 30 45 pm](https://cloud.githubusercontent.com/assets/4335901/2867744/b9f65c38-d23a-11e3-9a24-9ae545a0ba74.png)

[2014-05-02 21:31] Fetati opened #183 "Wording: My Cart - delete the items amount."
Сейчас YOUR TOTAL is $359.1 for 1 item. Убрать "for xx item" - потому что это не items, а группа товаров. В примере ниже - я покупаю 7 items а высвечивается один.
Или сделать так, чтобы считалось реальное количество items корзины

![screen shot 2014-05-02 at 1 35 26 pm](https://cloud.githubusercontent.com/assets/4335901/2868122/00700a14-d241-11e3-99cb-65ebd86958c7.png)

[2014-05-02 21:37] Fetati opened #184 "Слишком долго грузится страница - Separate Static Content"
Каждый раз, как я захожу заново в Goddler после перерыва, время ожидания первой загрузки страницы по пол минуты.

[2014-05-02 21:40] Fetati commented on #180
http://www.amazon.com/Cuddl-Duds-Climatesmart-Essentials-Sleeve/dp/B007TL0X9Q/ref=cts_ap_2_fbt

Добавляю вот сюда: http://gooddler.cloudapp.net/Wishlist/Edit/30023

[2014-05-02 22:12] DeveloperRegistry commented on #184
I think it is JavaScript and images loading. We are using very heavy JavaScript libraries. I talked to Nikita about this. Usually, static content (JavaScript, Images etc.) is hosted on a separate server. Not on IIS. We need to research how to do it on Azure.

[2014-05-02 22:58] DmitrysIF commented on #183
Хорошо, поменяю на реальные Айтемы.

[2014-05-02 23:18] Fetati opened #185 "View All Wishlist button doesn't work"
http://gooddler.cloudapp.net/Wishlists

![screen shot 2014-05-02 at 12 03 21 pm](https://cloud.githubusercontent.com/assets/4335901/2868841/15dec930-d250-11e3-9a61-5364e19a690f.png)

[2014-05-03 01:07] Fetati commented on #185
О, я сразу не заметила, меня выкинуло из эккаунта - см. на картинке, я не под своим именем, хотя была signed in.

[2014-05-03 01:29] Fetati opened #186 "Check out Page: change product line."
![check_out_-_gooddler](https://cloud.githubusercontent.com/assets/4335901/2869277/289696ae-d262-11e3-922a-fed067a93744.png)

1) исправить total items вверху и снизу страницы. Должно совпадать с реальным количеством выбранных товаров. В моем случае их 7, а не 1.
2) вообще сумма шипинга обычно пишется отдельно. Так как товары могут иметь разную сумму шипинга предлагаю сделать в каждой строке отдель

[2014-05-03 02:43] Fetati opened #187 "My Cart: No links to Donee and Wishlist"
Из My Cart нет линка на wishlist and donee, куда я покупаю товар. Если я захотела купить другие товары из вишлиста, то очень проблематично отыскать этот вишлист. Нет его упоминания нигде.
Надо хотя бы Donee name сделать кликабельным.
http://gooddler.cloudapp.net/MyCart

![screen shot 2014-05-02 at 7 39 52 pm](https://cloud.githubusercontent.com/assets/4335901/2869404/684ab604-d26c-11e3-9a98-f1c491

[2014-05-03 04:28] DeveloperRegistry commented on #176
The image is now visible. Resolved

[2014-05-03 04:28] #176 closed, assigned to DeveloperRegistry

[2014-05-03 04:40] DeveloperRegistry opened #188 "Make Email Sending Asynchronous for Checkout Page"
Presently, when user makes payments the forwarding to Success Page is delayed by dispatching confirmation email. So, users get a feeling that credit card authorization takes a long time. If we make email sending Asynchronous, user will be forwarded to the next page within 1-2 seconds.

[2014-05-03 05:01] DeveloperRegistry commented on #186
I can work on this.

[2014-05-03 06:10] #181 closed, assigned to nobody

[2014-05-03 17:51] galinafed opened #189 "Wording: My Wishlists"
http://gooddler.cloudapp.net/Admin/Wishlists?doneeid=10034

Should say Wishlist is Empty (not wishlistS)
![screen shot 2014-05-03 at 10 49 51 am](https://cloud.githubusercontent.com/assets/7177944/2870967/56565456-d2eb-11e3-93a5-f346709a977d.png)

[2014-05-03 19:43] Fetati opened #190 "Password reset"
Мне не нравится, что у нас Password reset на Stormpath. Это потому, что мы пока не перешли на платную версию? Будет возможность в платной версии настроить все в дизайне Gooddler?

![screen shot 2014-05-03 at 12 41 12 pm](https://cloud.githubusercontent.com/assets/4335901/2871211/215caf1a-d2fb-11e3-9953-51a32aa12561.png)

[2014-05-03 19:56] Fetati opened #191 "Wishlist: Add new Item Eror - quantity"
1) занесла товар, выбрала 10 штук
2) решила увеличить количество до 30, нажала apply, получила ошибку:

![screen shot 2014-05-03 at 12 52 47 pm](https://cloud.githubusercontent.com/assets/4335901/2871229/9e8e2012-d2fc-11e3-8c6b-972f9323f446.png)

[2014-05-03 20:04] Fetati opened #192 "Wording: Edit Wishlist"
Browser: Safari, http://gooddler.cloudapp.net/Wishlist/Edit/40038

1) В поле ввода количества товара заменить слово "Count" на "Quantity"
2) В окне ошибки текст Count of goods must be more 0 заменить на
Quantity of goods must be greater than 0
3) Название полей списка товаров подвинуть правее, чтобы они были в точности над ячейками, которые они указывают

![screen shot 2014-05-03 at 12 52 47 pm](h

[2014-05-03 20:07] Fetati opened #193 "Create Wishlist: Add "Amazon URL" section to the " Create a new Wishlist " flow"
Create Wishlist page should have Add "Amazon URL" section.

[2014-05-03 20:14] Fetati opened #194 "Create Wishlist: shipping price issues"
Release 2?

Я вошла как обычный юзер. На Амазоне доставка товара $9.99, а у нас добавляется 1 доллар.
В режиме администратора я могу отредактировать, конечно же. Но тогда мне надо бы быстро видеть кто что добавляет.

![screen shot 2014-05-03 at 1 08 59 pm](https://cloud.githubusercontent.com/assets/4335901/2871268/387e0be0-d2ff-11e3-80fc-cd7f4d7f2e11.png)
![screen shot 2014-05-03 at 1 09 15 pm](ht

[2014-05-03 20:43] Fetati commented on #178
1) На Main Page поле постов должно расширяться в зависимости от длины заголовка поста.

2) И еще, по какой логике высвечивается оранжевый линк сверху? Это к какому Donee пост? Или от Donee?
Если я как юзер и представитель Donee создаю пост из профайла донора по линку Create New Post about, то не видно на главной странице о ком речь.

[2014-05-03 20:47] DeveloperRegistry commented on #194
Dima, do we have shipping information in Web Service Response?

[2014-05-03 23:19] projectnew opened #195 "test"
frfgtg6t
![img_1172](https://cloud.githubusercontent.com/assets/7462589/2871602/9ed0d7a2-d317-11e3-8c6e-d141f9919cc4.JPG)

[2014-05-03 23:20] ghost commented on #195
test

[2014-05-03 23:20] #195 closed, assigned to nobody

[2014-05-04 02:05] DeveloperRegistry opened #196 "Wishlist Donation Items Amounts"
There are three issues with the Wishlist Donation Page:

1) The Web Page states "Needed". However, it is not clear to the User (donor) that this is the amount that will be donated. Proposing to make the field "Needed" Read Only and Add a new field (potentially, on a separate line in the center) allowing end users to pick amounts to be donated. The field can be named "Pick Donation Amount" or simil

[2014-05-04 02:15] DeveloperRegistry opened #197 "Disable "Confirm and Pay" Button upon first click on Checkout Page"
To prevent double charging people, disable "Confirm and Pay" Button upon first click on Checkout Page.

Nice To Have:
1) Gray Out Button upon payment submission (change button style)
2) Add a warning to the Page "Please Click only once." or similar

![image](https://cloud.githubusercontent.com/assets/3822498/2871943/b4ee6b66-d331-11e3-8eb3-f4779b899db4.png)

[2014-05-04 02:53] DmitrysIF commented on #197
Предлагаю вообще убирать кнопку и возвращать ее только если есть какая-нибудь ошибка в данных.

[2014-05-04 02:56] DmitrysIF commented on #196
Я был бы против добавления еще одного поля в строку - разъедется вся верстка, нужно менять макет страницы для этого. Я согласен с тем, что стоит начать с 1pc.

[2014-05-04 03:07] DmitrysIF commented on #194
@DeveloperRegistry  Я уже как-то говорил об этом, но мы не можем в текущем сервисе иметь возможность получения стоимости доставки!
Чтобы иметь эту возможность - нужно регистрировать партнерку Amazon, что было сопряжено со сложностями. Если вам необходима именно стоимость доставки, то нужно заводить аккаунт Amazon MWS и переписывать библиотеку взаимодействия с Amazon, так как там совсем другой API.

[2014-05-04 03:11] DmitrysIF commented on #194
В данном вопросе можно было бы добавить e-mail оповещение админов гуддлера о добавлении товара в вишлист.

[2014-05-04 03:13] DmitrysIF commented on #192
@Fetati Подвинуть заголовки ячеек таблицы? Они и так соответствуют своему левому краю колонки.

[2014-05-04 03:29] DeveloperRegistry commented on #194
Tanya, suggesting to Move to Release 2. What do you think?

[2014-05-04 03:31] DmitrysIF commented on #190
@DeveloperRegistry можешь исследовать этот вопрос?

[2014-05-04 03:33] DeveloperRegistry commented on #196
Can we add a completely new line with "Select Item Amount" in the Middle?

[2014-05-04 03:34] DeveloperRegistry commented on #197
This will work.

[2014-05-04 03:34] DmitrysIF commented on #194
@DeveloperRegistry Вам понадобится вот это, если конкретнее (если хотите поменять апи)
https://developer.amazonservices.com/gp/mws/index.html/182-3880745-8902361

[2014-05-04 03:35] DeveloperRegistry commented on #190
Re-assigned to me for Research.

[2014-05-04 03:41] DeveloperRegistry opened #198 "Create New Credentials for Amazon Web Service for Gooddler (Needed for Go Live)"
Для возможности обращения к amazon.com для получения информации по товару (в бд хранить код товара), необходимы следующие шаги:
1. Зарегистрироваться https://aws.amazon.com/
2. Зарегистрировать свой аккаунт на https://affiliate-program.amazon.com/.
3. Далее, необходимо зайти на свой аккаунт здесь и пройти по вкладке слева "Security Credenrials", под Access Credentials нужно выбрать вкладку Access

[2014-05-04 04:11] DeveloperRegistry commented on #161
Replaced with am Image w/out AMEX. Closing the issue.

[2014-05-04 04:11] #161 closed, assigned to DeveloperRegistry

[2014-05-04 04:20] Fetati commented on #192
Сделай их посередине тогда.
Посмотри на колонку 1 и на колонку Quantity - сейчас заголовок сильно левее текста колонки.

[2014-05-04 04:34] Fetati opened #199 "Profile page - Donations of user"
Зашла со страницы своего профайла на Donations of Ttt Fed, получила ошибку
http://gooddler.cloudapp.net/Profile/ttfed/Donations
У меня нет ни одного donation. Если в этом причина, то надо текст не Error.
An error occurred while processing your request.
Надо текст: You have not purchased any gifts yet. We encourage you to make someone happy today.

![screen shot 2014-05-03 at 9 26 24 pm](https://cl

[2014-05-04 05:39] DmitrysIF commented on #187
@Fetati сделаю Donee кликабельным - хотя я бы заменил Donee на Wishlist Name

[2014-05-04 06:52] Fetati commented on #194
Да, давайте в Релиз 2 это.

[2014-05-04 06:54] Fetati commented on #187
Да, давай wishlist. Спасибо!

[2014-05-04 06:59] DeveloperRegistry commented on #182
I fixed the Total in Product Line. It was definitely a bug.

The cost of shipping right now is shown per item. Technically, it makes sense. The more items items you buy, the higher is the shipping cost. I am sure that there is a formula where shipping for 1 item will not be the same as shipping for 10 items. However, we do not have this data at the moment. I suggest to move this to Release 2. We n

[2014-05-04 06:59] #182 closed, assigned to DeveloperRegistry

[2014-05-04 07:00] DeveloperRegistry commented on #174
Fixed.

[2014-05-04 07:00] #174 closed, assigned to DeveloperRegistry

[2014-05-04 07:01] DeveloperRegistry commented on #177
Fixed. The credit card type is not available. Used the first digit of the card to derive the type.

[2014-05-04 07:01] #177 closed, assigned to DeveloperRegistry

[2014-05-04 07:35] DeveloperRegistry commented on #186
Re-assigned to Dima. He is working on a similar issue.

[2014-05-04 07:48] DeveloperRegistry commented on #186
Lets be consistent with Amazon:

![image](https://cloud.githubusercontent.com/assets/3822498/2872439/76b2df38-d360-11e3-93f8-561de4cab0e2.png)

[2014-05-04 07:56] DeveloperRegistry commented on #194
Tagged for Release 2

[2014-05-04 12:00] DmitrysIF commented on #183
@Fetati Исправлено - в течении часа будет доступно.

[2014-05-04 12:00] #183 closed, assigned to nobody

[2014-05-04 12:00] DmitrysIF commented on #187
@Fetati Исправлено - в течении часа будет доступно.

[2014-05-04 12:01] DmitrysIF commented on #199
@Fetati Исправлено - в течении часа будет доступно.

[2014-05-04 12:01] #199 closed, assigned to nobody

[2014-05-04 12:01] DmitrysIF commented on #185
@Fetati Исправлено - в течении часа будет доступно.

[2014-05-04 12:01] #185 closed, assigned to nobody

[2014-05-04 12:01] DmitrysIF commented on #186
@Fetati Исправлено - в течении часа будет доступно.

[2014-05-04 12:01] #186 closed, assigned to DmitrysIF

[2014-05-04 12:01] DmitrysIF commented on #189
@Fetati Исправлено - в течении часа будет доступно.

[2014-05-04 12:01] #189 closed, assigned to nobody

[2014-05-04 12:02] DmitrysIF commented on #191
@Fetati Исправлено - в течении часа будет доступно. Протестируйте, пожалуйста.

[2014-05-04 12:02] #191 closed, assigned to nobody

[2014-05-04 12:02] DmitrysIF commented on #199
@Fetati Исправлено - в течении часа будет доступно.

[2014-05-04 12:02] DmitrysIF commented on #192
@Fetati Исправлено - в течении часа будет доступно.

[2014-05-04 12:02] #192 closed, assigned to nobody

[2014-05-04 12:04] DmitrysIF commented on #180
@Fetati Проблема в том, что амазон не дает по этому товару цены, есть предложение в таких случах выводить поп-ап окно с предложением вручную ввести стоимость товара.

[2014-05-04 12:05] DmitrysIF commented on #179
Исправлено

[2014-05-04 12:05] #179 closed, assigned to nobody

[2014-05-04 12:08] DmitrysIF commented on #178
@Fetati Если пользователь написал пост другому пользователю через ссылку в профиле - ссылки на донейшен не будет, ибо его нет.
Оранжевая ссылка - это ссылка на донейшен, его не будет в случаях, если пост писался пользователю от пользователя минуя donation или если пользователь написал пост от своего имени не адресуя его никуда.

[2014-05-04 12:10] DmitrysIF commented on #187
Не ту ссылку поставил, не успел прочитать ваше сообщение о согласии на Wishlist-ссылку.

[2014-05-04 12:12] DmitrysIF commented on #196
@DeveloperRegistry Установил начало отсчета с 1pc, установил полный запрет на ручное редактирование полей.

[2014-05-04 12:14] DmitrysIF commented on #105
@TShket баг не воспроизводится.

[2014-05-04 12:18] DmitrysIF commented on #144
@Elenarussian установлен полный запрет на ручное редактирование этих полей.

[2014-05-04 12:18] #144 closed, assigned to DmitrysIF

[2014-05-04 12:19] DmitrysIF commented on #157
@Fetati Переделано.

[2014-05-04 12:22] DmitrysIF commented on #173
@Elenarussian это происходит при попытке создать сообщение для пользователя?

[2014-05-04 16:28] DmitrysIF commented on #54
расширил таблицу, добавил данных.

[2014-05-04 16:28] #54 closed, assigned to Fetati

[2014-05-04 18:07] DeveloperRegistry commented on #157
Dima, I added 2 items two my cart. It shows 2 items everywhere except for the bottom on the checkout page: Your TOTAL is $45.48 1 item

![image](https://cloud.githubusercontent.com/assets/3822498/2873663/92f68464-d3b6-11e3-85eb-f792ae618bb8.png)

[2014-05-04 19:23] DeveloperRegistry commented on #157
Updated JavaScript to show identical amounts of items everywhere. Also, changed "item's" to "items". Deployed. See screenshot for details.

![image](https://cloud.githubusercontent.com/assets/3822498/2873831/a11d5dd2-d3c1-11e3-8de3-49cf1dfa88b4.png)

[2014-05-04 19:23] #157 closed, assigned to nobody

[2014-05-05 00:58] galinafed opened #200 "Change wording, Error message on Create Donee page"
http://gooddler.cloudapp.net/Donee/Create

Replace: Error message:Sorry, this "Donee slug" is exist. Please - enter unique slug-name
With: Error message: Sorry, this subdomain has been taken already. Please, create a new subdomain.

![screen shot 2014-05-04 at 5 52 38 pm](https://cloud.githubusercontent.com/assets/7177944/2874554/958d4936-d3ef-11e3-8fb9-996bd51de386.png)

[2014-05-05 01:23] galinafed opened #201 "Explaining of process on Create Wishlist page"
Is it  possible to add explanation that donee would have to create description of wishlist first and then go to edit it to add items?

Somewhere before Create Wishlist button, it would be nice to have something like that:

Note: Please, create your wishlist first. Then you will be able to add all the items by clicking on Edit Wishlist.

Or something like that, what do you think?

PLUS: Please, rep

[2014-05-05 01:36] DmitrysIF commented on #178
@Fetati То есть, оранжевая ссылка - это От какого Donee идет пост.

[2014-05-05 02:47] Elenarussian commented on #173
Это произошло только один раз , при создании акаунта, потом создала доню, вишлист и пошла создавать пост . На пост вышла ошибка.

[2014-05-05 03:36] DeveloperRegistry commented on #188
Replaced  client.Send(message) with  client.SendAsync(message, userState);  Tested the changes. Made sure that emails are delivered.

[2014-05-05 03:36] #188 closed, assigned to DeveloperRegistry

[2014-05-05 04:24] DmitrysIF commented on #173
@Elenarussian Не могу воспроизвести ошибку

[2014-05-05 04:33] DmitrysIF commented on #173
@Elenarussian Закрываю этот issue, если ошибка снова себя проявит - откроете.

[2014-05-05 04:33] #173 closed, assigned to nobody

[2014-05-05 18:22] Elenarussian opened #202 "after user edit "Post " he should be taken to "My Post""
1. Edit Post
2. Update Post

![screen shot 2014-05-05 at 11 21 22 am](https://cloud.githubusercontent.com/assets/7408823/2881348/184c8c14-d482-11e3-9924-69308d388218.png)

Right now after user click " Update Post " he stays on the same page.
It would be good to redirect him to the " My post ". Thank You.

[2014-05-05 22:12] #178 closed, assigned to nobody

[2014-05-06 01:55] DmitrysIF commented on #201
Я в принципе За, можете предоставить пример размещения на странице подобного сообщения?

[2014-05-06 05:28] projectnew opened #203 "Item does not add correctly to the cart and does not appear in the column "Done"."
![cart2](https://cloud.githubusercontent.com/assets/7462589/2886122/eeead35c-d4dc-11e3-8988-3540967f7fb3.jpg)
Steps:
1. Open web page http://gooddler.cloudapp.net/
2. Sigh in with valid data
3. Click on random scrolling picture
4. Choose an item which you want to donate and click "Donate"
Observe: Item does not add correctly to the cart and does not appear in the column "Done".
Reproduced all the

[2014-05-06 05:32] DeveloperRegistry commented on #203
Dima, I see it all the time as well. Can we just update it with JavaScript? Is it waiting for Ajax?

[2014-05-06 05:48] projectnew opened #204 "Drop-down menu to choose a country in the "Country" field is not present."
![zip-code](https://cloud.githubusercontent.com/assets/7462589/2886241/01b2c3ac-d4e0-11e3-95bc-ff97b3a12378.jpg)
Steps:
1. Open web page http://gooddler.cloudapp.net/
2. Sigh in with valid data
3. Click on random scrolling picture
4. Choose an item which you want to donate and click "Donate"
5. Click "Check out"
6. Provide valid credit card data
7. Type valid Billing Information (except "Country"

[2014-05-06 06:01] projectnew opened #205 "User can type invalid information in "Zip Code" field"
Steps:
1. Open web page http://gooddler.cloudapp.net/
2. Sigh in with valid data
3. Click on random scrolling picture
4. Choose an item which you want to donate and click "Donate"
5. Click "Check out"
6. Provide valid credit card data
7. Type valid Billing Information (except "Country" and "Zip Code" )
8. Type invalid data in "Country" and "Zip Code" fields

Observe:
User can type in "Country" and

[2014-05-06 06:14] DeveloperRegistry commented on #204
I am not sure if it is a bug. Do we have any requirements stating that Country needs to be a drop down? This could be filed under enhancements (Release 2). The main issue here: if we start validating country we need to start enforcing zip requirements. Each country has different ZIP (e.g., US is different from Canada etc.). In production, Address Data will be verified by AVS (Address Verification

[2014-05-06 06:16] DeveloperRegistry commented on #205
Once again, do we have any requirements for this? The address will be validated by Address Verification System (AVS). If someone key in a transaction like this, the credit card will be simply declined. Propose to file under Enhancements (Release 2).

[2014-05-06 06:24] Fetati commented on #204
Release 2. Not now.

[2014-05-06 06:36] projectnew opened #206 "Users can not see their charity"
![orders](https://cloud.githubusercontent.com/assets/7462589/2886459/20049f64-d4e6-11e3-9310-665174017f7b.jpg)
Steps:
1. Open web page http://gooddler.cloudapp.net/
2. Sigh in with valid data
3. Click on random scrolling picture
4. Choose an item which you want to donate and click "Donate"
5. Click "Check out"
6. Provide valid credit card data
7. Type valid Billing Information
8. Click "Confirm an

[2014-05-06 06:41] DeveloperRegistry opened #207 "Name and Address Validation was lost during Merge"
Address and Name validations were delivered as a part of Authorize.net implementation. However, current code does not have it. Restore the validation from Credit Card Processing branch. Retest.

[2014-05-06 06:50] projectnew opened #208 "[Delete] link does not work (is not active)"
![delete does not work](https://cloud.githubusercontent.com/assets/7462589/2886583/3fe84670-d4e9-11e3-9d1a-798fd4dc3b55.jpg)
Steps:
1. Open web page http://gooddler.cloudapp.net/
2. Sigh in with valid data
3. Click on 3x3-dot icon (My GOODdler)
4. In drop down menu click "My Posts"
5. Click "Create a New Post" button
6. Type valid "Title"
7. Type content
8. Click [Select files]  link to upload a p

[2014-05-06 07:17] projectnew opened #209 ""Error message:Error. Please fill in all fields required." Required fields are not specified."
![required fields](https://cloud.githubusercontent.com/assets/7462589/2886711/e1066f5c-d4ec-11e3-9e77-384c451b02db.jpg)
Steps:
1. Open web page http://gooddler.cloudapp.net/
2. Sigh in with valid data
3. Click on 3x3-dot icon (My GOODdler)
4. In drop down menu click "My Donees"
5. Click "Create a New Donee" button
6. Type valid data in all fields (exept "Federal Tax ID" and "Use a Subdomain of goo

[2014-05-06 07:35] projectnew opened #210 "User can not delete previously published post"
![delete button post](https://cloud.githubusercontent.com/assets/7462589/2886870/74e7fa9e-d4f0-11e3-8b91-40dd193882b5.jpg)

Steps:
1. Open web page http://gooddler.cloudapp.net/
2. Sigh in with valid data
3. Click on 3x3-dot icon (My GOODdler)
4. In drop down menu click "My Posts"
5. In "Action" column click round "Delete" button for random post

Observe:
"Delete" button does not work (is not acti

[2014-05-06 07:49] DeveloperRegistry commented on #207
Added validation back in. Please hit F5 to refresh your browser prior to retesting.

[2014-05-06 07:49] #207 closed, assigned to DeveloperRegistry

[2014-05-06 07:54] DeveloperRegistry commented on #205
Moved to Release 2. I just added simple validation to the field. Some zip code needs to be provided. The AVS will handle validation.

[2014-05-06 14:32] DmitrysIF commented on #175
@Fetati Убрано.

[2014-05-06 14:32] #175 closed, assigned to nobody

[2014-05-06 14:32] DmitrysIF commented on #203
@projectnew Исправлен баг в скрипте.

[2014-05-06 14:33] #203 closed, assigned to nobody

[2014-05-06 14:34] DmitrysIF commented on #202
@Elenarussian сделал перенаправление на страницу обновленного поста.

[2014-05-06 14:34] #202 closed, assigned to nobody

[2014-05-06 14:34] DmitrysIF commented on #200
@galinafed Исправлен текст ошибки.

[2014-05-06 14:34] #200 closed, assigned to nobody

[2014-05-06 14:36] DmitrysIF commented on #187
@Fetati Исправлено на ссылку вишлиста.

[2014-05-06 14:36] #187 closed, assigned to nobody

[2014-05-06 14:36] DmitrysIF commented on #197
@DeveloperRegistry Исправлено.

[2014-05-06 14:36] #197 closed, assigned to DeveloperRegistry

[2014-05-06 15:08] DmitrysIF commented on #201
@galinafed Прошу предоставить пример размещения сообщения :)
И сам текст сообщения.

[2014-05-06 16:38] galinafed commented on #201
Text:
Note: Please, create your wishlist first. Then you will be able to add all the items by clicking on Edit Wishlist.

Placement:
Right above Create Wishlist button.

Plus, replace Published with Publish Wishlist.

[2014-05-06 17:08] Fetati opened #211 "Check out page: Total Order - confusing numbers"
На мой взгляд, если показываем количество товара, то должна быть его цена за единицу перед количеством, потом общая стоимость, потом стоимость шипинга всего товара.
Второй вариант - можно сделать только общую стоимость товара по каждой позиции, и стоимость доставки.

![screen shot 2014-05-06 at 9 47 20 am](https://cloud.githubusercontent.com/assets/4335901/2892705/ee6127e8-d53f-11e3-8959-faffb1387

[2014-05-06 18:17] Elenarussian opened #212 "Можно ли заменить "Edit this Whishlist " на for example " Edit Whishlist 1" or something else ?"
![screen shot 2014-05-05 at 11 30 20 am](https://cloud.githubusercontent.com/assets/7408823/2893572/e3797394-d549-11e3-8453-d911a97034ea.png)

[2014-05-06 18:25] Elenarussian opened #213 "user unable to delete a post ( Safari)"
1. create  " New post"
2.  click button " Delete post "

bug: right now after user click " Delete " it keeps him on the same page , and user unable to delete a post

expectations : user should be able to delete post

![screen shot 2014-05-06 at 11 18 29 am](https://cloud.githubusercontent.com/assets/7408823/2893692/f437b640-d54a-11e3-9415-5ca4ca50341e.png)

[2014-05-06 18:36] Elenarussian opened #214 "user should be taken to " My Account " or " My Post " after Sing IN"
1. click " My Post " or "My Wishlist " or " My donees " or " My profile "
2. Sing In

After " Sing In " through "My Post " user should be taken to " My Post " ( or " My donees " or " My profile ) or at list " My Account "

![screen shot 2014-05-06 at 11 29 25 am](https://cloud.githubusercontent.com/assets/7408823/2893823/72d51c12-d54c-11e3-8eb4-ca51bb8fe1a6.png)

![screen shot 2014-05-06 at 11 34

[2014-05-06 18:50] Elenarussian opened #215 "maybe we should change title inside "My Cart " ( when cart is empty )?"
If user click " My cart " and it's empty he shouldn't see Button " Check Out " and shouldn't be able for check out too. And it would be better to redirect user to the main page or etc .....

![screen shot 2014-05-06 at 11 41 19 am](https://cloud.githubusercontent.com/assets/7408823/2893991/143b76f4-d54e-11e3-8b74-4bf5e08258f6.png)

For Example Amazon :

![screen shot 2014-05-06 at 11 40 53 am](htt

[2014-05-06 19:36] Elenarussian opened #216 "user gets error when click " do ""
1. Go to " Wishlists "
2. Choose wishlist " Wish 1 " or " My big wishlist " and etc
3. Click button " Do "

bug : user gets error when click " Do "

![screen shot 2014-05-06 at 12 36 06 pm](https://cloud.githubusercontent.com/assets/7408823/2894660/b4be68aa-d555-11e3-8cd4-7a9f23d8f287.png)

![screen shot 2014-05-06 at 12 32 19 pm](https://cloud.githubusercontent.com/assets/7408823/2894617/3d844c28

[2014-05-06 19:48] Elenarussian opened #217 "user gets error when open " Wishlist ""
1.go to the " Wishlists "
2. choose wishlist
3. click on it

bug : user gets error when open  " Wishlist "

![screen shot 2014-05-06 at 12 47 47 pm](https://cloud.githubusercontent.com/assets/7408823/2894755/53dc3510-d557-11e3-93cf-70275f85e195.png)

[2014-05-06 20:06] Elenarussian opened #218 "user should be able to " Sing In " before " Check out ""
1. Go to Wishlists
2. Choose items
3. Open " My cart "
4. Go to " Check out "

Good to have : if user has an account already ,he should be able to " Sing IN " before " Check Out "

Right now :  user can just "Sing Up " or to do an extra step for " Sing In "

![screen shot 2014-05-06 at 1 03 33 pm](https://cloud.githubusercontent.com/assets/7408823/2894968/05a406d6-d55a-11e3-922c-84aab5cda1a5.png)

[2014-05-06 20:59] Fetati opened #219 "Wrong Cursor"
http://gooddler.cloudapp.net/Wishlist/40042
Курсор мыши при выборе количества товара опять не тот - сейчас как для ввода текста, а должен быть в виде стрелки. С таким курсором, как сейчас, довольно сложно попасть на стрелки прокрутки.
Мы уже это правили когда-то. Опять слетело.

[2014-05-06 21:24] Fetati opened #220 "My Donations page"
Нам остро необходима страница My Donations для доноров.
Это может быть таблица, как My Donees и пр.
Разместить линк на нее нужно на странице User Profile

Данные таблицы должны быть: Donee, Wishlist, Items Donated, Donated ($), и еще снизу Total Donated ($)

[2014-05-06 21:29] Fetati opened #221 "Wrong E-mail notification"
Я оплатила несколько позиций товара разным Donee, а получила e-mail от последнего Donee на всю сумму. Причем, общая сумма большая, а последняя сумма была копеечная - $0.99 за товар, и 1 доллар за доставку.

Надо присылать имейлы от каждого Donee на их сумму. То есть, от одной оплаты может быть несколько имейлов.

![screen shot 2014-05-06 at 2 25 11 pm](https://cloud.githubusercontent.com/assets/43

[2014-05-06 21:29] DeveloperRegistry commented on #220
Can we schedule this for Release 2?

[2014-05-06 21:47] DeveloperRegistry commented on #221
Release 1 or Release 2? How critical it is?

[2014-05-06 21:51] Fetati commented on #221
Это очень критично - e-mail нужен для tax deduction. Получается, что charity получил реально товаров на 1 доллар, а в писме указано, что на 361!
Будут проблемы с налоговой и у донора, и у charity и у нас.

Получив данный имейл, я решила посмотреть кому я еще покупала подарки, и не нашла на сайте. Поэтому и возникла вторая проблема, описанная в #220

[2014-05-07 03:19] DeveloperRegistry commented on #221
OK, I will work on this.

[2014-05-07 03:44] DeveloperRegistry opened #222 "Create Common Application Exception Logging Framework"
Log all application exceptions into the database.

Create a table with environment (Test, Staging, Production), Exception Message and Exception Stack Trace as a Blob.

Create a Logger class with static methods that can be called from Exception Catch Blocks.

Add logging calls to critical Catch Blocks.

[2014-05-07 07:45] projectnew opened #223 "Password Reset - confirmation email-wrong email sender"
![wrong email sender](https://cloud.githubusercontent.com/assets/7462589/2899619/e032f99c-d5b9-11e3-8f18-062d16dc3be0.jpg)
Steps:
1. Open web page http://gooddler.cloudapp.net/
2. Click "Sigh in" button
3. Click "forgot password?" link
4. Type valid email address
5. Check your email box for "Password Reset" email

Observe: Sender of email - "Dmitry Shestialtynov dmitrys@ifface.com через sendgrid.i

[2014-05-07 08:01] DmitrysIF commented on #165
@TShket  Donee создаются с картинками, не вижу проблемы. По поводу возникающей проблемы загрузки больших картинок - пока исследуется.

[2014-05-07 08:01] #165 closed, assigned to nobody

[2014-05-07 08:01] projectnew opened #224 "Different site and company which is not formally related to GOODdler website asking to reset password"
Steps:
1. Open web page http://gooddler.cloudapp.net/
2. Click "Sigh in" button
3. Click "forgot password?" link
4. Type valid email address
5. Check your email box for "Password Reset" email.
6. Click Link in email to reset password.

Observe: During password reset a user is transferred to a different site and company, which is not formally related to GOODdler website and asked to reset password.

[2014-05-07 08:18] projectnew opened #225 "Confirmation email "Your password has been changed" is in the wrong format"
Steps:
1. Open web page http://gooddler.cloudapp.net/
2. Click "Sigh in" button
3. Click "forgot password?" link
4. Type valid email address
5. Check your email box for "Password Reset" email.
6. Click Link in email to reset password.
7. Type new password and confirm password
8. Click "Submit"
9. After "Account Password Reset" message appear go to email box to check confirmation email "Your passwo

[2014-05-07 08:47] DmitrysIF commented on #117
Закончил

[2014-05-07 08:47] #117 closed, assigned to nobody

[2014-05-07 08:48] DmitrysIF commented on #208
Fix

[2014-05-07 08:48] #208 closed, assigned to Fetati

[2014-05-07 08:48] DmitrysIF commented on #210
Fix

[2014-05-07 08:48] #210 closed, assigned to Fetati

[2014-05-07 15:03] DmitrysIF commented on #225
Это тестовый аккаунт stormpath. В релизе будет другой.

[2014-05-07 15:03] #225 closed, assigned to Fetati

[2014-05-07 15:04] DmitrysIF commented on #224
У нас используется сторонний сервис для управления аккаунтами.

[2014-05-07 15:04] #224 closed, assigned to Fetati

[2014-05-07 15:05] DmitrysIF commented on #223
Это тестовый аккаунт stormpath. В релизе будет другой.

[2014-05-07 15:05] #223 closed, assigned to Fetati

[2014-05-07 15:10] DmitrysIF commented on #220
@Fetati @DeveloperRegistry
 У нас она вообще-то есть. В профиле пользователя Donations of %FirstLastName%.
Можно добавить ссылочку в My Gooddler.

[2014-05-07 15:20] DmitrysIF commented on #217
Конкретнее описывайте баги!
Какой тип аккаунта - суперадминистратор или простой пользователь?
Был ли у аккаунта к этому вишлисту доступ как менеджера дони этого вишлиста?
Была ли у этого дони поставлена галочка Published?

[2014-05-07 15:26] DmitrysIF commented on #217
@Elenarussian  Уже разобрались - баг исправляется, вы сумели увидеть в списке неопубликованный вишлист, что не является нормальной работой этой страницы. :)

[2014-05-07 15:28] DmitrysIF commented on #216
Ноги этого бага растут из #217
Исправляется.

[2014-05-07 15:30] DmitrysIF commented on #213
@Elenarussian уже должно работать.

[2014-05-07 15:30] #213 closed, assigned to nobody

[2014-05-07 15:30] DmitrysIF commented on #212
@Fetati Посмотрите.

[2014-05-07 15:31] DmitrysIF commented on #211
@Fetati посмотрите, пожалуйста.

[2014-05-07 15:32] DmitrysIF commented on #206
@projectnew  See link on a Profile page - "Donations of %name%"

[2014-05-07 15:57] Fetati commented on #220
Проблема в том, что я там тоже вижу, что товар отправлен в donee, который был последним добавлен в вишлист.

![donations_of_tatiana_-_gooddler](https://cloud.githubusercontent.com/assets/4335901/2904861/9339e498-d5ff-11e3-9ea0-902e53ebdd6a.png)

На самом деле туда была куплена всего одна позиция на сумму $0.99, плюс $1 за доставку. А 7 пар ботинок на сумму 350 долларов (плюс $1.31x7 за доставку) в

[2014-05-07 16:08] Fetati commented on #206
@DmitrysIF Дим, это означает, что кнопку, где можно посмотреть Donations, совсем не заметно.
Давай поменяем местами "Write New Post" (вместе со значком) и "Donations of %name%" ? Это будет логичнее выглядеть.

И сделаем линк в выделенном на картинке куске на "2 items", который будет вести на страницу Donations http://gooddler.cloudapp.net/Profile/tatiana/Donations

[2014-05-07 16:24] Fetati commented on #211
Все равно не понятно. Вот так надо:

![check_out_-_gooddler](https://cloud.githubusercontent.com/assets/4335901/2905308/f5774502-d603-11e3-88c0-01bb2682625a.png)

*перечеркнуто, так как цифры не совпадают со столбцами. Они нужны, но правильные.

Все суммы в столбцах должны быть отцентрированы. Сейчас прыгают.

[2014-05-07 16:44] Fetati commented on #212
Можно просто убрать "this" - Edit Wishlist

[2014-05-07 17:21] Fetati commented on #220
@DmitrysIF: Дим, да, давай добавим ссылочку в My Gooddler. И еще, как я писала в #206, давай поменяем местами в My Profile кнопки "Write New Post" (вместе со значком) и "Donations of %name%" ? Это будет логичнее выглядеть.

И сделаем линк в выделенном на картинке куске на "2 items", который будет вести на страницу Donations http://gooddler.cloudapp.net/Profile/tatiana/Donations

[2014-05-07 17:26] galinafed commented on #215
Let's say:

"Your Cart is empty. Make a difference by purchasing items from our wishlists."

and have a link to main page

[2014-05-07 17:32] galinafed commented on #115
I shared document with thank you posts. Anything else on this one?

[2014-05-07 17:34] galinafed commented on #5
anything else on this one?

[2014-05-07 22:46] Fetati commented on #201
Вот так:
![create wishlist](https://cloud.githubusercontent.com/assets/4335901/2909882/53983ca6-d639-11e3-8f9d-5a116e77869a.jpg)

И замени Published на Publish Wishlist

[2014-05-07 22:49] Fetati commented on #196
Исправь стрелочки выбора количества товара! Не кликаются - трудно попасть.

[2014-05-07 23:22] galinafed opened #226 "Empty wishlist should not say 100% complete"
![screen shot 2014-05-07 at 4 20 23 pm](https://cloud.githubusercontent.com/assets/7177944/2910188/39967c1e-d63e-11e3-9088-e1ccf92fd177.png)
http://gooddler.cloudapp.net/Wishlist/40043

Between the time a wishlist created and items are added to it, we show that list is 100% completed. Can it be removed?

[2014-05-07 23:23] galinafed commented on #226
I think it should say:

No items were added to this list. Please, click on Edit this Wishlist to add items.

[2014-05-08 00:23] galinafed opened #227 "Use Capital Letters in Add Items"
![screen shot 2014-05-07 at 5 20 26 pm](https://cloud.githubusercontent.com/assets/7177944/2910563/f3774f0c-d646-11e3-9dc2-459e41d5da3a.png)

[2014-05-08 00:39] DeveloperRegistry commented on #226
Release 1 or Release 2. Please start stating if you need this for Go Live.

[2014-05-08 00:41] DeveloperRegistry commented on #226
Dima, I know it is a big change. Can we create a common Util method for percentages and messages? Right now the same logic is duplicated in multiple CHTML pages.

[2014-05-08 00:53] galinafed opened #228 "Replace word Needed with Quantity"
![screen shot 2014-05-07 at 5 50 16 pm](https://cloud.githubusercontent.com/assets/7177944/2910737/b25b5618-d64a-11e3-84ef-c9138aaeb5f8.png)

The screen shows 1 on all wishlists, even though more is needed.

I suggest to replace word Needed with Quantity
what do you think?

[2014-05-08 01:01] DeveloperRegistry commented on #228
I absolutely agree. "Needed" is very confusing. I vote for Release 1.  :+1:

[2014-05-08 01:26] galinafed commented on #226
Sorry, i am a newbie here )) Release 2 is ok

[2014-05-08 02:01] galinafed opened #229 "Grammar mistake. Adding administrator error message"
![screen shot 2014-05-07 at 7 00 16 pm](https://cloud.githubusercontent.com/assets/7177944/2911128/82aaf34c-d654-11e3-8c0b-ec6c734d20eb.png)

Should  say, ..... does not exist

Also, If there are no users added, is it possible not to have a box that says Username Action. I think it's confusing. It should appear only when admin is added.

Plus, correct this message "tatiana already has access for t

[2014-05-08 03:04] DmitrysIF commented on #220
@Fetati Понятно, мы с этим разберемся! Антон уже работает над разделением писем для каждого дони отдельного.

[2014-05-08 05:59] projectnew opened #230 "Mismatch between (1) Donee donation amount in confirmation email and (2) the amount ("Money") for the Donee in User account on web site."
![mismatch](https://cloud.githubusercontent.com/assets/7462589/2912153/e4a91d7c-d671-11e3-930e-b456f46cc9c0.jpg)
![mismatch2](https://cloud.githubusercontent.com/assets/7462589/2912154/e4a9946e-d671-11e3-84dd-362c44358dff.jpg)
![mismatch3](https://cloud.githubusercontent.com/assets/7462589/2912155/e4aa6baa-d671-11e3-8622-db54db619183.jpg)

Steps:
1. Open web page http://gooddler.cloudapp.net/
2. S

[2014-05-08 06:08] DeveloperRegistry commented on #230
It is a rounding issue. I will work on this,

[2014-05-08 06:08] projectnew commented on #230
Thank you

[2014-05-08 06:15] projectnew opened #231 "Mismatch between (1)"Total donated: $ " on User "Profile" page and (2) Total amount ("Money" column) on "Donations of User" page."
Steps:
1. Open web page http://gooddler.cloudapp.net/
2. Sigh in with valid data
3. Click on random scrolling picture
4. Choose an item, which you want to donate and click "Donate"
5. Click "Checkout" button
6. Type valid credit card data
7. Type valid "Billing Information"
8. Click "Confirm and pay" button
9. Observe "Thank you for your generosity! ...... Save it as a receipt for your donation. "

[2014-05-08 06:48] projectnew opened #232 "26 of 20!"
![26of20](https://cloud.githubusercontent.com/assets/7462589/2912572/cbbfcd78-d67c-11e3-842c-2779716613cb.jpg)

[2014-05-08 07:13] projectnew opened #233 ""Review" button doesn't work and not linked"
![review](https://cloud.githubusercontent.com/assets/7462589/2912753/060e7c10-d680-11e3-95cc-7903c7d01a92.jpg)

Steps:
1. Open web page http://gooddler.cloudapp.net/
2. Sigh in with valid data
3. Click on 3x3-dot icon (My GOODdler)
4. In drop down menu click "My Wishlist"
5. Click "Donation" button on random "Wishlist Name"
6. Click "Review" button

Observe Error message "Server Error in '/' Appli

[2014-05-08 07:29] projectnew opened #234 "Mismatch in amounts for one Donee"
![roses](https://cloud.githubusercontent.com/assets/7462589/2912788/a4fb90b0-d680-11e3-95ce-6a264bfea196.jpg)
![roses2](https://cloud.githubusercontent.com/assets/7462589/2912790/a516bb74-d680-11e3-9071-0a25daa28954.jpg)
![tulips](https://cloud.githubusercontent.com/assets/7462589/2912789/a50cd3b6-d680-11e3-9cd5-f6eef9d75a81.jpg)
![tulips2](https://cloud.githubusercontent.com/assets/7462589/291279

[2014-05-08 07:42] DeveloperRegistry commented on #234
Yes, valid issue.We will work on this under (#230)‏

[2014-05-08 07:42] projectnew opened #235 "User still can add to the cart items in 100% Completed Donee!!!"
![mismatch_roses2](https://cloud.githubusercontent.com/assets/7462589/2912934/b28cb490-d683-11e3-99e3-42244af400a0.jpg)
![mismatch_roses3](https://cloud.githubusercontent.com/assets/7462589/2912935/b28da896-d683-11e3-8550-bc3e95674715.jpg)
![roses](https://cloud.githubusercontent.com/assets/7462589/2912933/b28a7bd0-d683-11e3-89af-04354f7fb2a6.jpg)
![roses2](https://cloud.githubusercontent.com/asse

[2014-05-08 08:20] DmitrysIF commented on #226
@DeveloperRegistry
_Dima, I know it is a big change. Can we create a common Util method for percentages and messages? Right now the same logic is duplicated in multiple CHTML pages._

Это довольно сложно будет, так как там используются разные источники для подсчета процентов.

[2014-05-08 12:54] DmitrysIF commented on #217
@Elenarussian fixed

[2014-05-08 12:54] #217 closed, assigned to nobody

[2014-05-08 12:54] DmitrysIF commented on #216
@Elenarussian fixed

[2014-05-08 12:54] #216 closed, assigned to nobody

[2014-05-08 12:55] DmitrysIF commented on #229
@galinafed Fixed

[2014-05-08 12:55] #229 closed, assigned to nobody

[2014-05-08 12:55] DmitrysIF commented on #228
@galinafed fixed

[2014-05-08 12:55] #228 closed, assigned to Fetati

[2014-05-08 12:55] DmitrysIF commented on #209
@projectnew fixed

[2014-05-08 12:55] #209 closed, assigned to Fetati

[2014-05-08 12:55] DmitrysIF commented on #201
@galinafed Fixed

[2014-05-08 12:55] #201 closed, assigned to Fetati

[2014-05-08 12:56] DmitrysIF commented on #212
@Elenarussian Fixed

[2014-05-08 12:56] #212 closed, assigned to nobody

[2014-05-08 12:56] DmitrysIF commented on #220
Fixed

[2014-05-08 12:56] #220 closed, assigned to nobody

[2014-05-08 12:56] DmitrysIF commented on #206
Fixed

[2014-05-08 12:56] #206 closed, assigned to Fetati

[2014-05-08 12:56] DmitrysIF commented on #215
@Elenarussian Fixed

[2014-05-08 12:56] #215 closed, assigned to nobody

[2014-05-08 13:06] #232 closed, assigned to Fetati

[2014-05-08 15:41] DmitrysIF commented on #233
@Fetati Непонятно, что должна делать эта кнопка.

[2014-05-08 21:42] Elenarussian opened #236 "items disappear from " My cart ""
1. do not " Sing IN "
2. add items to " My cart "
3. go to Menu
4. click " Sing Out "

bug : When click " Sing Out " all items disappear from " My cart "
expectations : user should be able to save items in " My Cart "
User shouldn't be able to do " Sing Out " if he doesn't " Sing IN " ?

![screen shot 2014-05-08 at 2 36 01 pm](https://cloud.githubusercontent.com/assets/7408823/2921815/e8bc33b8-d6f

[2014-05-09 08:19] DeveloperRegistry opened #237 "Check Out Page Expiration Data - Bad Validation expiration date"
To reproduce, buy an product. Use 01/17 as MM/YY expiration date.

Needed for Release 1 (Go Live)

![image](https://cloud.githubusercontent.com/assets/3822498/2925803/564e3cec-d752-11e3-96b3-51903d13466d.png)

[2014-05-09 09:01] DeveloperRegistry commented on #237
Fixed

[2014-05-09 09:01] #237 closed, assigned to DeveloperRegistry

[2014-05-09 09:08] DeveloperRegistry commented on #221
Fixed and tested. Please test with multiple Donees. You should see multiple one email per donee.

[2014-05-09 09:08] #221 closed, assigned to DeveloperRegistry

[2014-05-09 09:17] DeveloperRegistry commented on #135
Fixed by Dima. Please note that you have to be the Post's Author to delete or have an Admin Role.

[2014-05-09 09:17] #135 closed, assigned to DeveloperRegistry

[2014-05-09 10:53] DmitrysIF commented on #233
Hide Rewiew button

[2014-05-09 10:53] #233 closed, assigned to Fetati

[2014-05-09 10:54] DmitrysIF commented on #211
Исправлено

[2014-05-09 10:54] #211 closed, assigned to DmitrysIF

[2014-05-09 10:54] DmitrysIF commented on #236
Исправлено.

[2014-05-09 10:54] #236 closed, assigned to nobody

[2014-05-09 16:28] DmitrysIF commented on #227
fixed

[2014-05-09 16:28] #227 closed, assigned to nobody

[2014-05-10 05:44] DeveloperRegistry opened #238 "Change From: GOODler to From: GOODdler Email Template"
Change From: GOODler to From: GOODdler Email Template

[2014-05-10 09:38] DeveloperRegistry commented on #238
Dima fixed the issue

[2014-05-10 09:38] #238 closed, assigned to DeveloperRegistry

[2014-05-10 17:45] Fetati opened #239 "Wishlist statistics. Wrong?"
Что означает Items Donated? В данном вишлисте уже даже есть закрытая позиция на 30 items, то есть 42.38 % уже выполнено. Ошибка?

![screen shot 2014-05-10 at 10 43 15 am](https://cloud.githubusercontent.com/assets/4335901/2936682/a77255c2-d86a-11e3-98a6-9167a6b35114.png)

[2014-05-11 09:41] DeveloperRegistry opened #240 "Error on My Donees Page - Needed for Go Live"
Steps to reproduce:

1) Delete all Donees (note: deleted through the database, not a logical delete)
2) Login to the Application
3) Select My Donees on the Menu

Error:
![image](https://cloud.githubusercontent.com/assets/3822498/2938112/52ec8e06-d8f0-11e3-9f96-49240808c79a.png)

[2014-05-11 22:04] DeveloperRegistry opened #241 "Arrows Dot not Work on IE"
Two issues:

1) Users can key in non-numeric data in the fields again
2) Arrows do not work on IE

To reproduce, go to any wishlist and try to donate on IE:

![image](https://cloud.githubusercontent.com/assets/3822498/2939748/354f943e-d958-11e3-9622-df76625cca86.png)

[2014-05-12 03:15] DmitrysIF commented on #240
Fixed

[2014-05-12 03:15] #240 closed, assigned to nobody

[2014-05-12 03:16] DmitrysIF commented on #239
Да, ошибка выбора источника цифр, было непонятно тогда, что значит это поле.
Думаю, это требует к исправлению.

[2014-05-12 04:01] Fetati opened #242 "Новый вишлист не появляется на главной странице"
Новый вишлист (http://gooddler.com/Wishlist/50047) не появляется на главной странице, хотя виден в списке вишлистов.
![screen shot 2014-05-11 at 8 57 48 pm](https://cloud.githubusercontent.com/assets/4335901/2940664/d341479c-d989-11e3-8daf-f18550b9d5fe.png)

вот он в списке вишлистов первый:
![screen shot 2014-05-11 at 8 57 53 pm](https://cloud.githubusercontent.com/assets/4335901/2940668/edbf02d0

[2014-05-12 04:24] galinafed opened #243 "Grammar mistake"
Should say "Posts not found"

![screen shot 2014-05-11 at 9 23 40 pm](https://cloud.githubusercontent.com/assets/7177944/2940759/38f134fa-d98d-11e3-931c-e92079d076d4.png)

[2014-05-12 04:26] Fetati opened #244 "Delete Post bug"
Шаги:
1. My Donees - хочу удалить посты, кликаю Posts
![screen shot 2014-05-11 at 9 20 59 pm](https://cloud.githubusercontent.com/assets/4335901/2940758/36af59f6-d98d-11e3-816d-d3e587529f59.png)
1. Жму Delete button
   ![screen shot 2014-05-11 at 9 21 04 pm](https://cloud.githubusercontent.com/assets/4335901/2940762/72775a60-d98d-11e3-81bc-d9516189f3ef.png)
2. Попадаю на большой список постов друг

[2014-05-12 04:29] Fetati commented on #242
Нашла свою ошибку, и другой баг - я не выбрала Publish, поэтому лист не появился на главной странице.
Но тогда он не должен появляться и в общем списке вишлистов. А он там появился.

[2014-05-12 04:49] Fetati opened #245 "Не работают subdomains"
Вот, к примеру: http://sfspca.gooddler.com/

[2014-05-12 08:13] DmitrysIF commented on #242
@Fetati Он там появляется только в том случае, если вы СуперАдминистратор или имеете права доступа к дони, которому принадлежит скрытый вишлист.

[2014-05-15 20:03] galinafed opened #246 "Underscored sentences should be links to appropriate web pages"
It would be good to have underscored sentences take our donors and donees to appropriate pages (to post goods and to purchase)

![screenshot 20](https://cloud.githubusercontent.com/assets/7177944/2990038/d968a680-dc6b-11e3-99ed-1ca1c1b8151e.png)

[2014-05-16 08:25] DeveloperRegistry opened #247 "Donations of XXX has wrong sub-totals"
Incorrect Sub-totals when buying from multiple donees. To reproduce buy items from 2-3 donees. The total is the same for all instead of sub-totals:

![image](https://cloud.githubusercontent.com/assets/3822498/2994828/7143ff6a-dcd3-11e3-840e-9534a5d9d115.png)

[2014-05-17 06:05] DeveloperRegistry commented on #247
Dima fixed the issue.

[2014-05-17 06:05] #247 closed, assigned to nobody

[2014-05-17 06:08] DeveloperRegistry opened #248 "Make dates mm.dd.yyyy format"
In the US, dates are usually displayed in mm/dd/yyyy format. Please reverse Days and Months. Ideally, the year should be 4-digit.

16.05.14 should be 05.16.2014

Two places:

![image](https://cloud.githubusercontent.com/assets/3822498/3004252/9a5d24b0-dd89-11e3-98d2-75091ac8f671.png)

![image](https://cloud.githubusercontent.com/assets/3822498/3004300/c110abba-dd8c-11e3-874e-fbce29a797b9.png)

[2014-05-17 06:15] DeveloperRegistry opened #249 "Item Count on Donee and Wishlist Lists are Incorrect"
The total count of items should 20. However, currently we show only 6 items.

Also, On the Wishlist Items Should be Wishlist Total Items and Items Donated - the total of donated

![image](https://cloud.githubusercontent.com/assets/3822498/3004264/83cdf84a-dd8a-11e3-9169-b684332afda9.png)

![image](https://cloud.githubusercontent.com/assets/3822498/3004270/8b0c6eb0-dd8b-11e3-9049-9b5ebd905c98.png)